<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'service',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>

</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page solution-cdp">
        <div class="main-inner">
            <div class="local module-a">
                <div class="local-head module-b">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'SOLUTION',
                        depth2: 'CDP Assistance',
                        depth3: null,
                        casetype: 'style-b'
                    }) %>
                    <div class="local-wrap">
                        <div class="local-subject">
                            <h2 class="local-name">
                                CDP AI Assistant <br>(Carbon Disclosure Project AI 지원 솔루션)
                            </h2>
                            <p class="local-summary">신속하고 정확한 CDP 평가 대응을 위하여 공식 Database로 학습된 AI 기능으로 <br>CDP 응답 자문 서비스를 이용해 보세요.                            
                            </p>
                        </div>
                        <div class="local-figure">
                            <img src="../../assets/images/solution/cdp/bg-local-head-solution-cdp.jpg" alt="" class="bg">
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">            
                        <div class="section module-a type-a" active-animation="type-1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">CDP 평가 대응시 기업의 애로사항</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list module-a style-a type-a">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/cdp/solution-cdp-01.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">CDP 평가 대응 경험이 부족한 기업은 CDP 문항의 의미를 이해하기 어려움</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/cdp/solution-cdp-02.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">요구하는 답변을 정확하게 기술하는데 애로사항이 있음
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/cdp/solution-cdp-03.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">평가 응답에 따른 CDP 평가 결과 예측 가능성이 낮음</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/cdp/solution-cdp-04.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">동종/유사기업의 Best Practice 응답내용을 참고할 수 있는 Reference가 없음</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section module-a type-a" active-animation="type-1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">솔루션 주요 특징 (Key Feature)</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list module-b style-b type-b">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/solution/cdp/clickcdp-01.jpg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <p class="board-head">즉각적인 CDP 평가 결과 예측</p>
                                                    <p class="board-body">CDP 문항은 사용자가 주어진 항목에서 응답 내용을 고르는 선택형 응답과 해당 질문에 대해 내용을 기술하는 서술형 응답 유형으로 나누어 집니다. 작성된 문항 응답은 G.AI 기술로 분석되어 사용자에게 즉각적인 예상점수를 제공합니다. 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-head">AI 학습 기반 응답 제공</p>
                                                    <p class="board-body">ClickESG CDP Assistance는 ①누적 응답기반 ②동종업종 응답 기반 ③작성자 Prompt 기반으로 학습된 G.AI 응답 서술 지원 기능이 구현되어 있어 의미 해석이 어려운 다수의 CDP 문항에도 사용자가 빠르고 정확한 응답이 가능하게 합니다.</p>
                                                </div>
                                                <div class="board-figure">
                                                    <img src="../../assets/images/solution/cdp/clickcdp-02.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

