<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'service',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>

</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page solution-esg">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'SOLUTION',
                        depth2: 'ESG ASSESSMENT',
                        depth3: null,
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject">
                        <h2 class="local-name">
                            ESG Assessment<br>(ESG 경영진단 솔루션)
                        </h2>
                        <p class="local-summary">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인에 맞춘<br>기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.
                        </p>
                    </div>
                    <div class="local-figure">
                        <div class="figure-wrapper">
                            <img src="../../assets/images/solution/bg-local-head-solution-esg.jpg" alt="" class="bg">
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">            
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">ESG 경영 진단에 대한 고객사의 애로사항</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-display">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

