<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'service',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>

</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page solution-data">
        <div class="main-inner">
            <div class="local module-a">
                <div class="local-head module-b">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'SOLUTION',
                        depth2: 'Data Hub',
                        depth3: null,
                        casetype: 'style-b'
                    }) %>
                    <div class="local-wrap">
                        <div class="local-subject">
                            <h2 class="local-name">
                                ESG Data Hub<br>(ESG 데이터관리 솔루션)
                            </h2>
                            <p class="local-summary">ESG 경영에 필수적인 ESG Data 및 성과 관리를 도와 드립니다.<br>
                                관리지표, 목표 및 실적이 일관성 있고 효과적으로 관리되어 귀사의 ESG 경영 수준이 한 단계 업그레이드됩니다.                            
                            </p>
                        </div>
                        <div class="local-figure">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="../../assets/images/solution/data-hub/bg-local-head-solution-data-mo.jpg">
                                <img src="../../assets/images/solution/data-hub/bg-local-head-solution-data.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">            
                        <div class="section module-a type-a" active-animation="type-1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">고객사의 Needs / Challenge</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list module-a style-a type-a">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/data-hub/solution-data-01.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">ESG 데이터 수집 및 관리에 과다한 시간과 노력 소요</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/data-hub/solution-data-02.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">ESG 데이터 불일치 및 신뢰성 부족으로 정보 활용도 저하</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/data-hub/solution-data-03.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">ESG 공시와 활용을 위한 체계적인 데이터 관리 체계 요구</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/data-hub/solution-data-04.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-name">조직과 사업의 확장과 변경에 따른 민첩한 대응 요구</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section module-a type-a" active-animation="type-1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">솔루션 주요 특징 (Key Feature)</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list module-b style-b type-b">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/solution/data-hub/clickdata-01.jpg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <p class="board-head">효과적인 데이터 수집 및 및 관리</p>
                                                    <p class="board-body">ESG 데이터 계산식 정의 기능을 내장되어 최소한의 현장 데이터 입력만으로 다양한 ESG 실적 데이터를 산출할 수 있어 데이터 중복 방지 및 일관성이 보장됩니다. 효과적인 ESG 데이터 수집과 ESG관리 조직과 현장 조직간 의사소통이 간단해 집니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-head">유연하고 확장성 있는 관리 범위 설정</p>
                                                    <p class="board-body">유연한 조직 설정 기능으로 다양한 조직 레벨의 ESG 데이터 실적 취합을 용이하게 할 수 있으며,  신규 자회사 및 사업장의 확대시에도 ESG 데이터 관리 범위를 손쉽게 조정할 수 있습니다.</p>
                                                </div>
                                                <div class="board-figure">
                                                    <img src="../../assets/images/solution/data-hub/clickdata-02.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/solution/data-hub/clickdata-03.jpg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <p class="board-head">지표 설정 및 통합 관리</p>
                                                    <p class="board-body">전사 통합지표 운영을 위한 사업장별 관리지표 설정 기능이 구현되어 있으며, 사업장 특성을 고려한 효율적인 실적 데이터 취합 및 관리 기능을 제공합니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-head">데이터 접근제한 및 보안관리</p>
                                                    <p class="board-body">효율적 데이터 활용 및 정보 보안을 위해소속 조직/사용자 역할 기반의 데이터 접근 통제 기능이 적용되어 있으며, 지표 레벨의 정밀한 데이터 접근 통제가 가능합니다.</p>
                                                </div>
                                                <div class="board-figure">
                                                    <img src="../../assets/images/solution/data-hub/clickdata-04.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

