<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'service',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>

</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page solution-esg">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'SOLUTION',
                        depth2: 'ESG Assessment',
                        depth3: null,
                        casetype: 'style2'
                    }) %>
                    <div class="local-subject">
                        <h2 class="local-name">
                            ESG Assessment<br>(ESG 경영진단 솔루션)
                        </h2>
                        <p class="local-summary">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인에 맞춘<br>기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.
                        </p>
                    </div>
                    <div class="local-figure">
                        <div class="figure-wrapper">
                            <img src="../../assets/images/solution/bg-local-head-solution-esg.jpg" alt="" class="bg">
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">            
                        <div class="section design1 style1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">ESG 경영 진단에 대한 고객사의 애로사항</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design1 style1 type1">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/solution-esg01.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-subject">합리적이고 신뢰성 있는 평가방법론과 프로세스 지원</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/solution-esg02.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-subject">최신 동향 및 규제 변화에 다른 신속한 대응 요구</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/solution-esg03.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-subject">비교 가능하고 객관적인 ESG 경영관리 수준 파악</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/solution-esg04.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-subject">진단기업에게 예측 가능한 ESG 진단 결과와 근거를 제시</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section design1 style1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <div class="section-name">ESG 경영 진단에 대한 고객사의 애로사항</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design2 style2 type2">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/clickesg-01.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-subject">과학적인 ESG 평가방법론과 프로세스</p>
                                                    <p class="post-summary">ClickESG ESG Assessment 솔루션은 기업 ESG 경영수준을 정확하고 합리적으로 측정할 수 있는 평가지표와 MSCI 기반 산업별 가중치가 적용된 평가방법론과 프로세스를 완벽히 지원합니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-head">
                                                    <p class="post-subject">외부 ESG 규제 및 평가 Trend 대응</p>
                                                    <p class="post-summary">다중 지표셋 및 지표의 버전관리 기능을 내재되어 있어 매년 변화하고 있는 ESG 규제 및 평가 기준에 대해 신속한 대응이 가능하고, 진단 결과의 연결성이 보장됩니다.</p>
                                                </div>
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/clickesg-02.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/clickesg-03.jpg" alt="">
                                                </div>
                                                <div class="post-head">
                                                    <p class="post-subject">신뢰할 수 있는 진단 결과</p>
                                                    <p class="post-summary">ESG 경영 진단 결과의 객관성 보장을 위한 기준 데이터 및 PeerGroup 데이터가 제공되며, 이를 기반으로 각 지표별 진단 수준의 측정 및 목표 개선 레벨을 체계적으로 결정할 수 있도록 지원합니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-head">
                                                    <p class="post-subject">구체적인 개선계획 수립 지원</p>
                                                    <p class="post-summary">진단결과 시뮬레이션 기능을 통하여 진단기업에게 예측 가능한 ESG 진단결과를 제공함과 더불어 개선 방안에 대해 수용성을 높임으로써 ESG 개선 활동의 실행력을 제고할 수 있습니다.</p>
                                                </div>
                                                <div class="post-figure">
                                                    <img src="../../assets/images/solution/clickesg-04.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

