<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'service',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        tab();
    });
</script>
</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page esg-consulting">
        <div class="main-inner">
            <div class="local module-a">
                <div class="local-head module-b">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'SERVICE',
                        depth2: 'ESG 진단 컨설팅',
                        depth3: null,
                        casetype: 'style-b'
                    }) %>
                    <div class="local-wrap">
                        <div class="local-subject">
                            <h2 class="local-name">
                                ESG 진단 컨설팅
                            </h2>
                            <p class="local-summary">ESG 경영관리 플랫폼은 지표/분류체계 범용성, 진단 객관성, 사용자 편의성 측면에서 특장점이 있으며, 다양한 사용자의 니즈를 충족시켜 시장성을 확대 시킵니다.
                            </p>
                        </div>
                        <div class="local-figure">
                            <img src="../../assets/images/service/esg/bg-local-head-service-esg.jpg" alt="" class="bg">
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">            
                        <div class="section module-a type-a">
                            <div class="section-body">
                                <div class="tab-display module-b">
                                    <div class="swiper tab-wrap">
                                        <ul class="swiper-wrapper tab-list">
                                            <li id="tab1" class="swiper-slide tab-item active"><button class="tab-text">지표/분류체계 범용성</button></li>
                                            <li id="tab2" class="swiper-slide tab-item"><button class="tab-text">진단 객관성</button></li>
                                            <li id="tab3" class="swiper-slide tab-item"><button class="tab-text">서비스 절차</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-display module-a">
                                    <div class="panel-list">
                                        <div id="tab-panel1" class="panel-item clients">
                                            <div class="panel-wrap">
                                                <div class="section" active-animation="type-1">
                                                    <div class="section-wrap">
                                                        <div class="section-head">
                                                            <div class="section-subject">
                                                                <h4 class="section-name">지표/분류체계 범용성</h4>
                                                            </div>
                                                            <div class="section-summary">
                                                                <div class="data-list module-a style-a type-a">
                                                                    <div class="data-item">
                                                                        <div class="data-wrap">
                                                                            <div class="data-body">
                                                                                <div class="bullet-list module-a style-a type-d">
                                                                                    <div class="bullet-item">영향력이 높은 ESG 평가기관의 기준과 지표를 분석 및 조회 할 수 있고, 국내외 대표 산업 분류(MSCI, 통계청, SASB)를 총 망라한 자체 산업분류를 확보하고 있어 지표/분류체계의 범용성을 확보하고 있습니다.<br> 공시기관은 GRI, IBC, WFE, K-ESG, 평가기관은 MSCI, DJSI, KCGS를 참고 하였습니다. 산업 분류는 69개(세부산업 기준으로는 163개)로 나뉘어져 있습니다.</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="section-body">
                                                            <div class="post-list module-c style-c type-c">
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-head">
                                                                            <em class="post-name">Frameworks</em>
                                                                            <p class="post-summary">지표 범용성 증대를 위해 글로벌 주요 관련기관의 지표를 산업별, 정성/정량별, 관리수준별로 분류합니다.</p>
                                                                        </div>
                                                                        <div class="post-figure">
                                                                            <img src="../../assets/images/service/solution-framework.jpg" alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-head">
                                                                            <em class="post-name">산업 특성 반영</em>
                                                                            <p class="post-summary">선정된 ESG 지표는 19개 대분류, 44개 중분류(산업 공통 21개 / 산업 특화 23개), 329개 세부지표로 구성됩니다.</p>
                                                                        </div>
                                                                        <div class="post-body">
                                                                            <div class="t-display module-b style-b type-b align3">
                                                                                <table>
                                                                                    <caption>산업 특성 반영 테입블</caption>
                                                                                    <colgroup>
                                                                                        <col style="width: 102px;">
                                                                                        <col style="width: 244px;">
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                    </colgroup>
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">영역</th>
                                                                                            <th scope="col">대분류</th>
                                                                                            <th scope="col" colspan="5">중분류</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td rowspan="7" class="has-bg">환경</td>
                                                                                            <td class="bottom-grey">환경경영</td>
                                                                                            <td class="common-index">환경경영관리</td>
                                                                                            <td class="special-index">원자재 관리</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">친환경기회</td>
                                                                                            <td class="special-index">원자재 관리</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">기후변화 대응</td>
                                                                                            <td class="common-index">온실가스 배출</td>
                                                                                            <td class="common-index">에너지 소비</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">대기오염 저감</td>
                                                                                            <td class="common-index">대기오염물질</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">수자원 보호</td>
                                                                                            <td class="common-index">용수 소비</td>
                                                                                            <td class="common-index">수질오염물질</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">폐기물</td>
                                                                                            <td class="common-index">폐기물</td>
                                                                                            <td class="special-index">전자 폐기물</td>
                                                                                            <td class="special-index">포장 재료 및 폐기물</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">생태계 보존</td>
                                                                                            <td class="common-index">생물다양성/토지이용</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td rowspan="5" class="has-bg">사회</td>
                                                                                            <td class="bottom-grey">구성원</td>
                                                                                            <td class="common-index">인권</td>
                                                                                            <td class="common-index">다양성 및 포용성</td>
                                                                                            <td class="common-index">인적 자본 </td>
                                                                                            <td class="common-index">보건안전</td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">협력사</td>
                                                                                            <td class="common-index">공급망 관리</td>
                                                                                            <td class="special-index">분쟁 광물 관리</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey" rowspan="2">제품/고객</td>
                                                                                            <td class="common-index">제품 품질 및 안전</td>
                                                                                            <td class="special-index">제품 내화학물질</td>
                                                                                            <td class="special-index">소미자 금융 보호</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="special-index">접근성-통신 산업</td>
                                                                                            <td class="special-index">접근성-금융 산업</td>
                                                                                            <td class="special-index">접근성-헬스케어 산업</td>
                                                                                            <td class="special-index">책임투자</td>
                                                                                            <td class="special-index">영양과 건강</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">지역사회</td>
                                                                                            <td class="special-index" colspan="2">지역사회 지원 및 사회공헌</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td rowspan="8" class="has-bg">지배구조</td>
                                                                                            <td class="bottom-grey">정보보안</td>
                                                                                            <td class="common-index">정보보안</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">이사회 </td>
                                                                                            <td class="special-index">이사회 구성</td>
                                                                                            <td class="special-index">이사회 운영</td>
                                                                                            <td class="special-index">이사보수</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">감사</td>
                                                                                            <td class="special-index">내부 감사기구</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">주주</td>
                                                                                            <td class="special-index">주주 권리보호</td>
                                                                                            <td class="special-index">주주 권리보호</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">윤리경영</td>
                                                                                            <td class="common-index">용수 소비</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">투명성</td>
                                                                                            <td class="common-index">정보공시</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">이해관계자 관리</td>
                                                                                            <td class="common-index">이해관계자 소통</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">외부 이니셔티브</td>
                                                                                            <td class="common-index">이니셔티브참여</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <p class="comment module-a">* 환경 공급망 세부지표 4개(유해물질, 오염방지 및 자원절감), 사회 공급망 세부지표 11개(아동/강제 노동), 지배구조 공급망 세부지표(관리시스템) 8개가 포함된 수치</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-panel2" class="panel-item partners">
                                            <div class="panel-wrap">
2
                                            </div>
                                        </div>
                                        <div id="tab-panel3" class="panel-item partners">
                                            <div class="panel-wrap">
3
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

