<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
}) %>
<script src="./../../assets/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        tab();
    });
</script>
</head>
<style>

</style>
<body>
<div id="wrap" class="wrap">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main id="main" class="page esg-consulting">
        <div class="page-body">
            <div class="local module-b">
                <div class="local-head">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'SERVICE',
                        depth2: 'ESG 진단 컨설팅',
                        depth3: null,
                        casetype: 'style-b'
                    }) %>
                    <div class="local-wrap">
                        <div class="local-subject">
                            <h2 class="local-name">
                                ESG 진단 컨설팅
                            </h2>
                            <p class="local-summary">ESG 경영관리 플랫폼은 지표/분류체계 범용성, 진단 객관성, 사용자 편의성 측면에서 특장점이 있으며, 다양한 사용자의 니즈를 충족시켜 시장성을 확대 시킵니다.
                            </p>
                        </div>
                        <div class="local-figure">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="../../assets/images/service/esg/bg-local-head-service-esg-mo.jpg">
                                <img src="../../assets/images/service/esg/bg-local-head-service-esg.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">
                        <div class="section module-a">
                            <div class="section-body">
                                <div class="tab-display module-b">
                                    <div class="swiper tab-wrap">
                                        <ul class="swiper-wrapper tab-list">
                                            <li id="tab1" class="swiper-slide tab-item active"><button class="tab-text">지표/분류체계 범용성</button></li>
                                            <li id="tab2" class="swiper-slide tab-item"><button class="tab-text">진단 객관성</button></li>
                                            <li id="tab3" class="swiper-slide tab-item"><button class="tab-text">서비스 절차</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-display module-a">
                                    <div class="panel-list">
                                        <div id="tab-panel1" class="panel-item clients">
                                            <div class="panel-wrap">
                                                <div class="section">
                                                    <div class="section-wrap">
                                                        <div class="section-head">
                                                            <div class="section-subject">
                                                                <h4 class="section-name">지표/분류체계 범용성</h4>
                                                            </div>
                                                            <div class="section-summary">
                                                                <div class="bullet-list module-a style-a type-d">
                                                                    <div class="bullet-item">영향력이 높은 ESG 평가기관의 기준과 지표를 분석 및 조회 할 수 있고, 국내외 대표 산업 분류(MSCI, 통계청, SASB)를 총 망라한 자체 산업분류를 확보하고 있어 지표/분류체계의 범용성을 확보하고 있습니다.<br> 공시기관은 GRI, IBC, WFE, K-ESG, 평가기관은 MSCI, DJSI, KCGS를 참고 하였습니다. 산업 분류는 69개(세부산업 기준으로는 163개)로 나뉘어져 있습니다.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="section module-a">
                                                    <div class="section-wrap">
                                                        <div class="section-body">
                                                            <div class="post-list module-c style-c">
                                                                <div class="post-item">
                                                                    <div class="post-wrap" style="position: relative;">
                                                                        <div class="post-head">
                                                                            <em class="post-name">Frameworks</em>
                                                                            <p class="post-summary">
                                                                                지표 범용성 증대를 위해 글로벌 주요 관련기관의 지표를 산업별, 정성/정량별, 관리수준별로 분류합니다.
                                                                            </p>
                                                                        </div>
                                                                        <button type="button" class="img-pop-more">이미지 팝업 열기</button>
                                                                        <div class="post-figure height">
                                                                            <img src="../../assets/images/service/esg/framework-01.svg" alt=""  style="min-width: 1080px;min-height: 680px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-head">
                                                                            <em class="post-name">산업 특성 반영</em>
                                                                            <p class="post-summary">선정된 ESG 지표는 19개 대분류, 44개 중분류(산업 공통 21개 / 산업 특화 23개), 329개 세부지표로 구성됩니다.</p>
                                                                        </div>
                                                                        <div class="post-body">
                                                                            <div class="table-info">
                                                                                <div class="mark module-a style-a type-a color1">
                                                                                    <span class="mark-text">공통지표</span>
                                                                                </div>
                                                                                <div class="mark module-a style-b type-a">
                                                                                    <span class="mark-text">특화지표</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="t-display module-b style-b type-b align3 height">
                                                                                <table style="min-width: 1080px;">
                                                                                    <caption>산업 특성 반영 테입블</caption>
                                                                                        <colgroup>
                                                                                        <col style="width: 102px;">
                                                                                        <col style="width: 244px;">
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                    </colgroup>
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">영역</th>
                                                                                            <th scope="col">대분류</th>
                                                                                            <th scope="col" colspan="5">중분류</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td rowspan="7" class="has-bg">환경</td>
                                                                                            <td class="bottom-grey">환경경영</td>
                                                                                            <td class="common-index">환경경영관리</td>
                                                                                            <td class="special-index">원자재 관리</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">친환경기회</td>
                                                                                            <td class="special-index">원자재 관리</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                            <td class="special-index">친환경 건축의 기회</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">기후변화 대응</td>
                                                                                            <td class="common-index">온실가스 배출</td>
                                                                                            <td class="common-index">에너지 소비</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">대기오염 저감</td>
                                                                                            <td class="common-index">대기오염물질</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">수자원 보호</td>
                                                                                            <td class="common-index">용수 소비</td>
                                                                                            <td class="common-index">수질오염물질</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">폐기물</td>
                                                                                            <td class="common-index">폐기물</td>
                                                                                            <td class="special-index">전자 폐기물</td>
                                                                                            <td class="special-index">포장 재료 및 폐기물</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">생태계 보존</td>
                                                                                            <td class="common-index">생물다양성/토지이용</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td rowspan="5" class="has-bg">사회</td>
                                                                                            <td class="bottom-grey">구성원</td>
                                                                                            <td class="common-index">인권</td>
                                                                                            <td class="common-index">다양성 및 포용성</td>
                                                                                            <td class="common-index">인적 자본 </td>
                                                                                            <td class="common-index">보건안전</td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">협력사</td>
                                                                                            <td class="common-index">공급망 관리</td>
                                                                                            <td class="special-index">분쟁 광물 관리</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey" rowspan="2">제품/고객</td>
                                                                                            <td class="common-index">제품 품질 및 안전</td>
                                                                                            <td class="special-index">제품 내화학물질</td>
                                                                                            <td class="special-index">소미자 금융 보호</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="special-index">접근성-통신 산업</td>
                                                                                            <td class="special-index">접근성-금융 산업</td>
                                                                                            <td class="special-index">접근성-헬스케어 산업</td>
                                                                                            <td class="special-index">책임투자</td>
                                                                                            <td class="special-index">영양과 건강</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">지역사회</td>
                                                                                            <td class="special-index" colspan="2">지역사회 지원 및 사회공헌</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td rowspan="8" class="has-bg">지배구조</td>
                                                                                            <td class="bottom-grey">정보보안</td>
                                                                                            <td class="common-index">정보보안</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">이사회 </td>
                                                                                            <td class="special-index">이사회 구성</td>
                                                                                            <td class="special-index">이사회 운영</td>
                                                                                            <td class="special-index">이사보수</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">감사</td>
                                                                                            <td class="special-index">내부 감사기구</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">주주</td>
                                                                                            <td class="special-index">주주 권리보호</td>
                                                                                            <td class="special-index">주주 권리보호</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">윤리경영</td>
                                                                                            <td class="common-index">용수 소비</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">투명성</td>
                                                                                            <td class="common-index">정보공시</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">이해관계자 관리</td>
                                                                                            <td class="common-index">이해관계자 소통</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey">외부 이니셔티브</td>
                                                                                            <td class="common-index">이니셔티브참여</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p class="comment module-a style-a">* 환경 공급망 세부지표 4개(유해물질, 오염방지 및 자원절감), 사회 공급망 세부지표 11개(아동/강제 노동), 지배구조 공급망 세부지표(관리시스템) 8개가 포함된 수치</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-panel2" class="panel-item partners">
                                            <div class="panel-wrap">
                                                <div class="section">
                                                    <div class="section-wrap">
                                                        <div class="section-head">
                                                            <div class="section-subject">
                                                                <h4 class="section-name">진단 객관성</h4>
                                                            </div>
                                                            <div class="section-summary">
                                                                <div class="bullet-list module-a style-a type-d">
                                                                    <div class="bullet-item">당사의 ESG 진단체계는 Peer Group 데이터에 기반한 평가 Logic을 갖고 있습니다.<br>외부 전문기관 데이터 활용(주기적 업데이트)으로 신뢰성을 확보 했고, 국내 경영 환경과 기업 실정을 반영한 지표와 데이터 사용으로 객관성을 증대 시켰습니다.또한, ESG 투자자 신뢰도가 높은 MSCI 평가를 진단체계 Logic에 연동 시켜 사전진단 기능을 제공합니다.MSCI와의 차이점은 MSCI 대비 많은 평가항목(산업공통, 국내 특성 지표 등)을 제공한다는 점입니다. 이는 보수적으로 산출되는 평가 결과를 얻을 수 있습니다.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="section module-a">
                                                    <div class="section-wrap">
                                                        <div class="section-body">
                                                            <div class="post-list module-c style-c">
                                                                <div class="post-item">
                                                                    <div class="post-wrap" style="position: relative;">
                                                                        <div class="post-head">
                                                                            <em class="post-name">Frameworks</em>
                                                                            <p class="post-summary">
                                                                                지표 유형별 평가척도를 설정하고, 중분류와 영역별 가중치를 적용합니다.
                                                                            </p>
                                                                        </div>
                                                                        <button type="button" class="img-pop-more">이미지 팝업 열기</button>
                                                                        <div class="post-figure height">
                                                                            <img src="../../assets/images/service/esg/framework-02.svg" alt=""  style="min-width: 1080px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-head">
                                                                            <em class="post-name">외부 전문 기관 데이터 사용</em>
                                                                            <p class="post-summary">ESG 경영관리 플랫폼은 7개의 주요 평가/공시 기관의 항목을 참고로 하여 진단 결과가 다소 보수적으로 나오는 경향이 있는데, 이는 사용자로 하여금 지속적인 개선 필요성에 대한 동기부여를 제공합니다. 당사의 ESG 진단 서비스는 타 기관 대비 평가 항목의 숫자가 많고 ESG와 관련된 다양한 이슈를 포괄적으로 담아 냄으로써 객관성을 확보합니다.</p>
                                                                        </div>
                                                                        <div class="post-body">
                                                                            <div class="t-display module-c style-c type-c align3 height">
                                                                                <table style="min-width: 1080px;">
                                                                                    <caption>산업 특성 반영 테입블</caption>
                                                                                    <colgroup>
                                                                                        <col style="width: 102px;">
                                                                                        <col style="width: 244px;">
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                        <col>
                                                                                    </colgroup>
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col" rowspan="2">영역</th>
                                                                                            <th scope="col" rowspan="2">ESG진단서비스</th>
                                                                                            <th scope="col" colspan="3">평가기관</th>
                                                                                            <th scope="col" colspan="4">공시기간</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="organization" scope="col" rowspan="2">M</th>
                                                                                            <th class="organization" scope="col">K</th>
                                                                                            <th class="organization">D</th>
                                                                                            <th class="organization">GRI</th>
                                                                                            <th class="organization">WFE</th>
                                                                                            <th class="organization">IBC</th>
                                                                                            <th class="organization">K-ESG</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td rowspan="10" class="has-bg">환경</td>
                                                                                            <td class="right-grey">환경경영관리</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey right-grey">원자재관리</td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">온실가스 배출</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="right-grey">에너지 소비</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey right-grey">제품 탄소 발자국</td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">대기오염물질</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">용수 소비</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">수질오염물질</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">폐기물</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">생물다양성 및 토지 이용</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td rowspan="9" class="has-bg">사회</td>
                                                                                            <td class="right-grey">인권</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey bottom-grey right-grey">다양성 및 포용성</td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey right-grey">인적 자본</td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="bottom-grey right-grey">보건안전</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="right-grey">공급망 관리</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey bottom-grey right-grey">제품 품질 및 안전</td>
                                                                                            <td class="check has-grey"></td>
                                                                                            <td class="check has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="check has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey right-grey">영양과 건강의 기회</td>
                                                                                            <td class="check has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="right-grey">지역사회 및 사회공헌</td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td></td>
                                                                                            <td class="check"></td>
                                                                                            <td class="check"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-grey right-grey">정보보안</td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey check"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                            <td class="has-grey"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="has-bg">개수</td>
                                                                                            <td class="bold right-grey">19</td>
                                                                                            <td class="bold">7</td>
                                                                                            <td class="bold">14</td>
                                                                                            <td class="bold">12</td>
                                                                                            <td class="bold">16</td>
                                                                                            <td class="bold">8</td>
                                                                                            <td class="bold">8</td>
                                                                                            <td class="bold">10</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p class="comment module-a style-a">* 예시 자료 (Food Retail 산업의 타기관과의 평가 영역 비교)</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-panel3" class="panel-item last">
                                            <div class="panel-wrap">
                                                <div class="section">
                                                    <div class="section-wrap">
                                                        <div class="section-head">
                                                            <div class="section-subject">
                                                                <h4 class="section-name">서비스 절차</h4>
                                                            </div>
                                                            <div class="section-summary">
                                                                <div class="bullet-list module-a style-a type-d">
                                                                    <div class="bullet-item">자가 진단부터 진단, 결과 Report까지 전 과정을 온라인으로 진행합니다.</div>
                                                                    <div class="bullet-item">자가진단은 진단 문항 별 답변하는 방식, 파일로 일괄 등록하는 방식, 이전 진단 버전을 불러오는 방식 등 플랫폼을 처음 이용하는 사용자도 쉽게 이용할 수 있도록 다양한 방식을 제공합니다.  특히, 도출된 개선과제는 목표 수준, 담당자를 설정하여 지속적으로 기록 관리할 수 있어서, 단기간 ESG 수준 향상을 위한 효과적인 경영관리 Tool로 활용할 수 있습니다.</div>
                                                                    <div class="bullet-item">진단 결과에 따라, 보다 심화 컨설팅을 진행할 수도 있는데, 플랫폼에 등록된 결과를 바탕으로 진행하므로 보다 효율적인 컨설팅이 가능합니다.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="section-body">
                                                            <div class="post-list module-c style-c">
                                                                <div class="post-item">
                                                                    <div class="post-wrap" style="position: relative;">
                                                                        <button type="button" class="img-pop-more">이미지 팝업 열기</button>
                                                                        <div class="post-figure ">
                                                                            <img src="../../assets/images/service/esg/framework-03.svg" alt="" style="min-width: 1080px;min-height: 414px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>

     <div class="temp-img-modal-layer" style="z-index: 1000;">
        <div class="temp-modal-header">
            <button type="button" class="temp-modal-close">닫기</button>
        </div>
        <div class="temp-modal-body">
            <div class="content-responsive-pop-img-group group-type1" data-zoomstep="-2" style="max-height: 100%; overflow: auto; zoom: 0.75;">
                <div class="content-responsive-pop-img-group-row">
                    <div class="content-responsive-pop-img">
                        <img src="../../assets/images/service/esg/framework-01.svg" alt="시뮬레이션 및 리포팅 기능 이미지 1">
                        <img src="../../assets/images/service/esg/framework-01.svg" alt="시뮬레이션 및 리포팅 기능 이미지 1">
                    </div>
                    <div class="content-responsive-pop-img">
                        <img class="pc-hide" src="../../assets/images/service/esg/framework-01.svg" alt="시뮬레이션 및 리포팅 기능 이미지 2">
                        <img class="m-hide" src="../../assets/images/service/esg/framework-01.svg" alt="시뮬레이션 및 리포팅 기능 이미지 2">
                    </div>
                </div>
            </div>
        </div>
        <div class="temp-modal-footer">
            <div class="temp-modal-button-group">
                <button type="button" data-do="up" class="temp-modal-scale">확대</button>
                <button type="button" data-do="dn" class="temp-modal-scale">축소</button>
            </div>
        </div>
    </div>
    </div>
</body>
</html>



