<!-- page-foot -->
<footer id="footer">
    <div class="footer-inner">
        <div class="footer-head">
            <a href="#" class="footer-subject"><span class="footer-name blind">ClickESG</span></a>
        </div>
        <div class="footer-body">
            <div class="navi-list">
                <h2 class="navi-title">SERVICE</h2>
                <ul class="navi-wrap">
                    <li class="navi-item">
                        <a href="#">Service 소개</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">ESG 진단 컨설팅</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">ESG 공급망 진단 컨설팅</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">Net-Zero 컨설팅</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">ESG Data Hub 구축 컨설팅</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">CDP 대응 자문 컨설팅</a>
                    </li>
                </ul>
            </div>
            <div class="navi-list">
                <h2 class="navi-title">SOLUTION</h2>
                <ul class="navi-wrap">
                    <li class="navi-item">
                        <a href="#">Solution 소개</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">ESG Assessment</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">SCM Assessment</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">Net-Zero</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">Data Hub</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">CDP Assistance</a>
                    </li>
                </ul>
            </div>
            <div class="navi-list">
                <h2 class="navi-title">ABOUT US</h2>
                <ul class="navi-wrap">
                    <li class="navi-item">
                        <a href="#">ClickESG 소개</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">Partnership</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">SCM Assessment</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">Reference</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">News & Article</a>
                    </li>
                    <li class="navi-item">
                        <a href="#">News & AContact Us</a>
                    </li>
                </ul>
            </div>
            <div class="navi-list">
                <h2 class="navi-title">
                    <a href="#" class="link">PLATFORM</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="footer-aside">
        <div class="footer-aside-inner">
            <p class="copyright">COPYRIGHTS 2025 SK Inc. ALL RIGHTS RESERVED.</p>
            <ul class="info-area">
                <li class="info-area-link">
                    <a href="">이용약관</a>
                </li>
                <li class="info-area-link">
                    <a href="">개인정보 처리방침</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-to-top">
        <button type="button" id="topBtn" class="top-btn">
            <span class="btn-text blind">Top</span>
        </button>
    </div>
</footer>
<!-- //page-foot -->