@charset "utf-8";

@use 'components/mixin' as *;
@use 'components/variables' as *;

body {
    .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }

    @include web {
        .mo-only {
            display: none !important;
        }
    }

    @include mobile {
        .pc-only {
            display: none !important;
        }
    }
}

// active-animation
[active-animation="type-1"] {
    opacity: 0;
    transform: translateY(15rem);
    transition: all .5s ease-out;

    &.active-animation-01 {
        opacity: 1;
        transform: translateY(0);
    }
}
