@use 'components/mixin' as *;
@use 'components/variables' as *;
@use 'components/icons' as *;

body {
	&.mo-menu-open {
		overflow: hidden;
	}
}

#wrap {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	.page {
		padding: 0 6rem;

		@include mobile {
			padding: 0 1.8rem;
		}

		.local {
			&.module-a {
				margin: 0 auto;
				padding: 10.4rem 0 0 0;

				.local-body {
					.content-body {
						padding-bottom: 16rem;

						@include mobile {
							padding-bottom: 8rem;
						}
					}
				}
			}

			// &.module-b {
			// 	width: 100%;

			// 	.local-body {
			// 		.content-body {
			// 			padding-bottom: 0;
			// 		}
			// 	}
			// }

			// &.module-c {
			// 	margin: 0 auto;
			// 	max-width: 144rem;
			// 		.local-body {
			// 			.content-body {
			// 				padding-top: 23.2rem;
			// 				padding-bottom: 16rem;

			// 				@include mobile {
			// 					padding: 13.8rem 1.6rem 8rem;
			// 				}
			// 			}
			// 		}
			// }
		}

		.local-head {
			&.module-a {
				position: relative;
				.local-subject {
					.local-name {
						@include font(large-4x, bold);
						line-height: 160%;
						text-align: center;
						margin-top: 6.4rem;

						@include mobile {
							@include font(small-1x, bold);
							margin-top: 4rem;
						}

					}
					.local-summary {
						@include font(small-1x, regular);
						line-height: 160%;
						text-align: center;
						margin-top: 4rem;

						@include mobile {
							@include font(small-5x, regular);
							margin-top: 2.4rem;
						}
					}
				}
				.local-figure {
					margin-top: 8rem;
					margin-left: -60px;
					margin-right: -60px;
					img {
						// /width: 100%;
					}

					@include mobile {
						margin-top: 4rem;
						position: relative;
						height: 24rem;
						img {
							height: 24rem;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							z-index: -1;
							background-size: cover;
						}
					}
				}

			}

			&.module-b {
				position: relative;

				.local-wrap{
					position: relative;
    				margin-top: 1.6rem;
					height: 40rem;
					.local-subject {
						display: flex;
						flex-direction: column;
						padding: 10rem 18rem 7.4rem;
						justify-content: space-between;
						height: 100%;

						@include mobile {
							padding: 17.6rem 1.8rem 5rem;
						}
	
						.local-name {
							@include font(large-1x, bold);
							color: custom-color(neutral, 000);
	
							+ .local-summary {
								@include font(small-3x, medium);
								color: custom-color(neutral, 000);
							}

							@include mobile {
								@include font(small, bold);

								+ .local-summary {
									@include font(small-5x, medium);
									margin-top: 2re;
								}
							}
						}
					}
	
					.local-figure {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: -1;
						//width: 100%;
						overflow: hidden;
						border-radius: 4rem;
						transform: translate(-50%, -50%);
						height: 40rem;
						img {
							// /width: 100%;
							height: 100%;
							object-fit: cover;
						}

						@include mobile {
							margin-left: -6rem;
							margin-right: -6rem;
							overflow: unset;
							border-radius: 0;
						}
					}
				}
			}
		}


		.section {
			
			// normal
			&.module-a {
				max-width: 144rem;
				margin: 0 auto;
				.section-wrap {
					.section-head {
						+.section-body {
							margin-top: 3.2rem;

							@include mobile {
								margin-top: 2.4rem;
							}
						}
						.section-summary {
							margin-top: 2rem;
						}
					}
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
							}
							+.note {
								display: inline-block;
								margin-top: 1.6rem;
							}
							@include mobile {
								+.para {
									margin-top: 1.2rem;
								}
								+.note {
									display: inline-block;
									margin-top: 1.2rem;
								}
							}
						}
						+.section-util {
							margin-top: 4rem;
							@include mobile {
								margin-top: 4.8rem;
							}
						}
					}
				}
			}

			// section-head와 section-body가 flex 되는 경우
			&.module-b {
				max-width: 144rem;
				margin: 0 auto;
				.section-wrap {
					display: flex;
					justify-content: space-between;
					.section-head {
						max-width: 144rem;
						margin: 0 auto;
						// .section-name {
						// 	+.section-summary {
						// 		margin-top: 4rem;
						// 	}
						// }
						+.section-body {
							max-width: 144rem;
							margin: 0 auto;
							// margin-top: 2.4rem;
						}
						.section-summary {
							margin-top: 2rem;
						}
					}
				}
			}

			&.module-c {
				
			}

			&[class*=module] {
				// space

				// &.case3 {
				// 	.section-wrap {
				// 		.section-head {
				// 			+.section-body {
				// 				margin-top: 6.4rem;
				// 				@include mobile {
				// 					margin-top: 3.2rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			>.para {
				// 				+.para {
				// 					margin-top: 1.6rem;
				// 				}
				// 			}
				// 			@include mobile {
				// 				>.para {
				// 					+.para {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// &.case4 {
				// 	.section-wrap {
				// 		.section-head {
				// 			+.section-body {
				// 				margin-top: 8rem;
				// 				@include mobile {
				// 					margin-top: 4.8rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			>.para {
				// 				+.para {
				// 					margin-top: 1.6rem;
				// 				}
				// 			}
				// 			@include mobile {
				// 				>.para {
				// 					+.para {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// &.case5 {
				// 	.section-wrap {
				// 		.section-caption {
				// 			~.section-head {
				// 				margin-top: 4rem;
				// 				@include mobile {
				// 					margin-top: 2.4rem;
				// 				}
				// 			}
				// 		}
				// 		.section-head {
				// 			.section-name {
				// 				+.section-summary {
				// 					margin-top: 1.6rem;
				// 					@include mobile {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 			+.section-body {
				// 				margin-top: 4rem;
				// 				@include mobile {
				// 					margin-top: 2.4rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			>.para {
				// 				+.para,
				// 				+.note {
				// 					margin-top: 1.6rem;
				// 				}
				// 			}
				// 			@include mobile {
				// 				>.para {
				// 					+.para,
				// 					+.note {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 			+.section-util {
				// 				margin-top: 8rem;
				// 				@include mobile {
				// 					margin-top: 4.8rem;
				// 				}
				// 			}
				// 		}
				// 	}
				// }
				// &.case6 {
				// 	.section-wrap {
				// 		.section-head {
				// 			+.section-body {
				// 				margin-top: 3rem;
				// 				@include mobile {
				// 					margin-top: 2.7rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			>.para {
				// 				+.para {
				// 					margin-top: 1.6rem;
				// 				}
				// 			}
				// 			@include mobile {
				// 				>.para {
				// 					+.para {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// &.case7 {
				// 	.section-wrap {
				// 		.section-head {
				// 			~.section-body {
				// 				margin-top: 1.6rem;
				// 				@include mobile {
				// 					margin-top: 1.2rem;
				// 				}
				// 			}
				// 			~.section-util {
				// 				margin-top: 4rem;
				// 				@include mobile {
				// 					margin-top: 2.4rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			>.para {
				// 				+.para {
				// 					margin-top: 1.6rem;
				// 				}
				// 			}
				// 			@include mobile {
				// 				>.para {
				// 					+.para {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// &.case8 {
				// 	.section-wrap {
				// 		.section-body {
				// 			>.para {
				// 				+.para {
				// 					margin-top: 4rem;
				// 				}
				// 			}
				// 			@include mobile {
				// 				>.para {
				// 					+.para {
				// 						margin-top: 2.4rem;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// &.case9 {
				// 	.section-wrap {
				// 		.section-head {
				// 			.section-name {
				// 				+.section-summary {
				// 					margin-top: 2.4rem;
				// 					@include mobile {
				// 						margin-top: 1.6rem;
				// 					}
				// 				}
				// 			}
				// 			+.section-body {
				// 				margin-top: 6.4rem;
				// 				@include mobile {
				// 					margin-top: 4rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			>.para {
				// 				+.para {
				// 					margin-top: 1.6rem;
				// 				}
				// 				@include mobile {
				// 					+.para {
				// 						margin-top: 1.2rem;
				// 					}
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// &.style0 {
				// 	.section-wrap {
				// 		.section-head {
				// 			+.section-body {
				// 				margin-top: 2.4rem;

				// 				@include mobile {
				// 					margin-top: 1.6rem;
				// 				}
				// 			}
				// 		}
				// 		.section-body {
				// 			+.section-util {
				// 				margin-top: 8rem;
				// 				@include mobile {
				// 					margin-top: 4.8rem;
				// 				}
				// 			}
				// 		}
				// 	}
				// }

				// font style
				&.type-a {
					.section-caption {
						color: custom-color(primary, 080);
						@include font(small-5x, medium);
					}
					.section-name {
						@include font(medium, bold);
						color: #15151A;

						@include mobile {
							@include font(small-1x, bold);
						}

						+.section-summary {
							color: custom-color(neutral, 060);
							margin-top: 2.4rem;
							@include font(small-3x, medium);

							@include mobile {
								margin-top: 1.6rem;
								@include font(small-4x, medium);
							}
						}
					}

					.section-body {
						>.para {
							color: custom-color(neutral, 060);
							@include font(small-3x, medium);

							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}
				}

				&.type-b {
					.section-name {
						color: #15151A;
						@include font(small-1x, bold);

						@include mobile {
							@include font(small-2x, bold);
						}

						+.section-summary {
							color: custom-color(neutral, 060);
							margin-top: 1.6rem;
							@include font(small-4x, medium);

							@include mobile {
								margin-top: 1.6rem;
								@include font(small-5x, medium);
							}
						}
					}

					.section-body {
						>.para {
							color: custom-color(neutral, 060);
							@include font(small-3x, medium);
							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}
				}

				&.type-c {
					.section-name {
						color: #15151A;
						@include font(large-3x, bold);

						@include mobile {
							@include font(medium, bold);
						}
						+.section-summary {
							color: custom-color(neutral, 060);
							margin-top: 2.4rem;
							@include font(small-3x, medium);

							@include mobile {
								margin-top: 1.6rem;
								@include font(small-4x, medium);
							}
						}
					}

					.section-body {
						>.para {
							color: #15151A;
							@include font(small-1x, bold);
							@include mobile {
								@include font(small-2x, bold)
							}
						}
						.note {
							display: inline-block;
							color: custom-color(neutral, 060);
							@include font(small-3x, medium);
							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}
				}

				&.type-d {
					.section-name {
						color: #000;
						@include font(small-4x, bold);
					}

					.section-body {
						>.para {
							color: custom-color(neutral, 060);
							@include font(small-4x, medium);
							@include mobile {
									@include font(small-5x, medium);
							}
						}
					}
				}

				&.type-e {
					.section-head {
						.section-name {
							color: #15151A;
							@include font(large-3x, bold);
							@include mobile {
								@include font(medium, bold);
							}
						}
						.section-summary {
							color: custom-color(neutral, 060);
							@include font(small-2x, bold);
							@include mobile {
								@include font(small-3x, bold);
							}
						}
					}
					.section-body {
						>.para {
							color: custom-color(neutral, 060);
							@include font(small-3x, medium);
							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}
				}

				&.type-f {
					.section-name {
						@include font(small-1x, bold);
						color: #15151A;

						@include mobile {
							@include font(small-2x, bold);
						}

						+.section-summary {
							@include font(small-3x, medium);
							color: custom-color(neutral, 060);

							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}

					.section-body {
						>.para {
							color: custom-color(neutral, 060);
							@include font(small-3x, medium);
							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}
				}

				&.type-g {
					.section-name {
						@include font(medium, bold);
						color: #15151A;

						@include mobile {
							@include font(small-1x, bold);
						}
					}

					.section-body {
						>.para {
							@include font(small-4x, medium);
							color: custom-color(neutral, 060);

							@include mobile {
								@include font(small-5x, medium);
							}
						}
					}
				}
				&.type-h {
					.section-name {
						@include font(medium, bold);
						color: custom-color(neutral, 000);

						@include mobile {
							@include font(small-1x, bold);
						}
					}

					.section-body {
						>.para {
							color: custom-color(neutral, 000);
							@include font(small-3x, medium);

							@include mobile {
								@include font(small-4x, medium);
							}
						}
					}
				}

				// align
				&.align1 {
					.section-head {
						text-align: left;
					}
				}

				&.align2 {
					.section-caption,
					.section-head {
						text-align: right;
					}
				}

				&.align3 {
					.section-head {
						text-align: center;
					}
				}

				&.align4 {
						.section-caption,
						.section-head,
						.section-body {
								text-align: center;
						}
				}
			}

			// // 상세페이지 공통
			// &.detail-layout {
			// 	.section-wrap {
			// 		.section-head {
			// 			.section-name {
			// 				+ .section-summary {
			// 					margin-top: 3.2rem;
			// 				}
			// 			}
			// 			+ .section-body{
			// 				margin-top: 6.4rem;
			// 				img {
			// 					max-width: 100%;
			// 				}
			// 				+ .section-aside {
			// 					margin-top: 6.4rem;
			// 					+ .section-util {
			// 						margin-top: 8rem;
			// 					}
			// 				}
			// 				+ .section-util {
			// 					margin-top: 8rem;
			// 				}
			// 			}
			// 		}
			// 		.section-util{
			// 			.btn-display{
			// 				justify-content: center;
			// 				+ .board-dipslay {
			// 					margin-top: 6.4rem;
			// 				}
			// 			}
			// 		}
			// 	}

			// 	@include mobile{
			// 		.section-wrap{
			// 			.section-head {
			// 				+ .section-body{
			// 					margin-top: 3.2rem;
			// 					+ .section-aside {
			// 						margin-top: 3.2rem;
			// 						+ .section-util {
			// 							margin-top: 4.8rem;
			// 						}
			// 					}
			// 					+ .section-util {
			// 						margin-top: 4.8rem;
			// 					}
			// 				}
			// 			}
			// 			.section-util{
			// 				.btn-display{
			// 					+ .board-dipslay {
			// 						margin-top: 3.2rem;
			// 					}
			// 				}
			// 			}
			// 			.section-body{
			// 				.data-display{
			// 					.data-subject{
			// 						@include font(small-3x, bold);
			// 					}
			// 					.data-body{
			// 						.para{
			// 							@include font(small-5x, bold);
			// 						}
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }

			// 별첨 공통
			.comment {
				&.module-a {
					color: custom-color(neutral, 080);
					@include font(small-4x, medium);

					@include mobile {
						@include font(small-6x, medium);
					}
				}
				&.module-b {
					color: custom-color(system, 100);
					@include font(small-2x, bold);

					@include mobile {
						@include font(small-3x, bold);
					}
				}
				&.module-c {
					color: custom-color(system, 100);
					@include font(small-3x, bold);

					@include mobile {
						@include font(small-4x, bold);
					}
				}
			}
		}



		// breadcrumb
		.local-info {
			margin: 0 auto;
			max-width: 144rem;
			.data-list {
				&.breadcrumb {
					display: flex;
					flex-direction: unset;

					&.module-a {
						&.style-a{
							padding-top: 4rem;
							justify-content: left;

							@include mobile {
								padding-top: 8.2rem;
							}
						}

						&.style-b {
							position: relative;


							&.active1 {
								opacity: 1;
								transition: opacity 0.2s ease-out;
							}
						}

						&.dark {
							color: custom-color(neutral, 060);

							.data-item:last-child {
								.item-text {
									color: custom-color(neutral, 090);
									font-weight: 700;
								}
							}
						}

						&.light {
							color: custom-color(neutral, 090);

							.data-item:last-child {
								.item-text {
									font-weight: 700;
								}
							}
						}

						.data-item {
							position: relative;
							flex-shrink: 0;

							.item-text {
								position: relative;
								@include font(small-5x, bold);
								color: custom-color(neutral, 070);
							}

							+.data-item {
								margin-left: 3.2rem;

								.item-text {
									&::before {
										content: "";
										display: inline-block;
										position: absolute;
										top: 50%;
										left: -2rem;
										width: 0.4rem;
										height: 0.7rem;
										background: icon('arrow-right', custom-color(neutral, 070)) no-repeat center;
										background-size: 100%;
										transform: translateY(-50%);
									}
								}

								~ .data-item {
									.item-text {
										color: custom-color(neutral, 080);
									}
								}
							}

							&:last-child {
								flex-shrink: unset;
							}

							&:first-child {
								position: relative;
								font-size: 0;
								text-indent: -999px;
								margin-right: 1.6rem;

								&::before {
									content: "";
									display: inline-block;
									position: absolute;
									top: 50%;
									left: 0;
									width: 1.4rem;
									height: 1.3rem;
									background: icon('home', custom-color(neutral, 070)) no-repeat center;
									background-size: 100%;
									transform: translateY(-50%);
								}
							}

							@include mobile {

								.item-text {
									@include font(small-6x, medium);
								}

								+.data-item {
									margin-left: 2.4rem;

									.item-text {
										&::before {
											content: '';
											left: -1.5rem;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}


}