@use 'components/mixin' as *;
@use 'components/variables' as *;
@use 'components/icons' as *;

body {
	&.mo-menu-open {
		overflow: hidden;
	}
}

#wrap {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	.page {
		padding: 0 6rem;

		@include mobile {
			padding: 0 1.8rem;
		}

		.local {
			&.module-a {
				margin: 0 auto;
				padding: 10.4rem 0 0 0;

				position: relative;
				.local-subject {
					.local-name {
						@include font(large-4x, bold);
						line-height: 160%;
						text-align: center;
						margin-top: 6.4rem;
						color: custom-color(neutral, 100);

						@include mobile {
							@include font(small-1x, bold);
							margin-top: 4rem;
						}

					}
					.local-summary {
						@include font(small-1x, regular);
						line-height: 160%;
						text-align: center;
						margin-top: 4rem;
						color: custom-color(neutral, 100);

						@include mobile {
							@include font(small-5x, regular);
							margin-top: 2.4rem;
						}
					}
				}
				.local-figure {
					margin-top: 8rem;
					margin-left: -60px;
					margin-right: -60px;
					img {
						// /width: 100%;
					}

					@include mobile {
						margin-top: 4rem;
						position: relative;
						height: 24rem;
						img {
							height: 24rem;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							z-index: -1;
							background-size: cover;
						}
					}
				}
			}
			&.module-b {
				margin: 0 auto;
				padding: 10.4rem 0 0 0;

				position: relative;

				.local-wrap{
					position: relative;
    				margin-top: 1.6rem;
					height: 40rem;

					@include mobile {
						position: relative;
                        margin-top: 1.6rem;
                        height: 40rem;
                        width: calc(100% + 3.61rem);
                        margin-left: -1.81rem;
					}

					.local-subject {
						display: flex;
						flex-direction: column;
						padding: 10rem 18rem 7.4rem;
						justify-content: space-between;
						height: 100%;

						@include mobile {
							padding: 0 1.8rem;
							position: absolute;
							left: 0;
							bottom: 5rem;
							gap: 2rem;
							justify-content: flex-end;
						}

						.local-name {
							@include font(large-1x, bold);
							color: custom-color(neutral, 000);

							+ .local-summary {
								@include font(small-3x, medium);
								color: custom-color(neutral, 000);
							}

							@include mobile {
								@include font(small, bold);

								+ .local-summary {
									@include font(small-5x, medium);
								}
							}
						}
					}

					.local-figure {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: -1;
						width: 100%;
						overflow: hidden;
						border-radius: 4rem;
						transform: translate(-50%, -50%);
						height: 40rem;

						@include mobile {
							border-radius: 0;
							width: 100%;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;

							@include mobile {
								border-radius: 0;
							}
						}

					}
				}
			}

			&.module-c {
				margin: 0 auto;
				padding: 10.4rem 0 0 0;

				position: relative;

				.local-wrap{
					position: relative;
    				margin-top: 1.6rem;
					height: 40rem;

					@include mobile {
						position: relative;
                        margin-top: 1.6rem;
                        height: 40rem;
                        width: calc(100% + 3.61rem);
                        margin-left: -1.81rem;
					}

					.local-subject {
						display: flex;
						flex-direction: column;
						padding: 0 18rem;
						justify-content: center;
						height: 100%;

						@include mobile {
							padding: 0 1.8rem;
							position: absolute;
							left: 0;
							bottom: 5rem;
							gap: 2rem;
							justify-content: flex-end;
						}

						.local-name {
							@include font(large-1x, bold);
							color: custom-color(neutral, 000);

							+ .local-summary {
								@include font(small-3x, medium);
								color: custom-color(neutral, 000);
							}

							@include mobile {
								@include font(small, bold);

								+ .local-summary {
									@include font(small-5x, medium);
								}
							}
						}
					}

					.local-figure {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: -1;
						width: 100%;
						overflow: hidden;
						border-radius: 4rem;
						transform: translate(-50%, -50%);
						height: 40rem;

						@include mobile {
							border-radius: 0;
							width: 100%;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;

							@include mobile {
								border-radius: 0;
							}
						}

					}
				}
			}

			&.module-d {
				max-width: 144rem;
				margin: 0 auto;
				padding: 10.4rem 0 0 0;

				position: relative;
				.local-subject {
					margin-top: 6.4rem;
					@include mobile {
						margin-top: 4rem
					}
					.local-name {
						@include font(large-4x, bold);
						color: custom-color(neutral, 080);

						@include mobile {
							@include font(small-2x, bold);
						}

					}
					.local-summary {
						@include font(small-2x, medium);
						color: custom-color(neutral, 080);
						margin-top: 4rem;
						@include mobile {
							margin-top: 2.4rem;
							@include font(small-4x, medium);
						}
					}
					.local-base {
						display: block;
						@include font(small-4x, regular);
						color: custom-color(neutral, 080);
						margin-top: 2rem;
						@include mobile {
							margin-top: 1.4rem;
							@include font(small-6x, medium);
						}
					}
				}
			}

			.local-body {
				.content-body {
					padding-top: 12rem;
					padding-bottom: 20rem;

					@include mobile {
						padding-bottom: 12rem;
						padding-top: 8rem;
					}
				}
			}
		}

		.section {

			// normal
			&.module-a {
				max-width: 144rem;
				margin: 0 auto;

				.section-wrap {
					.section-head {
						.section-caption {
							color: custom-color(primary, 080);
							@include font(small-5x, medium);
						}
						.section-name {
							@include font(large, bold);
							color: custom-color(neutral, 080);

							@include mobile {
								@include font(small-1x, bold);
							}

							+.section-summary {
								@include font(small-3x, medium);
								color: custom-color(neutral, 060);
								margin-top: 2.4rem;

								@include mobile {
									margin-top: 1.6rem;
									@include font(small-4x, medium);
								}

								.para {
									@include font(small-3x, medium);
								}
							}
						}
						+.section-body {
							margin-top: 6.4rem;

							@include mobile {
								margin-top: 4rem;
							}
						}
						.section-summary {
							margin-top: 3.2rem;
							@include font(small-3x, medium);
							color: custom-color(neutral, 100);
							@include mobile {
								margin-top: 2rem;
								@include font(small-4x, medium);
							}
						}
					}
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
								color: custom-color(neutral, 060);
								@include font(small-3x, medium);

								@include mobile {
									@include font(small-4x, medium);
								}
							}
							+.note {
								display: inline-block;
								margin-top: 1.6rem;
							}
							@include mobile {
								+.para {
									margin-top: 1.2rem;
								}
								+.note {
									display: inline-block;
									margin-top: 1.2rem;
								}
							}
						}
						+.section-util {
							margin-top: 4rem;
							@include mobile {
								margin-top: 4.8rem;
							}
						}
						.section-figure {
							img {
								width: 100%;
							}
						}
					}
				}

				+ .section {
					&.module-a {
						padding-top: 18rem;
						@include mobile {
							padding-top: 12rem;
						}
					}
				}
				+ .section {
					&.module-b {
						padding-top: 18rem;
						@include mobile {
							padding-top: 12rem;
						}
					}
				}
			}

			// section-head와 section-body가 flex 되는 경우
			&.module-b {
				max-width: 144rem;
				margin: 0 auto;
				.section-wrap {
					display: flex;
					justify-content: space-between;

					@include mobile {
						flex-direction: column;
					}

					.section-head {
						.section-caption {
							color: custom-color(primary, 080);
							@include font(small-5x, medium);
						}
						.section-name {
							@include font(large, bold);
							color: custom-color(neutral, 080);

							@include mobile {
								@include font(small-2x, bold);
							}

							+.section-summary {
								color: custom-color(neutral, 080);
								margin-top: 2.4rem;
								@include font(small-3x, medium);

								@include mobile {
									margin-top: 1.6rem;
									@include font(small-4x, medium);
								}

								.para {
									@include font(small-3x, medium);
								}
							}
						}
						+.section-body {
							max-width: 144rem;
							margin: 0 auto;

						}
						.section-summary {
							margin-top: 2rem;

						}
					}
				}
				+ .module-b {
					padding-top: 12rem;
					@include mobile {
						padding-top: 8rem;
					}
				}
			}



			&[class*=module] {

				// align
				&.align1 {
					.section-head {
						text-align: left;
					}
				}

				&.align2 {
					.section-caption,
					.section-head {
						text-align: right;
					}
				}

				&.align3 {
					.section-head {
						text-align: center;
					}
				}

				&.align4 {
						.section-caption,
						.section-head,
						.section-body {
								text-align: center;
						}
				}
			}

			// 별첨 공통
			.comment {
				&.module-a {
					color: custom-color(neutral, 080);
					@include font(small-4x, medium);

					@include mobile {
						@include font(small-6x, medium);
					}
				}
				&.module-b {
					color: custom-color(system, 100);
					@include font(small-2x, bold);

					@include mobile {
						@include font(small-3x, bold);
					}
				}
				&.module-c {
					color: custom-color(system, 100);
					@include font(small-3x, bold);

					@include mobile {
						@include font(small-4x, bold);
					}
				}
				&.style-a {
					margin-top: 2rem;
				}
			}
		}



		// breadcrumb
		.local-info {
			margin: 0 auto;
			max-width: 144rem;
			.data-list {
				&.breadcrumb {
					display: flex;
					flex-direction: unset;

					&.module-a {
						&.style-a{
							padding-top: 4rem;
							justify-content: left;

							@include mobile {
								padding-top: 8.2rem;
							}
						}

						&.style-b {
							position: relative;


							&.active1 {
								opacity: 1;
								transition: opacity 0.2s ease-out;
							}
						}


						.data-item {
							position: relative;
							flex-shrink: 0;

							.item-text {
								position: relative;
								@include font(small-6x);
								font-weight: 600;
								color: custom-color(neutral, 070);
							}

							+.data-item {
								margin-left: 2.8rem;

								.item-text {
									&::before {
										content: "";
										display: inline-block;
										position: absolute;
										top: 50%;
										left: -1.8rem;
										width: 0.4rem;
										height: 0.7rem;
										background: icon('arrow-right', custom-color(neutral, 070)) no-repeat center;
										background-size: 100%;
										transform: translateY(-50%);
									}
								}

								~ .data-item {
									.item-text {
										color: custom-color(neutral, 080);
									}
								}
							}

							&:last-child {
								flex-shrink: unset;
							}

							&:first-child {
								position: relative;
								font-size: 0;
								text-indent: -999px;
								margin-right: 1.6rem;

								&::before {
									content: "";
									display: inline-block;
									position: absolute;
									top: 50%;
									left: 0;
									width: 1.4rem;
									height: 1.3rem;
									background: icon('home', custom-color(neutral, 070)) no-repeat center;
									background-size: 100%;
									transform: translateY(-50%);
								}
							}

							@include mobile {

								.item-text {
									@include font(small-6x, medium);
								}

								+.data-item {
									margin-left: 2.4rem;

									.item-text {
										&::before {
											content: '';
											left: -1.5rem;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}