@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;


.board-list {
    &.module-a {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include mobile {
            gap: 2.4rem;
        }

        .board-item {
            .board-wrap {
                display: flex;
                gap: 8rem;
                align-items: center;
                background-color: custom-color(etc, 070);
                border-radius: 1.6rem;

                @include mobile{
                    gap: 2.4rem;
                }

                .board-figure {
                    width: 54.8rem;
                    height: 33rem;
                    border-radius: 1.6rem;
                    overflow: hidden;
                    flex-shrink: 0;
                    
                    @include mobile {
                        width: 100%;
                        height: 22rem;
                    }

                    img {
                        width: 100%;

                        @include mobile {
                            width: calc(100% + 1.6rem);
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &:hover {
                        img { 
                            transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
                            transform: scale(1.1);
                        }
                    }
                }

                @include mobile {
                    flex-direction: column;
                }
            }

            @include mobile {
                &:nth-child(even) {
                    .board-wrap {
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }
    &.style-a {
        .board-item {
            .board-wrap {
                padding: 4rem 8rem 4rem 4rem;

                .board-info {
                    .board-head {
                        @include font(small, bold);
                        color: custom-color(primary, 080);
                        line-height: 160%;
                        
                        @include mobile {
                            @include font(small-2x, bold);
                        }
                        + .board-body {
                            margin-top: 2.8rem;
                            @include font(small-2x, regular);
                            color: custom-color(neutral,100);
                            line-height: 160%;

                            @include mobile {
                                margin-top: 1.6rem;
                                @include font(small-4x, regular);
                            }
                        }
                    }
                }

                @include mobile {
                    padding: 1.8rem;
                }
            }

            &:nth-child(even) {
                .board-wrap {
                    padding: 4rem 4rem 4rem 8rem;

                    @include mobile {
                        padding: 1.8rem;
                    }
                }
            }
        }
    }

    &.module-b {
        width: 100%;
        height: 50rem;
        background: url('../images/about/reference/performance.jpg');
        background-size: cover;
        border-radius: 1.6rem;
        padding: 17rem 16.5rem 3.4rem;
        display: flex;
        //gap: 12rem;
        justify-content: space-between;
        
        @include mobile {
            height: 100%;
            background-repeat: no-repeat;
            background: url('../images/about/reference/performance-mo.jpg');
            background-size: cover;
            flex-direction: column;
            padding: 8rem 4.6rem 15.4rem;
            gap: 8rem;
        }
        .board-item {
            width: calc(100% / 4 - 12rem);
            @include mobile {
                width: 100% !important;
            }
            &:nth-child(1) {
                width: calc(100% / 4 - 15rem);
            }
            &:nth-child(2) {
                width: calc(100% / 4 - 8rem);
            }
            &:nth-child(3) {
                width: calc(100% / 4 - 20rem);
            }
            &:nth-child(4) {
                width: calc(100% / 4 - 14rem);
            }
            .board-wrap {
                .board-icon {
                    position: relative;
                    &.consulting {
                        content: '';
                        display: block;
                        top: 0;
                        left: 0;
                        width: 4rem;
                        height: 4rem;
                        background-image: icon('note', custom-color(neutral, 000));
                        background-repeat: no-repeat;
                    }
                    &.diagnosis {
                        content: '';
                        display: block;
                        top: 0;
                        left: 0;
                        width: 3.8rem;
                        height: 3.6rem;
                        background-image: icon('diagnosis', custom-color(neutral, 000));
                        background-repeat: no-repeat;
                    }
                    &.member {
                        content: '';
                        display: block;
                        top: 0;
                        left: 0;
                        width: 3.4rem;
                        height: 3.5rem;
                        background-image: icon('member', custom-color(neutral, 000));
                        background-repeat: no-repeat;
                    }
                    &.building {
                        content: '';
                        display: block;
                        top: 0;
                        left: 0;
                        width: 3.4rem;
                        height: 3.4rem;
                        background-image: icon('building', custom-color(neutral, 000));
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }

    &.style-b {
        .board-item {
            .board-wrap {
                .board-head {
                   .board-name {
                    margin-top: 0.6rem;
                    @include font(small-4x, bold);
                    color: custom-color(neutral, 000);
                   }
                }
                .board-body {
                     .board-info {
                         @include font(large-7x, bold);
                         color: custom-color(neutral, 000);
                         display: inline-block;
                         white-space: nowrap;
                         @include mobile {
                             font-size: 6.8rem;
                         }
                         .board-text {
                             @include font(large-1x, bold);
                             margin-left: -1rem;
                             @include mobile {
                                 @include font(small, bold);
                             }
                         }
                     }
                 }
            }
        }
    }
}