
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.data-list {
    

    // 개인정보
    &.pers {
        width: 100%;
        padding: 6rem 12.2rem;
        background-color: custom-color(etc, 070);
        border-radius: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2rem;
        height: 39.4rem;
        counter-reset: data-counter 0;
        @include mobile {
            height: auto;
            padding: 2.4rem 1.8rem;
            gap: 1.4rem;
        }
        .data-item {
            counter-increment: data-counter;
            width: 42.8rem;
            @include mobile {
                width: auto;
            }
            .data-wrap {
                display: flex;
                gap: 1.2rem;
                @include font(small-4x, regular);
                .data-number {
                    &::before {
                        content: counter(data-counter, decimal-leading-zero);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    // 개인
    &.numbering {
        counter-reset: data-counter 0;
        .data-item {
            counter-increment: data-counter;
            .data-wrap {
                @include font(small-2x, regular);
                display: flex;
                gap: 1rem;
                @include mobile {
                    @include font(small-4x, regular);
                }
                .data-numb {
                    &::before {
                        content: counter(data-counter) ")";
                    }
                }
            }

            + .data-item {
                margin-top: 4rem;
                @include mobile {
                    margin-top: 2.4rem;
                }
            }
        }
    }


    &.solutions {
        display: flex;
        gap: 12.4rem;

        @include mobile {
            flex-direction: column;
        }

        .data-item {
            width: calc(100% / 2 + 6.2rem);

            @include mobile {
                width: 100%;
            }

            .data-head {
                text-align: left;
                .data-subject {
                    @include font(large, bold);
                    font-weight: 700;
                    line-height: 160%;
                    color: custom-color(neutral,100);

                    + .data-summary {
                        font-size: 1.9rem;
                        font-weight: 400;
                        line-height: 180%;
                        color: custom-color(neutral,100);
                        margin-top: 3.2rem;
                    }
                }

                @include mobile {
                    text-align: left;
                    .data-subject {
                        @include font(small-2x, bold);
                        + .data-summary {
                            @include font(small-4x, regular);
                            margin-top: 2rem;
                        }
                    }
                }
            }
            .data-body {
                margin-top: 6.4rem;

                @include mobile {
                    margin-top: 4rem;
                }

                .data-figure {
                    border-radius: 1.6rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}







/* bullet list */
.bullet-list {
    &.module-a {
        &.style-a{
            >.bullet-item {
                display: flex;
                padding-left: 0.9rem;

                @include mobile {
                    padding-left: 0.8rem;
                }

                &::before {
                    content: '•';
                    margin-right: 0.9rem;

                    @include mobile {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
        &.style-b {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            >.bullet-item {
                display: flex;
                padding-left: 1.8rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.9rem;
                    left: -0.5rem;
                    width: 1.2rem;
                    height: 0.9rem;
                    background: icon('bullet-check', custom-color(primary, 100)) no-repeat center;


                    @include mobile {
                        margin-right: 0.8rem;
                    }
                }
                &.arrow {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        &.type-a {
            >.bullet-item {
                @include font(small-2x, regular);
                color:custom-color(neutral, 100);

                &::before {
                    @include font(small-5x, regular);
                    color:custom-color(neutral, 100);

                    @include mobile {
                        @include font(small-6x, regular);
                    }
                }

                @include mobile {
                    @include font(small-4x, regular);
                    word-break: break-all
                }
            }
        }

        &.type-b {
            >.bullet-item {
                @include font(small-3x, regular);
                color:custom-color(neutral, 100);
                line-height: 240%;

                @include mobile {
                    @include font(small-5x, regular);
                }

                &::before {
                    @include font(small-6x, regular);
                    color:custom-color(neutral, 100);

                    @include mobile {
                        @include font(small-6x, regular);
                    }
                }
            }
        }

        &.type-c {
            >.bullet-item {
                font-size: 1.5rem;
                font-weight: 600;
                color:custom-color(neutral, 100);
                line-height: 180%;

                @include mobile {
                    font-size: 1.3rem;
                    line-height: 160%;
                }

                &.arrow {
                    color: custom-color(primary, 090);
                }
            }
        }

        &.type-d {
            >.bullet-item {
                @include font(small-2x, regular);
                color:custom-color(neutral, 100);

                @include mobile {
                    @include font(small-4x, regular);
                }
                
                &::before {
                    @include font(small-1x, regular);
                    color:custom-color(neutral, 100);

                }
            }
        }
        &.type-e {
            >.bullet-item {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 160%;
                color: custom-color(neutral, 080);
            }
        }
    }
}