
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.data-list {
    
    &.module-a {
        display: flex;
        flex-direction: column;
        .data-item {
            display: flex;
            align-items: center;
            .data-head {
                background: custom-color(primary, 090);
                border-top: 1px solid  custom-color(primary, 090);
                border-bottom: 1px solid rgba(203, 203, 203, 0.50);

               + .data-body {
                    border-top: 1px solid rgba(203, 203, 203, 0.50);
                    border-right: 1px solid rgba(203, 203, 203, 0.50);
                }
            }

            &:last-child {
                .data-head {
                    border-bottom: 1px solid rgba(203, 203, 203, 0.50);

                   + .data-body {
                        border-bottom: 1px solid rgba(203, 203, 203, 0.50);
                    }
                }
            }
        }
    }

    &.style-a{
        .data-item {
            .data-head {
                width: 32rem;
                padding: 4.4rem 0;
                text-align: center;

                + .data-body {
                    padding: 3.2rem 4.8rem;
                    width: 100%;
                }
            }
        }
    }

    &.type-a {
        .data-item {
            .data-head {
                font-size: 1.7rem;
                font-weight: 700;
                line-height: 160%;
                color: custom-color(neutral, 000);
                
                + .data-body {
                    @include font(small-4x, regular);
                    line-height: 160%;
                }
            }
        }
    }

    &.solutions {
        display: flex;
        gap: 12.4rem;

        @include mobile {
            flex-direction: column;
        }

        .data-item {
            .data-head {
                text-align: left;
                .data-subject {
                    @include font(large, bold);
                    font-weight: 700;
                    line-height: 160%;
                    color: custom-color(neutral,100);

                    + .data-summary {
                        font-size: 1.9rem;
                        font-weight: 400;
                        line-height: 180%;
                        color: custom-color(neutral,100);
                        margin-top: 3.2rem;
                    }
                }

                @include mobile {
                    text-align: left;
                    .data-subject {
                        @include font(small-2x, bold);
                        + .data-summary {
                            @include font(small-4x, regular);
                            margin-top: 2rem;
                        }
                    }
                }
            }
            .data-body {
                margin-top: 6.4rem;

                @include mobile {
                    margin-top: 4rem;
                }

                .data-figure {
                    border-radius: 1.6rem;
                    overflow: hidden;
                    // img {
                    //     width: 100%;
                    // }
                }
            }
        }
    }
}







/* bullet list */
.bullet-list {
    &.module-a {
        &.style-a{
            >.bullet-item {
                display: flex;
                padding-left: 0.9rem;

                @include mobile {
                    padding-left: 0.8rem;
                }

                &::before {
                    content: '•';
                    margin-right: 0.9rem;

                    @include mobile {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
        &.style-b {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            >.bullet-item {
                display: flex;
                padding-left: 1.8rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.9rem;
                    left: -0.5rem;
                    width: 1.2rem;
                    height: 0.9rem;
                    background: icon('bullet-check', custom-color(primary, 100)) no-repeat center;


                    @include mobile {
                        margin-right: 0.8rem;
                    }
                }
                &.arrow {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        &.type-a {
            >.bullet-item {
                @include font(small-2x, regular);
                color:custom-color(neutral, 100);

                &::before {
                    @include font(small-5x, regular);
                    color:custom-color(neutral, 100);

                    @include mobile {
                        @include font(small-6x, regular);
                    }
                }

                @include mobile {
                    @include font(small-4x, regular);
                    word-break: break-all
                }
            }
        }

        &.type-b {
            >.bullet-item {
                @include font(small-3x, regular);
                color:custom-color(neutral, 100);
                line-height: 240%;

                @include mobile {
                    @include font(small-5x, regular);
                }

                &::before {
                    @include font(small-6x, regular);
                    color:custom-color(neutral, 100);

                    @include mobile {
                        @include font(small-6x, regular);
                    }
                }
            }
        }

        &.type-c {
            >.bullet-item {
                font-size: 1.5rem;
                font-weight: 600;
                color:custom-color(neutral, 100);
                line-height: 180%;

                @include mobile {
                    font-size: 1.3rem;
                    line-height: 160%;
                }

                &.arrow {
                    color: custom-color(primary, 090);
                }
            }
        }

        &.type-d {
            >.bullet-item {
                @include font(small-2x, regular);
                color:custom-color(neutral, 100);

                @include mobile {
                    @include font(small-4x, regular);
                }
                
                &::before {
                    @include font(small-1x, regular);
                    color:custom-color(neutral, 100);

                }
            }
        }
    }
}