
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.data-list {
    
    // 개인정보
    &.pers {
        width: 100%;
        padding: 6rem 12.2rem;
        background-color: custom-color(etc, 070);
        border-radius: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2rem;
        height: 39.4rem;
        counter-reset: data-counter 0;
        @include mobile {
            height: auto;
            padding: 2.4rem 1.8rem;
            gap: 1.4rem;
        }
        .data-item {
            counter-increment: data-counter;
            width: 42.8rem;
            @include mobile {
                width: auto;
            }
            .data-wrap {
                display: flex;
                gap: 1.2rem;
                @include font(small-4x, regular);
                .data-number {
                    &::before {
                        content: counter(data-counter, decimal-leading-zero);
                        font-weight: 700;
                    }
                }
            }
            &:hover {
                color: custom-color(primary, 090);
            }
        }
    }

    &.numbering {
        counter-reset: data-counter 0;
        .data-item {
            counter-increment: data-counter;
            .data-wrap {
                @include font(small-2x, regular);
                display: flex;
                gap: 1rem;
                @include mobile {
                    @include font(small-4x, regular);
                }
                .data-text {
                    padding-left: 2.4rem;
                    &::before {
                        content: counter(data-counter) ")";
                        position: absolute;
                        left: 0;
                        text-align: center;
                    }
                    .order-list {
                        margin-top: 2rem;
                        @include font(small-3x, regular);
                        @include mobile {
                            @include font(small-5x, regular);
                            margin-top: 1.4rem;
                        }
                        .order-item {
                            .item-det {
                                color: custom-color(neutral, 080);
                                margin-top: 0.4rem;
                                position: relative;
                                padding-left: 1.4rem;
                                @include mobile {
                                    margin-top: 0;
                                }
                                &::before {
                                    content: "-";
                                    margin-right: 0.8rem;
                                    height: 100%;
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translateY(-50%);
                                }
                            }
                            + .order-item {
                                margin-top: 2rem;
                            }
                        }
                        &.edited {
                            .order-item {
                                + .order-item {
                                    margin-top: 0.8rem;
                                }
                            }
                        }
                        &.one {
                            margin-top: 1rem;
                            .order-item {
                                + .order-item {
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }
                    .no-number {
                        margin-top: 2rem;
                        .data-item {
                            .order-list {
                                margin-top: 0.4rem;
                                .order-item {
                                    margin-top: 0.4rem;
                                }
                            }
                            + .data-item {
                                margin-top: 2rem;
                            }
                        }
                    }
                    .symbol {
                        margin-top: 1rem;
                    }
                }
            }

            + .data-item {
                margin-top: 4rem;
                @include mobile {
                    margin-top: 2.4rem;
                }
            }
        }
    }

    // solution
    &.solutions {
        display: flex;
        gap: 12.4rem;

        @include mobile {
            flex-direction: column;
        }

        .data-item {
            width: calc(100% / 2 + 6.2rem);

            @include mobile {
                width: 100%;
            }

            .data-head {
                text-align: left;
                .data-subject {
                    @include font(large, bold);
                    font-weight: 700;
                    line-height: 160%;
                    color: custom-color(neutral,080);

                    + .data-summary {
                        @include font(small-2x, regular);
                        line-height: 180%;
                        color: custom-color(neutral,100);
                        margin-top: 3.2rem;
                    }
                }

                @include mobile {
                    text-align: left;
                    .data-subject {
                        @include font(small-2x, bold);
                        + .data-summary {
                            @include font(small-4x, regular);
                            margin-top: 2rem;
                        }
                    }
                }
            }
            .data-body {
                margin-top: 6.4rem;

                @include mobile {
                    margin-top: 4rem;
                }

                .data-figure {
                    border-radius: 1.6rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    // 상세 페이지
    &.page-det {
        border-top: 0.1rem solid custom-color(neutral, 100);
        border-bottom: 0.1rem solid custom-color(neutral, 100);
        .data-item {
            position: relative;
            padding: 2.8rem 0;
            border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
            padding-left: 4.2rem;
            @include mobile {
                padding-top: 1.7rem;
                padding-bottom: 1.7rem;
            }
            + .data-item {
                border-bottom: 0;
            }
            
            .data-wrap {
                display: flex;
                gap: 4.1rem;
                align-items: center;
                @include font(small-4x, regular);
                color: custom-color(neutral, 080);
                @include mobile {
                    @include font(small-5x, regular);
                    gap: 2rem;
                }
                .data-head {
                    position: relative;
                    font-size: inherit;
                    font-weight: inherit;
                    color: inherit;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: -2rem;
                        transform: translateY(-50%);
                        height: 1rem;
                        width: 0.1rem;
                        background-color: rgb(167, 167, 167);
                    }
                    @include mobile {
                        &::before {
                            right: -1rem;
                        }
                    }
                }
                .data-body {
                    font-size: inherit;
                    font-weight: 700;
                    color: inherit;
                    @include mobile {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            &.prev {
                .data-wrap {
                    .data-head {
                        .data-name {
                            &::before {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 50%;
                                left: -3.2rem;
                                width: 1.2rem;
                                height: 0.7rem;
                                background: icon('arrow-up1', custom-color(neutral, 080)) no-repeat center;
                                background-size: 100%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            &.next {
                .data-wrap {
                    .data-head {
                        .data-name {
                            &::before {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 50%;
                                left: -3.2rem;
                                width: 1.2rem;
                                height: 0.7rem;
                                background: icon('arrow-down1', custom-color(neutral, 080)) no-repeat center;
                                background-size: 100%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}



// no-data
.no-data {
    text-align: center;
    padding: 12rem 0;
    border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
    @include mobile {
        padding: 8rem 0;
    }
    .no-data-wrap {
        position: relative;
        .no-data-icon {
            margin-bottom: 2rem;
            height: 6rem;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                width: 5rem;
                height: 5rem;
                transform: translateX(-50%);
                background-size: cover;
                background-repeat: no-repeat;
                background-image: icon('nodata', custom-color(neutral, 060));
            }
    
            + .no-data-title {
                @include font(small-2x, bold);
                @include mobile {
                    @include font(small-4x, bold);
                }
            }

            @include mobile {
                height: 4rem;
                margin-bottom: 1.4rem;
                &::before {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
}



/* bullet list */
.bullet-list {
    &.module-a {
        &.style-a{
            >.bullet-item {
                display: flex;
                padding-left: 0.9rem;

                @include mobile {
                    padding-left: 0.8rem;
                }

                &::before {
                    content: '•';
                    margin-right: 0.9rem;

                    @include mobile {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
        &.style-b {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            >.bullet-item {
                display: flex;
                padding-left: 1.8rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.9rem;
                    left: -0.5rem;
                    width: 1.2rem;
                    height: 0.9rem;
                    background: icon('bullet-check', custom-color(primary, 100)) no-repeat center;


                    @include mobile {
                        margin-right: 0.8rem;
                        top: 0.5rem;
                    }
                }
                &.arrow {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        &.type-a {
            >.bullet-item {
                @include font(small-2x, regular);
                color:custom-color(neutral, 100);

                &::before {
                    @include font(small-3x, regular);
                    color:custom-color(neutral, 100);

                    @include mobile {
                        @include font(small-6x, regular);
                    }
                }

                @include mobile {
                    @include font(small-4x, regular);
                    word-break: break-all
                }
            }
        }

        &.type-b {
            >.bullet-item {
                @include font(small-3x, regular);
                color:custom-color(neutral, 100);
                line-height: 240%;

                @include mobile {
                    @include font(small-5x, regular);
                }

                &::before {
                    @include font(small-6x, regular);
                    color:custom-color(neutral, 100);

                    @include mobile {
                        @include font(small-6x, regular);
                    }
                }
            }
        }

        &.type-c {
            >.bullet-item {
                font-size: 1.5rem;
                font-weight: 600;
                color:custom-color(neutral, 100);
                line-height: 180%;

                @include mobile {
                    font-size: 1.3rem;
                    line-height: 160%;
                }

                &.arrow {
                    color: custom-color(primary, 090);
                }
            }
        }

        &.type-d {
            >.bullet-item {
                @include font(small-2x, regular);
                color:custom-color(neutral, 100);

                @include mobile {
                    @include font(small-4x, regular);
                }
                
                &::before {
                    @include font(small-1x, regular);
                    color:custom-color(neutral, 100);

                }
            }
        }
        &.type-e {
            >.bullet-item {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 160%;
                color: custom-color(neutral, 080);
            }
        }
    }
}