@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.pagination {
  &.module-a {
      &.style-a {
          display: flex;
          align-items: center;
          justify-content: center;

          .page-util {
              .util-item {
                  &.disabled {
                      pointer-events: none;
                      opacity: 0.2;
                  }
              }
          }

          .page-list {
              display: flex;
              gap: 1rem;

              .page-item {
                  position: relative;
                  width: 3.2rem;
                  @include font(small-4x, bold);
                  color: custom-color(neutral, 080);
                  text-align: center;
                  min-width: 4rem;

                  &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2rem;
                    height: 0.3rem;
                    background-color: transparent;
                  }
                  &.current {
                    &::after {
                      background-color: custom-color(primary, 090);
                    }
                  }
              }
          }
      }
  }
}