@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.post-list {
    &.design1 {
        display: flex;
        gap: 2.4rem;
        .post-item {
            .post-wrap {
                .post-figure {
                    img {
                        border-radius: 1.6rem;
                    }
                }
            }
        }

        @include mobile {
            flex-direction: column;
        }
    }
    &.design2 {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .post-item {
            .post-wrap {
                display: flex;
                gap: 8rem;
                align-items: center;
                background-color: custom-color(etc, 070);
                border-radius: 1.6rem;
                .post-figure {
                    img {
                        border-radius: 1.6rem;
                    }
                }

                @include mobile {
                    flex-direction: column;
                }
            }

            @include mobile {
                &:nth-child(even) {
                    .post-wrap {
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }

    &.style1{
        .post-item {
            .post-wrap {
                .post-head {
                    .post-subject {
                       padding: 1.6rem 1.5rem 0;
                    }
                }
            }

            &:nth-child(even) {
                margin-top: 5.6rem;
            }
        }
    }
    &.style2 {
        .post-item {
            .post-wrap {
                padding: 4rem 8rem 4rem 4rem;

                .post-head {
                    .post-subject {
                        + .post-summary {
                            margin-top: 2.8rem
                        }
                    }
                }

                @include mobile {
                    padding: 4rem;
                }
            }

            &:nth-child(even) {
                .post-wrap {
                    padding: 4rem 4rem 4rem 8rem;

                    @include mobile {
                        padding: 4rem;
                    }
                }
            }
        }
    }

    &.type1 {
        .post-item {
            .post-wrap {
                .post-head {
                    .post-subject {
                        @include font(small-2x, medium);
                        color: custom-color(system, 080);
                    }
                }
            }
        }
    }

    &.type2 {
        .post-item {
            .post-wrap {
                .post-head {
                    .post-subject {
                        @include font(small, bold);
                        color: custom-color(primary, 080);
                        line-height: 190%;
                        
                        + .post-summary {
                            @include font(small-2x, regular);
                            color: custom-color(system, 080);
                            line-height: 160%;
                        }
                    }
                }
            }
        }
    }
}