@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.post-list {
    &.module-a {
        display: flex;
        gap: 2.4rem;
        .post-item {
            width: calc(100% / 4 - 1.8rem);
            .post-wrap {
                .post-figure {
                    width: 100%;
                    height: 0;
                    border-radius: 1.6rem;
                    overflow: hidden;
                    flex-shrink: 0;
                    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                    padding-bottom: 94%;
                    img {
                        width: 100%;
                    }
                }
            }
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &.module-c {

    }

    &.style-a{
        .post-item {
            .post-wrap {
                .post-head {
                    .post-name {
                       padding: 1.6rem 1.5rem 0;
                    }
                }
            }

            &:nth-child(even) {
                margin-top: 5.6rem;
            }
        }
    }

    &.style-c {
        .post-item {
            .post-wrap {
                .post-head {
                    .post-name {
                        + .post-summary {
                            margin-top: 2.4rem
                        }
                    }
                    + .post-figure {
                        margin-top: 4rem;
                    }
                    + .post-body {
                        margin-top: 4rem;
                    }
                }
            }
            + .post-item {
                margin-top: 12rem
            }
        }
    }

    &.type-a {
        .post-item {
            .post-wrap {
                .post-head {
                    .post-name {
                        @include font(small-2x, medium);
                        color: custom-color(neutral,100);
                    }
                }
            }
        }
    }

    &.type-c {
        .post-item {
            .post-wrap {
                .post-head {
                    .post-name {
                        @include font(small-1x, bold);
                        color: custom-color(neutral, 080);

                        + .post-summary {
                            @include font(small-3x, medium);
                            color: custom-color(neutral, 080);
                        }
                    }
                    + .post-figure {
                        margin-top: 4rem;
                    }
                }
            }
        }
    }

    // solution accordion 있는 페이제에 씀
    &.process {
        position: relative;
        width: 144rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        .post-item {
            flex: 0 0 auto;
            width: 10.2rem;
            height: 53rem;
            border-radius: 1rem;
            background: custom-color(secondary, 060);
            transition: all 0.5s ease-out;
            overflow: hidden;

            .post-wrap {
                position: relative;
                overflow: hidden;
                height: 100%;

                .post-info {
                    position: relative;
                    padding: 4rem 3.7rem;
                    color: custom-color(neutral, 000);
                    width: 100%;
                    z-index: 2;

                    .post-head {
                        .post-name {
                            position: relative;
                            @include font(small-3x, bold);
                            em {
                                display: block;
                                transform: rotate(90deg);
                                transform-origin: left;
                                width: max-content;
                                margin-left: 1.2rem;
                                margin-top: 1rem;

                                &::after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    left: -1.5rem;
                                    width: 0.1rem;
                                    height: 1.2rem;
                                    background: custom-color(neutral, 000);
                                    transform: translateY(-50%);
                                }
                            }
                            + .post-name {
                                display: none
                            }

                        }
                        + .post-body {
                            display: none;
                        }
                    }
                }

                .post-figure {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 89rem;
                    height: 100%;

                    img {
                        opacity: 0;
                        transition: all .5s ease-out;
                    }
                }
            }

            &.active {
                width: 89rem;
                background-color: none;

                .post-wrap {
                    .post-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        .post-head {
                            .post-name {
                                position: relative;
                                @include font(small-2x, bold);
                                em {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    margin-left: 2.7rem;
                                    margin-top: 0;
                                    transform: rotate(0);
                                    display: inline-block;

                                    &::after {
                                        content: '';
                                        display: inline-block;
                                        position: absolute;
                                        top: 50%;
                                        left: -1.5rem;
                                        width: 0.1rem;
                                        height: 1.2rem;
                                        background: custom-color(neutral, 000);
                                        transform: translateY(-50%);
                                    }
                                }
                                + .post-name {
                                    @include font(small-4x, medium);
                                    color: custom-color(neutral, 060);
                                    margin-top: 0.8rem;
                                    display: block;
                                }

                            }
                            + .post-body {
                                display: block;
                                .post-summary {
                                    @include font(small-3x, medium);
                                    width: 66rem;
                                }
                            }
                        }
                    }
                    .post-figure {
                        img {
                            opacity: 1;
                        }
                    }


                }

            }
        }
    }
    &.feature {
        position: relative;
        height: 50.9rem;
       .post-item {
            .post-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 132.2rem;
                margin: 0 auto;

                .post-info {
                    border-radius: 1rem;
                    border: 0.1rem solid rgba(203, 203, 203, 0.50);
                    padding: 2rem;
                    cursor: pointer;
                    width: 71rem;
                    //height: 7.2rem;
                    .post-head {
                        position: relative;

                        .post-name {
                            padding-left: 3rem;
                            @include font(small-2x, bold);
                            color: custom-color(neutral, 080);

                            &.network, &.clock, &.device, &.certi {
                                position: relative;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 2.2rem;
                                    height: 2.1rem;
                                    background: no-repeat center;
                                    transform: translateY(-50%);
                                }
                            }

                            &.network::after {
                                background-image: icon('network', custom-color(neutral, 090));
                            }

                            &.clock::after {
                                background-image: icon('clock', custom-color(neutral, 090));
                            }

                            &.device::after {
                                background-image: icon('device', custom-color(neutral, 090));
                            }

                            &.certi::after {
                                background-image: icon('certi', custom-color(neutral, 090));
                            }
                        }


                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 2.4rem;
                            height: 2.4rem;
                            background-image: icon('mines', custom-color(neutral, 080));
                            background-repeat: no-repeat;
                            background-size: 1.5rem;
                            background-position: center;
                            transition: all .2s ease-out;
                            transform: translateY(-50%);
                        }

                        + .post-body {
                            .bullet-list {
                                margin-top: 2.4rem;
                            }
                        }
                        + .post-body {
                            height: 0; 
                            opacity: 0; 
                            overflow: hidden; 
                            transition: height 0.3s ease-out, opacity 0.3s ease-out; 
                        }
                    }
                }

                .post-figure {
                    position: absolute;
                    top: 0;
                    right: 6rem;
                    width: 58.8rem;
                    opacity: 0;
                    border-radius: 1.6rem;
                    overflow: hidden;
                    transition: opacity 0.3s ease-out; 
                    img {
                        width: 100%;
                    }
                }
            }

            + .post-item {
                margin-top: 0.8rem;
            }

            &.active {
                .post-wrap {
                    .post-info {
                        background: custom-color(etc, 100);
                        .post-head {
                            .post-name {
                                padding-left: 3rem;
                                @include font(small-2x, bold);
                                color: custom-color(primary, 080);
                            
                                &.network, &.clock, &.device, &.certi {
                                    position: relative;
                            
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        width: 2.2rem;
                                        height: 2.1rem;
                                        background: no-repeat center;
                                        transform: translateY(-50%);
                                    }
                                }
                            
                                &.network::after {
                                    background-image: icon('network', custom-color(primary, 080));
                                }
                            
                                &.clock::after {
                                    background-image: icon('clock', custom-color(primary, 080));
                                }
                            
                                &.device::after {
                                    background-image: icon('device', custom-color(primary, 080));
                                }
                            
                                &.certi::after {
                                    background-image: icon('certi', custom-color(primary, 080));
                                }
                            }
                            
                            &::after {
                                background-image: icon('plus', custom-color(neutral, 080));
                            }
                        }
                        .post-body {
                            height: auto; 
                            opacity: 1; 
                        }
                    }
                    .post-figure {
                       opacity: 1;
                    }
                }
            }
       }
    }
}