@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.post-display {
    max-width: 144rem;
    margin: 0 auto;
    margin-top: 7.6rem;
    @include mobile {
        margin-top: 0;
    }
    .post-wrap {
        .post-head {
            text-align: center;
            .post-info {
                .info-list {
                    display: flex;
                    justify-content: center;
                    gap: 3rem;
                    .info-item {
                        position: relative;
                        @include font(small-5x, bold);
                        color: custom-color(neutral, 070);

                        @include mobile {
                            @include font(small-6x, bold);
                        }

                        &:first-child {
                            color: custom-color(primary, 090);
                        }

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: -1.5rem;
                            transform: translateY(-50%);
                            height: 0.8rem;
                            width: 0.1rem;
                            background-color: custom-color(neutral, 070);
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &.link2 {
                            position: relative;
                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 50%;
                                right: -1.4rem;
                                transform: translateY(-50%);
                                width: 2rem;
                                height: 2rem;
                                background-image: icon('link2', custom-color(neutral, 100));
                                background-size: cover;
                                background-repeat: no-repeat
                            }
                        }
                    }
                }
            }
            .post-subject {
                @include font(large, bold);
                padding: 3.4rem 0 8rem;
                max-width: 95.4rem;
                margin: 0 auto;
                @include mobile {
                    padding: 2rem 0 6rem;
                    @include font(small-2x, bold);
                }
            }

            + .post-body {
                padding-top: 8rem;
                border-top: 0.1rem solid custom-color(neutral, 100);
                @include mobile {
                    padding-top: 6rem;
                }
                .post-inner {
                    max-width: 95.4rem;
                    margin: 0 auto;
                    .post-figure {
                        border-radius: 1.6rem;
                        overflow: hidden;
                    }
                    .post-text {
                        margin-top: 6.4rem;
                        @include font(small-2x, regular);
                        color: custom-color(neutral, 080);
                        @include mobile {
                            margin-top: 4rem;
                            @include font(small-4x, regular);
                        }
                    }
                    .post-link {
                        margin-top: 8rem;
                        .link-list {
                            .link-item {
                                background: custom-color(etc, 100);
                                border-radius: 0.8rem;
                                padding: 2.8rem;
                                @include mobile {
                                    padding: 2rem 1.6rem;
                                }
                                .link-wrap {
                                    a{
                                        display: flex;
                                        gap: 2rem;
                                        @include font(small-4x, regular);
                                        .link-icon {
                                            position: relative;
                                            font-weight: 700;
                                            color: custom-color(primary, 090);
                                            padding-left: 2.6rem;
                                            height: 2.6rem;
                                            &::before {
                                                content: "";
                                                display: block;
                                                position: absolute;
                                                top: 50%;
                                                left: 0;
                                                transform: translateY(-50%);
                                                width: 2rem;
                                                height: 2rem;
                                                background-image: icon('link2', custom-color(primary, 090));
                                                background-size: cover;
                                                background-repeat: no-repeat
                                            }
                                        }
                                        .link-title {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }

                        @include mobile {
                            margin-top: 4rem;
                        }
                    }
                }
            }
        }
        .post-util {
            margin-top: 12rem;
            @include mobile {
                margin-top: 8rem;
            }
            .button-area {
                margin-top: 8rem;
                @include mobile {
                    margin-top: 6rem;
                }
            }
        }
    }
}


.post-list {
    &.module-a {
        display: flex;
        gap: 2.4rem;
        .post-item {
            width: calc(100% / 4 - 1.8rem);

            @include mobile {
                width: 100%;
            }

            .post-wrap {
                .post-figure {
                    width: 100%;
                    height: 0;
                    border-radius: 1.6rem;
                    overflow: hidden;
                    flex-shrink: 0;
                    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                    padding-bottom: 94%;
                    img {
                        width: 100%;
                    }
                }
            }
        }

        @include mobile {
            flex-direction: column;
            gap: 4rem;
        }

        &.style-a{
            .post-item {
                .post-wrap {
                    .post-head {
                        .post-name {
                           padding: 1.6rem 1.5rem 0;
                           @include font(small-2x, medium);
                           color: custom-color(neutral,100);

                           @include mobile {
                               @include font(small-3x, bold);
                           }
                        }
                    }
                }

                &:nth-child(even) {
                    margin-top: 5.6rem;

                    @include mobile {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &.module-b {
        display: flex;
        gap: 12rem 2rem;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            row-gap: 8rem;
        }

        .post-item {
            width: calc(100% / 2 - 1rem);

            @include mobile {
                width: 100%;
            }
            .post-wrap {
                display: flex;
                flex-direction: column;
                .post-figure {
                    border-radius: 1.6rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        &.style-b {
            .post-item {
                .post-wrap {
                    .post-figure {
                        + .post-info {
                            margin-top: 4rem;
                            color: custom-color(neutral, 080);
                            .post-head {
                                @include font(small-1x, bold);

                                @include mobile {
                                    @include font(small-4x, bold);
                                }
                                + .post-body {
                                    @include font(small-3x, regular);

                                    @include mobile {
                                        @include font(small-5x, regular);
                                    }
                                }
                            }
                            @include mobile {
                                margin-top: 2.4rem;
                                padding: 0 1.6rem;
                            }
                            .post-body {
                                margin-top: 2rem;

                                @include mobile {
                                    margin-top: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.module-c {
        &.style-c {
            .post-item {
                .post-wrap {
                    .post-head {
                        .post-name {
                            @include font(small-1x, bold);
                            color: custom-color(neutral, 080);

                            @include mobile {
                                @include font(small-2x, bold);
                            }
                            + .post-summary {
                                margin-top: 2.4rem;
                                @include font(small-3x, medium);
                                color: custom-color(neutral, 100);

                                @include mobile {
                                    @include font(small-5x, medium);
                                    margin-top: 1.6rem;
                                }
                            }
                        }
                        + .post-figure {
                            margin-top: 4rem;
                            img {
                                width: 100%;
                            }
                        }
                        + .post-body {
                            margin-top: 4rem;

                            .table-info {
                                display: flex;
                                justify-content: right;
                                gap: 1.2rem;
                            }

                            img {
                                width: 100%;
                            }
                        }
                    }
                    .post-figure {
                        margin-top: 4rem;

                        @include mobile{
                            overflow: auto;
                            @include scroll-y;
                            @include scroll-x;
                        }
                        img {
                            width: 100%;
                        }
                        &.height {
                            @include mobile {
                                max-height: 53rem;
                            }
                        }
                    }
                }
                + .post-item {
                    margin-top: 12rem;

                    @include mobile {
                        margin-top: 8rem
                    }
                }
            }
        }
    }

    &.module-d {
        display: flex;
        flex-direction: column;
        gap: 18rem;

        @include mobile {
            gap: 12rem;
        }

        .post-item {
            .post-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8rem;

                @include mobile {
                    flex-direction: column;
                    gap: 6rem;
                }

                .post-info {
                    width: 36.66%;
                    @include mobile {
                        width: 100%;
                    }

                    + .post-figure {
                        border-radius: 1.6rem;
                        overflow: hidden;
                        img {
                            width: 83.2rem;
                            height: auto;
                            @include mobile {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.style-d {
            .post-item {
                .post-wrap {
                    .post-info {
                        .post-number {
                            @include font(small-1x, bold);
                            color: custom-color(primary, 090);

                            @include mobile {
                                @include font(small-2x, bold);
                            }
                           + .post-head {
                            margin-top: 0.8rem;
                            @include font(large, bold);
                            color: custom-color(neutral, 090);

                            @include mobile {
                                @include font(small-1x, bold);
                            }
                            + .post-body {
                                margin-top: 3.2rem;
                                @include font(small-3x, regular);
                                color: custom-color(neutral, 100);
                                @include mobile {
                                    margin-top: 2rem;
                                }
                                @include mobile {
                                    @include font(small-5x, regular);
                                }
                            }
                           }
                        }
                    }
                }
            }
        }
    }

    &.module-e {
        display: flex;
        gap: 6rem 2rem;
        flex-wrap: wrap;
        width: 100%;
        @include mobile {
            row-gap: 1.4rem;
        }
        .post-item {
            width: calc(100%/3 - 2rem);
            .post-wrap {
                .post-figure {
                    text-align: center;
                    padding: 6rem 0;
                    border: 0.1rem solid rgba(203, 203, 203, 0.50);
                    border-radius: 1.6rem 1.6rem 0rem 0rem;
                    border-bottom: 0;
                    @include mobile {
                        padding: 4rem 0;
                    }
                    + .post-info {
                        height: 35.6rem;
                        padding: 6rem 3.2rem;
                        background: custom-color(etc, 070);
                        border: 0.1rem solid custom-color(etc, 070);
                        border-radius: 0 0 1rem 1rem;
                        .post-head {
                            @include font(small-1x, bold);
                            color: custom-color(primary, 080);
                            @include mobile {
                                @include font(small-4x, bold);
                            }
                            + .post-body {
                                margin-top: 2.4rem;
                                @include font(small-3x, regular);
                                color: custom-color(neutral, 100);
                                @include mobile {
                                    @include font(small-5x, regular);
                                }
                                @include mobile {
                                    margin-top: 1.6rem
                                }
                            }
                        }
                        @include mobile {
                            padding: 4rem 2rem;
                            height: auto;
                        }
                    }
                }
            }

            @include mobile {
                width: 100%;
            }
        }
    }

    &.module-f {
        display: flex;
        gap: 4rem 2rem;
        flex-wrap: wrap;
        @include mobile {
            gap: 2.4rem 2rem;
        }
        .post-item {
            border: 0.1rem solid rgba(203, 203, 203, 0.50);
            border-radius: 0.8rem;
            overflow: hidden;
            width: calc(100%/6 - 2rem);
            height: 9rem;
            position: relative;
            background: custom-color(neutral, 000);
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @include mobile {
                width: calc(100%/2 - 1rem);
                position: relative;
                height: 6.75rem;
            }
        }
    }

    &.module-g {
        border-top: 0.1rem solid custom-color(neutral, 100);

        .post-item {
            display: block;
            padding: 4.25rem 0;
            border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);

            @include mobile {
                padding: 2.4rem 0;
                display: none;
            }

            .post-wrap {
                display: flex;
                gap: 7rem;

                .post-figure {
                    flex-shrink: 0;
                    position: relative;
                    width: 35.5rem;
                    height: 19.4rem;
                    border-radius: 1.6rem;
                    overflow: hidden;

                    @include mobile {
                        display: none;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(1);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all .5s ease-out;
                    }
                }

                .post-info {
                    width: calc(100% - 35.5rem - 7rem);

                    @include mobile {
                        width: 100%;
                    }

                    .post-head {
                        .post-caption {
                            @include font(small-4x, bold);
                            color: custom-color(primary, 090);

                            @include mobile {
                                @include font(small-6x, bold);
                            }

                            & + .post-subject {
                                margin-top: 1.2rem;
                            }
                        }
                        .post-subject {
                            @include font(small-1x, bold);
                            color: custom-color(neutral, 090);
                            @include ellipsis(1);

                            @include mobile {
                                @include font(small-4x, bold);
                            }
                        }

                        & + .post-body {
                            margin-top: 2.1rem;

                            @include mobile {
                                margin-top: 0.3rem;
                            }
                        }
                    }
                    .post-body {
                        .para {
                            @include font(small-2x, regular);
                            color: custom-color(neutral, 080);
                            @include ellipsis(2);

                            @include mobile {
                                @include font(small-4x, regular);
                            }
                        }

                        & + .post-date {
                            margin-top: 2.4rem;

                            @include mobile {
                                margin-top: 1.6rem;
                            }
                        }
                    }
                    .post-date {
                        @include font(small-6x, bold);
                        color: custom-color(neutral, 070);
                    }
                }
            }

            &:hover,
            &:focus {
                .post-wrap {
                    .post-figure {
                        img {
                            transform: translate(-50%, -50%) scale(1.1);
                        }
                    }
                    .post-info {
                        .post-head {
                            .post-subject {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            &.show {
                display: block;
            }
        }
    }

    &.process {
        position: relative;
        width: 144rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        .post-item {
            flex: 0 0 auto;
            width: 10.2rem;
            height: 53rem;
            border-radius: 1rem;
            background: custom-color(secondary, 060);
            transition: all 0.5s ease-out;
            overflow: hidden;

            .post-wrap {
                position: relative;
                overflow: hidden;
                height: 100%;

                .post-info {
                    position: relative;
                    padding: 4rem 3.7rem;
                    color: custom-color(neutral, 000);
                    width: 100%;
                    z-index: 2;

                    .post-head {
                        .post-name {
                            position: absolute;
                            top: 4rem;
                            left: 3.7rem;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;


                            @include font(small-3x, bold);
                            em {
                                display: inline-block;
                                writing-mode: vertical-rl;
                                margin-top: 1.2rem;
                                margin-left: -0.2rem;
                                text-orientation: mixed;

                                &::after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: 3.25rem;
                                    left: 0.5rem;
                                    width: 1.2rem;
                                    height: 0.1rem;
                                    background: custom-color(neutral, 000);
                                    transform: translateY(-50%);
                                }
                            }
                            + .post-name {
                                display: none
                            }

                        }
                        + .post-body {
                            display: none;
                        }
                    }
                }

                .post-figure {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 89rem;
                    height: 100%;

                    img {
                        opacity: 0;
                        transition: all .5s ease-out;
                    }
                }
            }

            &.active {
                width: 89rem;
                background-color: none;

                .post-wrap {
                    .post-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        .post-head {
                            .post-name {
                                flex-direction: unset;

                                em {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    margin-left: 2.7rem;
                                    margin-top: 0;
                                    transform: rotate(0);
                                    display: inline-block;
                                    writing-mode: unset;

                                    &::after {
                                        content: '';
                                        display: inline-block;
                                        position: absolute;
                                        top: 50%;
                                        left: -1.5rem;
                                        width: 0.1rem;
                                        height: 1.2rem;
                                        background: custom-color(neutral, 000);
                                        transform: translateY(-50%);
                                    }
                                }
                                + .post-name {
                                    @include font(small-4x, medium);
                                    color: custom-color(neutral, 060);
                                    margin-top: 4.8rem;
                                    display: block;
                                }

                            }
                            + .post-body {
                                display: block;
                                .post-summary {
                                    @include font(small-3x, medium);
                                    width: 66rem;
                                }
                            }
                        }
                    }
                    .post-figure {
                        img {
                            opacity: 1;
                        }
                    }


                }

            }
        }
    }

    &.feature {
        position: relative;
        max-width: 133.2rem;
        margin: 0 auto;
        height: 50.9rem;

        @include mobile {
            height: auto;
        }
       .post-item {
            @include mobile {
                position: relative;
            }
            .post-wrap {
                padding-right: 45.94594%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include mobile {
                    flex-direction: column;
                    padding-right: 0;
                    gap: 0.8rem;
                }

                .post-info {
                    border-radius: 1rem;
                    border: 0.1rem solid rgba(203, 203, 203, 0.50);
                    padding: 2rem;
                    width: 100%;

                    .post-head {
                        position: relative;

                        .post-name {
                            padding-left: 3rem;
                            @include font(small-2x, bold);
                            color: custom-color(neutral, 080);

                            @include mobile {
                                @include font(small-4x, bold);
                            }

                            &.network, &.clock, &.device, &.certi {
                                position: relative;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 2.2rem;
                                    height: 2.1rem;
                                    background: no-repeat center;
                                    transform: translateY(-50%);
                                }
                            }

                            &.network::after {
                                background-image: icon('network', custom-color(neutral, 090));
                            }

                            &.clock::after {
                                background-image: icon('clock', custom-color(neutral, 090));
                            }

                            &.device::after {
                                background-image: icon('device', custom-color(neutral, 090));
                            }

                            &.certi::after {
                                background-image: icon('certi', custom-color(neutral, 090));
                            }
                        }


                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 2.4rem;
                            height: 2.4rem;
                            background-image: icon('plus', custom-color(neutral, 080));
                            background-repeat: no-repeat;
                            background-size: 1.5rem;
                            background-position: center;
                            transition: all .2s ease-out;
                            transform: translateY(-50%);
                        }

                        + .post-body {
                            .bullet-list {
                                margin-top: 2.4rem;
                                padding-left: 3.2rem;

                                @include mobile {
                                    margin-top: 1.6rem;
                                }
                            }
                        }
                        + .post-body {
                            height: 0;
                            opacity: 0;
                            overflow: hidden;
                            transition: height 0.3s ease-out, opacity 0.3s ease-out;
                        }
                    }
                }

                .post-figure {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 44.14414%;
                    height: 0;
                    padding-bottom: 38.21321%;
                    border-radius: 1.6rem;
                    overflow: hidden;
                    transition: opacity 0.3s ease-out;
                    opacity: 0;

                    @include mobile {
                        position: relative;
                        width: 100%;
                        height: 0;
                        padding-bottom: 87.4666%;
                        display: none;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            + .post-item {
                margin-top: 0.8rem;
            }

            &.active {
                .post-wrap {
                    .post-info {
                        background: custom-color(etc, 100);
                        .post-head {
                            .post-name {
                                padding-left: 3rem;
                                @include font(small-2x, bold);
                                color: custom-color(primary, 080);

                                @include mobile {
                                    @include font(small-4x, bold);
                                }

                                &.network, &.clock, &.device, &.certi {
                                    position: relative;

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        width: 2.2rem;
                                        height: 2.1rem;
                                        background: no-repeat center;
                                        transform: translateY(-50%);
                                    }
                                }

                                &.network::after {
                                    background-image: icon('network', custom-color(primary, 080));
                                }

                                &.clock::after {
                                    background-image: icon('clock', custom-color(primary, 080));
                                }

                                &.device::after {
                                    background-image: icon('device', custom-color(primary, 080));
                                }

                                &.certi::after {
                                    background-image: icon('certi', custom-color(primary, 080));
                                }
                            }

                            &::after {
                                background-image: icon('mines', custom-color(neutral, 080));
                            }
                        }
                        .post-body {
                            height: auto;
                            opacity: 1;
                        }
                    }
                    .post-figure {
                       opacity: 1;

                       @include mobile {
                        display: block;
                       }
                    }
                }
            }
       }
    }

    &.click-esg-manager {
        overflow-y: auto;
        .circle {
            position: relative;
            min-width: 91rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 80rem;

            @include mobile {
                margin-left: 10rem;
            }

            .circles {

                .post-item {
                    position: absolute;
                    top: -0.9rem;
                    left: calc(50% + 11rem);
                    transform: translateX(-50%);
                    height: 17.8rem;
                    .case {
                        width: 37rem;
                        height: 100%;
                    }

                    .icon {
                        position: absolute;
                        top: 4rem;
                        left: 4.5rem;
                        display: block;
                        width: 7.6rem;
                        height: 7.6rem;

                    }
                    .title {
                        position: absolute;
                        bottom: 0;
                        left: 2.5rem;
                        @include font(small-5x, bold);
                        color: custom-color(neutral, 080);
                        background: custom-color(etc, 070);
                        line-height: 120%;

                        &::after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            right: -1.5rem;
                            width: 0.7rem;
                            height: 1.1rem;
                            background: icon('arrow-right3', custom-color(neutral, 080)) no-repeat center;
                            background-size: 100%;
                            transform: translateY(-50%);
                        }
                    }

                    &:hover {
                        .icon {
                            transform: scale(1.1);
                            transition: all 0.8s ease-out;
                        }
                        .title {
                            color: custom-color(primary, 090);
                            &::after {
                                background: icon('arrow-right3', custom-color(primary, 090)) no-repeat center;
                            }
                        }
                    }

                    &.two {
                        top: 12rem;
                        left: calc(50% + 34rem);
                    }
                    &.three {
                        top: 34rem;
                        left: calc(50% + 39rem);
                        .title {
                            bottom: -1.4rem;
                            left: 3rem;
                        }
                    }
                    &.four {
                        top: 59rem;
                        left: calc(50% + 23rem);
                        .title {
                            bottom: -1.4rem;
                            left: 3.5rem;
                        }
                        .icon {
                            top: 4.5rem;
                            left: 5rem;
                        }
                    }
                    &.five {
                        top: 58.5rem;
                        left: calc(50% - 23rem);
                        .title {
                            bottom: 0;
                            left: 22rem;
                        }
                        .icon {
                            top: 4.5rem;
                            right: 5rem !important;
                            left: auto;
                        }
                    }
                    &.six {
                        top: 34rem;
                        left: calc(50% - 39rem);
                    }
                    &.seven {
                        top: 12rem;
                        left: calc(50% - 31rem);
                    }
                }
            }

            &::after {
                content: '';
                display: block;
                width: 58rem;
                height: 58rem;
                border-radius: 100%;
                border: 1px dashed #393939;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                opacity: 0.6;
            }
        }
        @include mobile {
            @include scroll-x;
            //overflow-y: auto;
            padding-left: 3rem;
            transform: scale(1) !important;
        }


        @media only screen and (max-width: 1240px) {
            transform: scale(0.95);
            transition: all 0.3s ease-out;
        }
        @media only screen and (max-width: 1150px) {
            transform: scale(0.9);
        }

    }
}