@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.t-display {
	width: 100%;
	margin: 0 auto;
	max-width: 144rem;
	
	overflow: auto;
	@include mobile {
		@include scroll-y;
		@include scroll-x;
	}

	table {
		width: 100%;
		table-layout: fixed;
		border-spacing: 0;
		border-collapse: collapse;
		border-right: hidden;
		border-left: hidden;
		border-top: hidden;
		border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);

	}

    &.module-a {
		table {
			>thead {
				>tr {
					>th {
						background-color: #2A78C7;
						border-right: 0.1rem solid custom-color(neutral, 000);
						border-left: 0.1rem solid custom-color(neutral, 060);
						border-top: 0.1rem solid custom-color(neutral, 060);
						padding: 1.8rem;
						@include font(small-4x, bold);
						color: custom-color(neutral, 000);
						text-align: center;
					}
				}
			}

			>tbody {
				>tr {
					>th,
					>td {
						border-right: 0.1rem solid rgba(203, 203, 203, 0.50);
						padding: 1.5rem 2rem;
						color: custom-color(neutral, 080);
						@include font(small-4x, bold);

						&.t-bg {
							background: rgba(133, 133, 133, 0.05);
						}

						&.check {
							position: relative;

							&::after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 2.6rem;
								height: 2.6rem;
								background: icon('check', #2A78C7) no-repeat center;
								background-size: 2rem;
								transform: translate(-50%, -50%);
								border-radius: 100%
							}
						}
						&.ex {
							position: relative;

							&::after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 2.8rem;
								height: 2.8rem;
								background: icon('ex', #AFACAD) no-repeat center;
								background-size: 2rem;
								transform: translate(-50%, -50%);
								border-radius: 100%
							}
						}
					}
				}
			}
		}
    }

	&.module-b{
		table {
			border-bottom: 0;
			>thead {
				>tr {
					>th {
						background-color: #2A78C7;
						border-right: 0.1rem solid custom-color(neutral, 000);
						border-left: 0.1rem solid custom-color(neutral, 000);
						border-top: 0.1rem solid custom-color(neutral, 000);
						top: 0;
						padding: 1.6rem;
						z-index: 1; 
						font-size: 1.5rem;
						font-weight: 700;
						line-height: 160%;
						color: custom-color(neutral, 000);
						text-align: center;

						&.organization {
							border-right: 1px solid rgba(203, 203, 203, 0.50);
							background: custom-color(etc, 100);
						}
					}
				}
			}

			>tbody {
				>tr {
					>th,
					>td {
						border-right: 0.1rem solid custom-color(neutral, 000);
						border-bottom: 0.1rem solid custom-color(neutral, 000);
						padding: 1.5rem 2rem;
						@include font(small-5x, bold);
						color: custom-color(neutral, 080);
						&.common-index {
							background: rgba(5, 104, 204, 0.12);
							@include font(small-5x, medium);
							color: #0B5AAB;
							font-weight: 600;
						}
						&.special-index {
							background: rgba(34, 188, 98, 0.15);
							@include font(small-5x, medium);
							color: #166844;
							font-weight: 600;
						}
						&.bottom-grey {
							border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50) !important;
							font-size: 1.5rem;
							font-weight: 400;
							line-height: 160%;
							color: custom-color(neutral, 080);
						}
						&.has-bg {
							border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
							background: custom-color(etc, 100);
						}
						&.nonline {
							border-bottom: 0.1rem solid custom-color(etc, 100);
						}
					}
					&:last-child{
						>td {
							border-bottom: 0;
							&.bottom-grey {
								border-bottom: 0;
							}
							&.has-bg:last-child {
								border-bottom: 0;
							}
						}
					}
				}
			}
		}
	}

	&.module-c{
		table {
			border-bottom: 0;
			>thead {
				>tr {
					>th {
						background-color: #2A78C7;
						border-right: 0.1rem solid custom-color(neutral, 000);
						border-left: 0.1rem solid custom-color(neutral, 000);
						border-top: 0.1rem solid custom-color(neutral, 000);
						padding: 1.8rem 0;
						font-size: 1.5rem;
						font-weight: 700;
						line-height: 160%;
						color: custom-color(neutral, 000);
						&.organization {
							@include font(small-5x, bold);
							color: custom-color(neutral, 080);
							font-weight: 600;
							border-right: 1px solid rgba(203, 203, 203, 0.50);
							background: custom-color(etc, 100);
						}
					}
				}
			}

			>tbody {
				>tr {
					>th,
					>td {
						vertical-align: middle;
						font-size: 1.5rem;
						color: custom-color(neutral, 080);
						padding: 1.8rem 0;
						&.bold {
							font-weight: 700;
							border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
						}
						&.has-bg {
							@include font(small-5x, bold);
							border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
							background: custom-color(etc, 100);
						}
						&.has-grey {
							background: rgba(133, 133, 133, 0.05);
						}

						&.bottom-grey {
							border-bottom: 1px solid rgba(203, 203, 203, 0.50);
						}

						&.right-grey {
							border-right: 1px solid rgba(203, 203, 203, 0.50);
						}

						&.check {
							position: relative;

							&::after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 2.6rem;
								height: 2.6rem;
								background: icon('check', #2A78C7) no-repeat center;
								background-size: 2rem;
								transform: translate(-50%, -50%);
								border-radius: 100%
							}
						}
						&.ex {
							position: relative;

							&::after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 2.8rem;
								height: 2.8rem;
								background: icon('ex', #AFACAD) no-repeat center;
								background-size: 2rem;
								transform: translate(-50%, -50%);
								border-radius: 100%
							}
						}
						&.nonline {
							background: custom-color(etc, 100);
						}
					}
				}
			}
		}
	}

	&.module-d{
		table {
			border-bottom: 0;
			>thead {
				>tr {
					>th {
						background-color: #2A78C7;
						border-right: 0.1rem solid custom-color(neutral, 000);
						border-left: 0.1rem solid custom-color(neutral, 000);
						border-top: 0.1rem solid custom-color(neutral, 000);
						padding: 1.6rem;
						font-size: 1.5rem;
						font-weight: 700;
						line-height: 160%;
						color: custom-color(neutral, 000);
						&.organization {
							border-right: 1px solid rgba(203, 203, 203, 0.50);
							background: custom-color(etc, 100);
							@include font(small-5x, bold);
							color: custom-color(neutral, 080);
							font-weight: 600;
						}
					}
				}
			}

			>tbody {
				>tr {
					>th,
					>td {
						vertical-align: middle;
						padding: 1.5rem 2rem;
						font-size: 1.5rem;
						font-weight: 400;
						color: custom-color(neutral, 080);
						padding: 2.8rem;
						&.has-bg {
							@include font(small-5x, bold);
						}
						&.has-bg {
							background: custom-color(etc, 100);
							border-bottom: 0.1rem solid custom-color(etc, 100);
						}
						&.has-grey {
							background: rgba(133, 133, 133, 0.05);
						}

						&.bottom-grey {
							border-bottom: 1px solid rgba(203, 203, 203, 0.50);
						}

						&.check {
							position: relative;

							&::after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 2.6rem;
								height: 2.6rem;
								background: icon('check', #2A78C7) no-repeat center;
								background-size: 2rem;
								transform: translate(-50%, -50%);
								border-radius: 100%
							}
						}
						&.ex {
							position: relative;

							&::after {
								content: "";
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 2.8rem;
								height: 2.8rem;
								background: icon('ex', #AFACAD) no-repeat center;
								background-size: 2rem;
								transform: translate(-50%, -50%);
								border-radius: 100%
							}
						}
					}
				}
			}
		}
	}

	&.module-e {
		table {
			border-top: 0.2rem solid custom-color(neutral, 100);
			>thead {
				>tr {
					>th {
						background-color: custom-color(etc, 070);
						border-right: 0.1rem solid rgba(203, 203, 203, 0.50);
						border-left: 0.1rem solid rgba(203, 203, 203, 0.50);
						padding: 1.4rem;
						@include font(small-4x);
						font-weight: 600;
						color: custom-color(neutral, 100);
					}
				}
			}

			>tbody {
				>tr {
					>th,
					>td {
						vertical-align: middle;
						border-top: 0.1rem solid rgba(203, 203, 203, 0.50);
						border-right: 0.1rem solid rgba(203, 203, 203, 0.50);
						padding: 2.6rem;
						@include font(small-4x, regular);
						color: custom-color(neutral, 080);
						@include mobile {
							padding: 3rem 1rem;
						}
					}
				}
			}
		}
	}
	

	//align
	&.align1 {
		tbody {
			text-align: left;
		}
	}
	&.align2 {
		tbody {
			text-align: right;
		}
	}
	&.align3 {
		tbody {
			text-align: center;
		}
	}

	th,
	td {
		&.align1 {
			text-align: left;
		}
		&.align2 {
			text-align: right;
		}
		&.align3 {
			text-align: center;
		}
	}

	&.height {
		@include mobile {
		max-height: 53rem;
		}
	}
}