@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

.t-display {
	width: 100%;
	margin: 0 auto;
	max-width: 144rem;
	table {
		width: 100%;
		table-layout: fixed;
		border-spacing: 0;
		border-collapse: collapse;
		border-right: hidden;
		border-left: hidden;
		border-top: hidden;
        border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
	}

    &.module-a {
		&.style-a{
			table {
				>thead {
					>tr {
						>th {
							padding: 1.8rem;
							background-color: #2A78C7;
							border-right: 0.1rem solid custom-color(neutral, 000);
							border-left: 0.1rem solid custom-color(neutral, 060);
							border-top: 0.1rem solid custom-color(neutral, 060);
                            
                            &.t-bg {
                                background: custom-color(secondary, 100);
                            }
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 1.5rem 2rem;
							vertical-align: middle;
							border-right: 0.1rem solid rgba(203, 203, 203, 0.50);

                            &.t-bg {
                                background: rgba(133, 133, 133, 0.05);
                            }

                            &.check {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 2.6rem;
                                    height: 2.6rem;
                                    background: icon('check', #2A78C7) no-repeat center;
                                    background-size: 2rem;
                                    transform: translate(-50%, -50%);
                                    border-radius: 100%
                                }
                            }
                            &.ex {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 2.8rem;
                                    height: 2.8rem;
                                    background: icon('ex', #AFACAD) no-repeat center;
                                    background-size: 2rem;
                                    transform: translate(-50%, -50%);
                                    border-radius: 100%
                                }
                            }
						}
					}
				}
			}
		}

		&.type-a {
			table {
				>thead {
					>tr {
						>th {
                            @include font(small-4x, bold);
							color: custom-color(neutral, 000);
							text-align: center;
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							color: custom-color(neutral, 080);
							@include font(small-4x, bold);

						}
					}
				}
			}
		}
    }

    &.module-b {
		&.style-b{
			table {
				>thead {
					>tr {
						>th {
							padding: 1.6rem;
							background-color: #2A78C7;
							border-right: 0.1rem solid custom-color(neutral, 000);
							border-left: 0.1rem solid custom-color(neutral, 000);
							border-top: 0.1rem solid custom-color(neutral, 000);
                            
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 1.5rem 2rem;
							vertical-align: middle;
							border-right: 0.1rem solid custom-color(neutral, 000);
							border-bottom: 0.1rem solid custom-color(neutral, 000);
							&.common-index {
								background: rgba(5, 104, 204, 0.12);
							}
							&.special-index {
								background: rgba(34, 188, 98, 0.15);
							}
							&.bottom-gray {
								border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
							}
						}
						&:nth-child(1) {
							td {
								&:nth-child(1) {
									border-bottom: 0.1rem solid rgba(203, 203, 203, 0.50);
									background: custom-color(etc, 100);
								}
							}
						}
					}
				}
			}
		}

		&.type-a {
			table {
				>thead {
					>tr {
						>th {
                            @include font(small-4x, bold);
							color: custom-color(neutral, 000);
							text-align: center;
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							color: custom-color(neutral, 080);
							@include font(small-4x, bold);

						}
					}
				}
			}
		}

		&.type-b {
			table {
				>thead {
					>tr {
						>th {
                            font-size: 1.5rem;
							font-weight: 700;
							line-height: 160%;
							color: custom-color(neutral, 000);
							text-align: center;
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							@include font(small-5x, bold);
							color: custom-color(neutral, 080);
							&.common-index {
								@include font(small-5x, bold);
								color: #0B5AAB;
							}
							&.special-index {
								@include font(small-5x, bold);
								color: #166844;
							}
							&.bottom-gray {
								font-size: 1.5rem;
								font-weight: 400;
								line-height: 160%;
								color: custom-color(neutral, 080);
							}
						}
					}
				}
			}
		}
    }


	//align
	&.align1 {
		tbody {
			text-align: left;
		}
	}
	&.align2 {
		tbody {
			text-align: right;
		}
	}
	&.align3 {
		tbody {
			text-align: center;
		}
	}

	th,
	td {
		&.align1 {
			text-align: left;
		}
		&.align2 {
			text-align: right;
		}
		&.align3 {
			text-align: center;
		}
	}

	// table info
    // .t-info {
	// 	&.type-a {
	// 		color: custom-color(neutral, 050);
	// 		font-weight: 600;
	// 		font-size: 3.2rem;
	// 	}
	// 	&.type-b {
	// 		color: custom-color(neutral, 050);
	// 		font-weight: 600;
	// 		font-size: 1.3rem;
	// 	}
	// 	+ table {
	// 		margin-top: 2rem;
	// 	}
    // }

	// 코멘트 text
	// + .comment {
	// 	margin-top: 1.6rem;
	// 	@include mobile {
	// 		margin-top: 1.2rem;
	// 	}
		
	// }
}