@use '../components/mixin' as *;
@use '../components/variables' as *;

.tab-display {
    &.module-a {
        display: flex;
        justify-content: center;

        .tab-wrap {
            padding: 0.8rem;
            border-radius: 5.6rem;
            background: #095EEF;

            @include mobile {
                padding: 0.56rem;
                border-radius: 3.92rem;
            }

            .tab-list {
                gap: 0.4rem;

                @include mobile {
                    gap: 0.28rem;
                }

                .tab-item  {
                    width: auto !important;
                    .tab-text {
                        text-transform: uppercase;
                        padding: 0.6rem 2rem;
                        @include font(small-2x, bold);
                        border-radius: 5.6rem;
                        color: rgba(255, 255, 255, 0.60);
                        transition: all .2s ease-out;

                        @include mobile {
                            padding: 0.65rem 1.4rem;
                            @include font(small-5x, bold);
                        }
                    }

                    &.active {
                        .tab-text {
                            color: #07398F;
                            background-color: custom-color(neutral, 000);
                        }
                    }
                }
            }
        }

        & + .panel-display {
            &.module-a {
                margin-top: 12rem;

                @include mobile {
                    margin-top: 6rem;
                }
            }
        }
    }

    &.module-b {
        display: flex;
        justify-content: center;
        .tab-wrap {
            .tab-list {
                gap: 8rem;
                display: flex;
                overflow-x: auto; 
                white-space: nowrap;
                scroll-behavior: smooth;

                @include mobile {
                    gap: 2.9rem;
                }

                .tab-item  {
                    width: auto !important;
                    .tab-text {
                        padding: 0.6rem 0;
                        @include font(small-2x, medium);
                        color: custom-color(neutral,100);
                        transition: all .2s ease-out;

                        @include mobile {
                            @include font(small-4x, medium);
                        }
                    }

                    &.active {
                        .tab-text {
                            font-weight: 700;
                            border-bottom: 0.3rem solid custom-color(primary, 090);
                        }
                    }

                    + .tab-item {
                        position: relative;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: -4rem;
                            width: 0.1rem;
                            height: 1.6rem;
                            background-color: #d9d9d9;
                            transform: translateY(-50%);

                            @include mobile {
                                top: 45%;
                                left: -1.5rem;
                                height: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        &.fixed {
            position: fixed;
            top: 6.4rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            display: flex;
            align-items: flex-end;
            height: 6.4rem;
            width: 100%;
    
            &::after {
                content: '';
                display: block;
                width: 100vw;
                height: 6.4rem;
                z-index: -2;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background: custom-color(neutral, 000);
                box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.04);
                border-top: 1px solid rgba(203, 203, 203, 0.50);
            }
        }
    }

    
}
.panel-display {
    &.module-a {
        .panel-list {
            .panel-item {
                &.hidden {
                    display: none;
                }
            }
        }
    }
}
// .panel-display.module-a .panel-list .panel-item.hidden {
//     display: none;
// }
/*
.tab-display.module-a .tab-wrap .tab-list {
    align-items: flex-end;
}
.tab-display.module-a .tab-wrap .tab-item {
    max-width: 60rem;
    flex-shrink: 1;
}
.tab-display.module-a .tab-wrap .tab-item .tab-text {
    display: inline-block;
    position: relative;
    width: 100%;
    transition: color 0.3s ease;
}
.tab-display.module-a .tab-wrap .tab-item .tab-text::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    content: "";
    background-color: rgb(228, 228, 231);
    transition: 0.3s ease;
}
.tab-display.module-a .tab-wrap .tab-item.active .tab-text::after {
    height: 0.3rem;
    background-color: rgb(0, 0, 0);
}
.tab-display.module-a .tab-wrap.full .tab-item {
    width: 100%;
    flex-shrink: 1;
}



@media (max-width: 1023px) {
    .tab-display.module-a {
        position: relative;
    }
    .tab-display.module-a .tab-list .tab-item {
        width: auto;
        max-width: unset;
        flex-shrink: 0;
    }
    .tab-display.module-a::after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        content: "";
        background-color: rgb(228, 228, 231);
    }
}
.tab-display.style-a.tab-wrap .tab-item .tab-text {
    padding: 2rem 1rem;
}*/


