// breakpoints
$mobile : 320px;
$mobile-large : 768px;
$tablet : 1024px;
$web-small : 1200px;
$web : 1920px;
$iframe: 1040px;


// color palettes
$color-palettes: (
    primary: (100: #00BEF2,
        090: #0568CC,
        080: #07398F,
    ),
    secondary: (100: #00B7EA,
        090: #0568CC,
        080: #0651AE,
        070: #06317C,
        060: #04255F,
        050: #031C47,
        040: #87B4D9,
    ),
    neutral: (100: #000000,
        090: #222222,
        080: #393939,
        070: #A7A7A7,
        060: #CBCBCB,
        000: #FFFFFF,
    ),
    system: (100: #FF0000,
        090: #0095f2,
    ),
    etc: (100: #F1F4F9,
        090: #F5EBFA,
        080: #E4E4E4,
        070: #F9f9f9,
        //060: #FFFFFF,
    ),
);

@use "sass:map";
@use "sass:color";

$debug-enabled: false; // Set to true for debugging, false to disable

@function custom-color($theme, $variant, $opacity: 1) {
    $theme-map: map.get($color-palettes, $theme);

    @if $debug-enabled {
        @debug "Theme Map for '#{$theme}': #{inspect($theme-map)}";
    }

    @if $theme-map == null {
        @error "Theme '#{$theme}' is not defined in $color-palettes.";
    }

    $set-color: map.get($theme-map, $variant);

    @if $debug-enabled {
        @debug "Color for variant '#{$variant}' in theme '#{$theme}': #{inspect($set-color)}";
    }

    @if $set-color == null {
        @error "Variant '#{$variant}' is not defined in the '#{$theme}' theme.";
    }

    @return rgba(
        color.channel($set-color, "red"),
        color.channel($set-color, "green"),
        color.channel($set-color, "blue"),
        $opacity
    );
}



// font
$font-size: (
    small-6x: 1.2rem,
    small-5x: 1.4rem,
    small-4x: 1.6rem,
    small-3x: 1.8rem,
    small-2x: 2rem,
    small-1x: 2.4rem,
    small: 2.8rem,
    medium: 3.2rem,
    large: 3.6rem,
    large-1x: 4rem,
    large-2x: 4.5rem,
    large-3x: 4.8rem,
    large-4x: 5.6rem,
    large-5x: 6.4rem,
    large-6x: 7.4rem,
    large-7x: 8rem,
    large-8x: 8.8rem,
    large-9x: 9.6rem,
    large-10x: 10.4rem,
    large-11x: 11.2rem,
    large-12x: 12rem,
);

$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    heavy: 900,
);


// @mixin font($type: "headline") {
//     @if ($type=="headline") {
//         font-size: map-get($font-size, large-6x);
//         font-weight: map-get($font-weight, bold);
//     }
//     @if ($type=="title1") {
//         font-size: map-get($font-size, large-4x);
//         font-weight: map-get($font-weight, bold
//     }
// }


@mixin font($size, $weight: regular) {
    font-weight: map.get($font-weight, $weight);
    font-size: map.get($font-size, $size);
}

@mixin font($size, $weight: regular) {
    font-weight: map.get($font-weight, $weight);
    font-size: map.get($font-size, $size);
}

