<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Banner</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Banner display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;div class="banner module-a style-a type-a"&gt;
    &lt;div class="banner-wrap"&gt;
        &lt;div class="banner-head"&gt;...&lt;/div&gt;
        &lt;div class="banner-body"&gt;...&lt;/div&gt;
        &lt;div class="banner-util"&gt;...&lt;/div&gt;
    &lt;/div&gt;
&lt;div&gt;
</code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">module-a</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>