<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
				<!-- page-body -->
				<div class="page-body">
					<!-- local-head -->
					<div class="local-head">
						<h2 class="local-subject">
							<span class="local-name">Button</span>
							<span class="local-desc">버튼은 디자인 시스템의 비주얼 스타일을 보여주는 중요한 구성요소입니다.</span>
						</h2>
					</div>
					<!-- //local-head -->
					<!-- local-body -->
					<div class="local-body">
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject">
									<span class="section-name">Text Button</span>
								</h4>
								<p class="section-desc">design클래스는 버튼의 모양(shape), case는 여백(padding), type은 폰트 정보, color는 버튼의 색상(bg, border, text color 등)을 정의합니다.</p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">module-a</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;a href=&quot;#&quot; class=&quot;btn module-a style-a color-a&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;btn module-a style-a color-a&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn module-a style-a color-b&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;btn module-a style-a color-b&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn module-a style-b color-a&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;btn module-a style-b color-a&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn module-a style-b color-b&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;btn module-a style-b color-b&lt;/span&gt;&lt;/a&gt;</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area" style="background-color: #e5e5e5; border-radius: 5px; padding: 6px;">
											<!-- btn-display -->
											<a href="#" class="btn module-a style-a color-a"><span class="btn-text">More</span></a>
											<a href="#" class="btn module-a style-a color-b"><span class="btn-text">More</span></a>
											<a href="#" class="btn module-a style-b color-a"><span class="btn-text">자세히 보기</span></a>
											<a href="#" class="btn module-a style-b color-b"><span class="btn-text">자세히 보기</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Icon Button</span></h4>
								<p class="section-desc">[btn, icon] 클래스가 디폴트입니다. icon 이름을 클래스로 추가합니다.</p>
								<p class="section-desc"></p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Icon</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;button class=&quot;btn icon style-a play&quot;&gt;Stop&lt;/button&gt;
&lt;button class=&quot;btn icon style-a stop&quot;&gt;play&lt;/button&gt;
&lt;a class=&quot;btn icon style-b color-a arrow-left1&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text blind&quot;&gt;&#51060;&#51204;&lt;/span&gt;&lt;/a&gt;
&lt;a class=&quot;btn icon style-b color-a arrow-right1&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text blind&quot;&gt;&#45796;&#51020;&lt;/span&gt;&lt;/a&gt;
&lt;a class=&quot;btn icon style-b color-b arrow-left1&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text blind&quot;&gt;&#51060;&#51204;&lt;/span&gt;&lt;/a&gt;
&lt;a class=&quot;btn icon style-b color-b arrow-right1&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text blind&quot;&gt;&#45796;&#51020;&lt;/span&gt;&lt;/a&gt;</code></pre>
										<!-- //highlight-js -->
										<!-- btn-display -->
										<div class="guide-button-area" style="background-color: #e5e5e5; border-radius: 5px; padding: 6px;">
											<button class="btn icon style-a play">Stop</button>
											<button class="btn icon style-a stop">play</button>
											<a class="btn icon style-b color-a arrow-left1" href="#"><span class="btn-text blind">이전</span></a>
											<a class="btn icon style-b color-a arrow-right1" href="#"><span class="btn-text blind">다음</span></a>
											<a class="btn icon style-b color-b arrow-left1" href="#"><span class="btn-text blind">이전</span></a>
											<a class="btn icon style-b color-b arrow-right1" href="#"><span class="btn-text blind">다음</span></a>
										</div>
										<!-- //btn-display -->
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- local-body -->
				</div>
				<!-- //page-body -->
				<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>