<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Color</span>
					<span class="local-desc">색상을 사용하여 계층 구조, 상태 및 브랜드 아이덴티티를 표현하면서 의미 있는 경험을 만듭니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
					<!-- section -->
					<div class="section color-guide">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">Color system</span></h4>
							<p class="section-desc">
								Primary는 프로젝트를 대표하는 최우선순위 색상입니다. Secondary는 포인트가 되거나 뒷받침되는 색상입니다.<br>
								Neutral은 중립적인 회색톤의 색상입니다. System은 상태의 의미를 전달합니다.<br><br>
								<u class="pc-only">※ 색상을 클릭하면 해당 색상의 변수값이 복사됩니다.</u>
							</p>
						</div>
						<div class="section-body">
							<div class="subsection">
								<div class="subsection-head">Primary</div>
								<div class="subsection-body">
									<div class="data-list">
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #00BEF2"></span>
											<span class="data-name">primary, 100</span>
											<span class="data-code">#00BEF2</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #0568CC"></span>
											<span class="data-name">primary, 090</span>
											<span class="data-code">#0568CC</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #07398F"></span>
											<span class="data-name">primary, 080</span>
											<span class="data-code">#07398F</span>
										</button>
									</div>
								</div>
							</div>
							<div class="subsection secondary">
								<div class="subsection-head">Secondary</div>
								<div class="subsection-body">
									<div class="data-list">
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #00B7EA"></span>
											<span class="data-name">secondary, 100</span>
											<span class="data-code">#00B7EA</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #0568CC"></span>
											<span class="data-name">secondary, 090</span>
											<span class="data-code">#0568CC</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #0651AE"></span>
											<span class="data-name">secondary, 080</span>
											<span class="data-code">#0651AE</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #06317C"></span>
											<span class="data-name">secondary, 070</span>
											<span class="data-code">#06317C</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #04255F"></span>
											<span class="data-name">secondary, 060</span>
											<span class="data-code">#04255F</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #031C47"></span>
											<span class="data-name">secondary, 050</span>
											<span class="data-code">#031C47</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #87B4D9"></span>
											<span class="data-name">secondary, 040</span>
											<span class="data-code">#87B4D9</span>
										</button>
									</div>
								</div>
							</div>
							<div class="subsection">
								<div class="subsection-head">Neutral</div>
								<div class="subsection-body">
									<div class="data-list">
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #000000"></span>
											<span class="data-name">neutral, 100</span>
											<span class="data-code">#000000</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #222222"></span>
											<span class="data-name">222222, 090</span>
											<span class="data-code">#27272A</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #393939"></span>
											<span class="data-name">neutral, 080</span>
											<span class="data-code">#393939</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #A7A7A7"></span>
											<span class="data-name">neutral, 070</span>
											<span class="data-code">#A7A7A7</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #CBCBCB"></span>
											<span class="data-name">neutral, 060</span>
											<span class="data-code">#CBCBCB</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #FFFFFF"></span>
											<span class="data-name">neutral, 000</span>
											<span class="data-code">#FFFFFF</span>
										</button>
									</div>
								</div>
							</div>
							<div class="subsection normal">
								<div class="subsection-head">System</div>
								<div class="subsection-body">
									<div class="data-list">
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #FF0000">
												<!-- <span class="use">Error</span> -->
											</span>
											<span class="data-name">system, 100</span>
											<span class="data-code">#FF0000</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: rgba(0, 149, 242, 0.6)">
												<!-- <span class="use">Error sub</span> -->
											</span>
											<span class="data-name">system, 090 60%</span>
											<span class="data-code">#0095f2</span>
										</button>
									</div>
								</div>
							</div>
							<div class="subsection accent">
								<div class="subsection-head">Etc</div>
								<div class="subsection-body">
									<div class="data-list">
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #F1F4F9"></span>
											<span class="data-name">etc, 100</span>
											<span class="data-code">#F1F4F9</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #F5EBFA"></span>
											<span class="data-name">etc, 090</span>
											<span class="data-code">#F5EBFA</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #E4E4E4"></span>
											<span class="data-name">etc, 080</span>
											<span class="data-code">#E4E4E4</span>
										</button>
										<button class="data-item">
											<span class="data-box" style="border-radius: 33px 3px;
    width: 12.5rem; background-color: #F9f9f9"></span>
											<span class="data-name">etc, 070</span>
											<span class="data-code">#F9f9f9</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->
					<!-- section -->
					<div class="section color-guide">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">SCSS 작성 방법</span></h4>
							<p class="section-desc">scss 작성 예시입니다.</p>
						</div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head">Argument</div>
								<div class="subsection-body">
									<pre class="highlight-js"><code class="scss">custom-color($theme, $variant, $opacity);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head">Example</div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="scss">color: custom-color(primary, 100);
border-color: custom-color(primary, 100);
background-color: custom-color((primary,100), 0.6);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
<script>
	// click시 컬러값 복사
	document.querySelectorAll('.data-item').forEach(button => {
		button.addEventListener('click', () => {
			const dataName = button.querySelector('.data-name').textContent;
			const textToCopy = `custom-color(${dataName});`;

			navigator.clipboard.writeText(textToCopy)
				.then(() => {
					console.log(`Copied to clipboard: ${textToCopy}`);

					//복사완료 메시지
					const copiedText = document.createElement('span');
					copiedText.classList.add('copied-text');
					copiedText.textContent = '복사됨';

					button.appendChild(copiedText);

					setTimeout(() => {
						copiedText.classList.add('show');
						setTimeout(() => {
							copiedText.remove();
						}, 800);
					})
				})
				.catch(err => {
					console.error('Failed to copy: ', err);
				});
		});
	});
</script>
</body>
</html>