<!DOCTYPE html>
<html lang="ko">
<head>

<%-include('../_templates/_guide.head.ejs', {

	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        input();
    });
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Form</span>
					<span class="local-desc">효과적인 입력 폼을 설계합니다. 정확한 양식 완성률을 보장하기 위해 주의깊게 설계하고 유지 관리되어야 합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Form</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">module-a</div>
							<div class="subsection-body">
                                <div class="submit-form module-a">
                                    <legend class="blind">문의 작성 서식</legend>
                                    <div class="form-list">
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <!-- <div class="form-head"><label for="" class="form-name">문의/상담 유형</label></div> -->
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <div id="inquiryType" class="data-list select">
                                                            <div class="data-wrap">
                                                                <div class="data-head">
                                                                    <span class="data-title">문의/상담 유형</span>
                                                                    <a href="javascript:void(0);" id="inquiryTypeButton" class="data-name">선택하세요</a>
                                                                </div>
                                                                <div class="data-body">
                                                                    <ul class="option-list">
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">ESG 진단/공급망진단, 서비스 및 CllickESG  관련 문의</a>
                                                                        </li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">NetZero , 온실가스 Inventory  관련 문의</a></li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">CDP 컨설팅 및 솔루션 관련 문의</a>
                                                                        </li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">ESG Data Hub 솔루션 및 서비스 관련 문의</a>
                                                                        </li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">ESG 솔루션 구축 사업 문의</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-head"><label for="" class="form-name">기업명</label></div>
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textfield module-a flex">
                                                            <input type="text" class="form-elem" id="" autocomplete="off" placeholder="입력하세요">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-head"><label for="" class="form-name">성명</label></div>
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textfield module-a flex">
                                                            <input type="text" class="form-elem" id="" autocomplete="off" placeholder="입력하세요">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-head"><label for="" class="form-name">부서</label></div>
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textfield module-a flex">
                                                            <input type="text" class="form-elem" id="" autocomplete="off" placeholder="입력하세요">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <div id="emailType" class="data-list select">
                                                            <div class="data-wrap">
                                                                <div class="data-head">
                                                                    <span class="data-title">이메일</span>
                                                                    <span class="form textfield module-a flex">
                                                                        <input type="text" class="form-elem" id="" autocomplete="off" placeholder="아이디">
                                                                    </span>
                                                                    <span class="sign mail">@</span>
                                                                    <a href="javascript:void(0);" id="emailTypeButton" class="data-name">선택하세요</a>
                                                                </div>
                                                                <div class="data-body">
                                                                    <ul class="option-list">
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">직접입력하기</a>
                                                                        </li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">gmail.com</a></li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">naver.com</a>
                                                                        </li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">daum.net</a>
                                                                        </li>
                                                                        <li class="option-item">
                                                                            <a class="option-text" href="javascript:void(0);">outlook.com</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="form textfield module-a flex" style="display:none;">
                                                            <input type="text" class="form-elem" id="" autocomplete="off">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-head"><label for="" class="form-name">연락처</label></div>
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textfield module-a">
                                                            <input type="text" class="form-elem phone-01" id="" autocomplete="off" placeholder="000">
                                                        </span>
                                                        <span class="sign bar"></span>
                                                        <span class="form textfield module-a">
                                                            <input type="text" class="form-elem phone-02" id="" autocomplete="off" placeholder="0000">
                                                        </span>
                                                        <span class="sign bar"></span>
                                                        <span class="form textfield module-a">
                                                            <input type="text" class="form-elem phone-03" id="" autocomplete="off" placeholder="0000">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item" style="width:100%;">
                                            <div class="form-wrap">
                                                <div class="form-head"><label for="" class="form-name">제목</label></div>
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textfield module-a flex">
                                                            <input type="text" class="form-elem" id="" autocomplete="off" placeholder="제목을 입력해 주세요">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item" style="width:100%;">
                                            <div class="form-wrap">
                                                <div class="form-head"><label for="" class="form-name">내용</label></div>
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textarea">
                                                            <textarea class="form-elem" cols="40" rows="4"></textarea>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="form radio module-a" for="">
                                        <input type="radio" id="" class="form-elem" name="">
                                        <span class="form-text">상기 문의사항 요청을 처리하기 위한 개인정보 수집 및 제공에 동의합니다.</span>
                                    </label>
                                    <div class="button-area module-a">
                                        <a href="#" class="btn module-a style-a color-a"><span class="btn-text">요청전송</span></a>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">module-b</div>
							<div class="subsection-body">
                                <div class="submit-form module-b">
                                    <div class="dropdown">
                                        <button class="button-area module-b">2024.09.01 ~ 현재까지 적용 <span class="arrow"></span></button>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-item selected" data-panel="panel1">2024.09.01 ~ 현재까지 적용</div>
                                            <div class="dropdown-item" data-panel="panel2">2024.07.01 ~ 2024.08.31</div>
                                            <div class="dropdown-item" data-panel="panel3">2023.11.02 ~ 2024.06.30</div>
                                            <div class="dropdown-item" data-panel="panel4">2021.11.08 ~ 2023.11.01</div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
<script>
    $(document).ready(function() {
        let $dropdownInquiry = $('#inquiryType');
        let $buttonInquiry = $('#inquiryTypeButton');

        $buttonInquiry.on('click', function(event) {
            event.stopPropagation();
            $dropdownInquiry.toggleClass('show');
        });

        $('#inquiryType .option-text').on('click', function() {
            let selectedTextInquiry = $(this).text();
            $buttonInquiry.text(selectedTextInquiry);
            $('#inquiryType .option-item').removeClass('active');
            $(this).closest('#inquiryType .option-item').addClass('active');
            $dropdownInquiry.removeClass('show');

            if (selectedTextInquiry === '선택하세요') {
                $buttonInquiry.removeClass('active');
            } else {
                $buttonInquiry.addClass('active');
            }
        });

        $(document).on('click', function(event) {
            if (!$dropdownInquiry.is(event.target) && $dropdownInquiry.has(event.target).length === 0) {
                $dropdownInquiry.removeClass('show');
            }
        });

        let $dropdownEmail = $('#emailType');
        let $buttonEmail = $('#emailTypeButton');

        $buttonEmail.on('click', function(event) {
            event.stopPropagation();
            $dropdownEmail.toggleClass('show');
        });

        $('#emailType .option-text').on('click', function() {
            let selectedTextEmail = $(this).text();
            $buttonEmail.text(selectedTextEmail);
            $('#emailType .option-item').removeClass('active');
            $(this).closest('.option-item').addClass('active');
            $dropdownEmail.removeClass('show');

            if (selectedTextEmail === '선택하세요') {
                $buttonEmail.removeClass('active');
            } else {
                $buttonEmail.addClass('active');
            }

            if (selectedTextEmail === '직접입력') {
                $buttonEmail.removeClass('active');
            } else {
                $buttonEmail.addClass('active');
            }
        });

        $(document).on('click', function(event) {
            if (!$dropdownEmail.is(event.target) && $dropdownEmail.has(event.target).length === 0) {
                $dropdownEmail.removeClass('show');
            }
        });
    });
</script>

</body>
</html>