<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {

	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Icon</span>
					<span class="local-desc">아이콘은 일관성이 핵심 요소이며 기본 사이즈가 같아야 합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section icon-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">SVG Icon</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">Action</div>
							<div class="subsection-body">
								<div class="data-list svg-icon">
									<li class="data-item arrow-left1"><span class="data-name">arrow-left1</span></li>
									<li class="data-item arrow-right1"><span class="data-name">arrow-right1</span></li>
									<li class="data-item arrow-right2"><span class="data-name">arrow-right2</span></li>
									<li class="data-item arrow-right3"><span class="data-name">arrow-right3</span></li>
									<li class="data-item ex"><span class="data-name">ex</span></li>
									<li class="data-item play"><span class="data-name">play</span></li>
									<li class="data-item stop"><span class="data-name">stop</span></li>
									<li class="data-item close"><span class="data-name">close</span></li>
									<li class="data-item mines"><span class="data-name">mines</span></li>
									<li class="data-item plus"><span class="data-name">plus</span></li>
									<li class="data-item menu"><span class="data-name">menu</span></li>
									<li class="data-item link"><span class="data-name">link</span></li>
									<li class="data-item check"><span class="data-name">check</span></li>
									<li class="data-item home"><span class="data-name">home</span></li>
									<li class="data-item network"><span class="data-name">network</span></li>
									<li class="data-item bullet-check"><span class="data-name">bullet-check</span></li>
									<li class="data-item device"><span class="data-name">device</span></li>
									<li class="data-item certi"><span class="data-name">certi</span></li>
									<li class="data-item clock"><span class="data-name">clock</span></li>
									<li class="data-item note"><span class="data-name">note</span></li>
									<li class="data-item diagnosis"><span class="data-name">diagnosis</span></li>
									<li class="data-item member"><span class="data-name">member</span></li>
									<li class="data-item building"><span class="data-name">building</span></li>
									<li class="data-item bar"><span class="data-name">bar</span></li>
									<li class="data-item arrow-down1"><span class="data-name">arrow-down1</span></li>
									<li class="data-item arrow-up1"><span class="data-name">arrow-up1</span></li>
								</div>
							</div>
						</div>
						<!-- <div class="subsection">
							<div class="subsection-head">Radio, Checkbox</div>
							<div class="subsection-body">
								<ul class="data-list svg-icon">
									 <li class="data-item radio-on"><span class="data-name">radio-on</span></li>
									<li class="data-item radio-off"><span class="data-name">radio-off</span></li>
									<li class="data-item check-off"><span class="data-name">check-off</span></li>
									<li class="data-item check"><span class="data-name">check-on</span></li>
								</ul>
							</div>
						</div> -->
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section icon-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">SCSS 작성 방법</span></h4>
						<p class="section-desc">scss 작성 예시입니다.</p>
					</div>
					<div class="section-body">
						<!-- subsection -->
						<div class="subsection">
							<div class="subsection-head">Argument</div>
							<div class="subsection-body">
								<pre class="highlight-js"><code class="scss">icon($name, $color)</code></pre>
							</div>
							<!-- <div class="icon-button"><span class="icon-text blind">인쇄 하기</span></div> -->
						</div>
						<!-- //subsection -->
						<!-- subsection -->
						<div class="subsection">
							<div class="subsection-head">Example</div>
							<div class="subsection-body">
								<pre class="highlight-js">
<code class="scss">background-image: icon(arrow-up1, custom-color(primary, 198));</code></pre>
							</div>
						</div>
						<!-- //subsection -->
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>