<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
<script src="./../../assets/js/jquery.js"></script>
<script>
	function activeItemOnlyPc(selector) {
		$(selector).each(function() {
			const $accordion = $(this);

			$accordion.find('[class*="-item"]').on('click', function () {
				if ($(window).width() >= 1024) {
					const $this = $(this);
					$accordion.find('[class*="-item"]').removeClass('active');
					$this.addClass('active');
				}
			});
		});
	}
	$(document).ready(function() {
		activeItemOnlyPc('.process');
	});
</script>

</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Pagination</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Pagination system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-info">
<!-- highlight-js -->
<pre class="highlight-js">
	<code class="html">&lt;div class=&quot;pagination module-a style-a&quot;&gt;
	&lt;span class=&quot;page-util&quot;&gt;
		&lt;span class=&quot;util-item&quot;&gt;
			&lt;a class=&quot;btn icon style-c arrow-left3&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text blind&quot;&gt;&#51060;&#51204;&lt;/span&gt;&lt;/a&gt;
		&lt;/span&gt;
	&lt;/span&gt;
	&lt;span class=&quot;page-list&quot;&gt;
		&lt;a class=&quot;page-item current&quot; href=&quot;#&quot;&gt;1&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;2&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;3&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;4&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;5&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;6&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;7&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;8&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;9&lt;/a&gt;
		&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;10&lt;/a&gt;
	&lt;/span&gt;
	&lt;span class=&quot;page-util&quot;&gt;
		&lt;span class=&quot;util-item&quot;&gt;
			&lt;a class=&quot;btn icon style-c arrow-right3&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text blind&quot;&gt;&#45796;&#51020;&lt;/span&gt;&lt;/a&gt;
		&lt;/span&gt;
	&lt;/span&gt;
&lt;/div&gt;
</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Pagination</span></h4>
					</div>
					<div class="section-body">
						<!--  IR 뉴스 -->
						<div class="subsection">
							<div class="subsection-info">
                                <div class="pagination module-a style-a pc-only">
                                    <span class="page-util">
                                        <span class="util-item">
                                            <a class="btn icon style-c arrow-left3" href="#"><span class="btn-text blind">이전</span></a>
                                        </span>
                                    </span>
                                    <span class="page-list">
                                        <a class="page-item current" href="#">1</a>
                                        <a class="page-item" href="#">2</a>
                                        <a class="page-item" href="#">3</a>
                                        <a class="page-item" href="#">4</a>
                                        <a class="page-item" href="#">5</a>
                                        <a class="page-item" href="#">6</a>
                                        <a class="page-item" href="#">7</a>
                                        <a class="page-item" href="#">8</a>
                                        <a class="page-item" href="#">9</a>
                                        <a class="page-item" href="#">10</a>
                                    </span>
                                    <span class="page-util">
                                        <span class="util-item">
                                            <a class="btn icon style-c arrow-right3" href="#"><span class="btn-text blind">다음</span></a>
                                        </span>
                                    </span>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->

			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>
