<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
<script src="./../../assets/js/jquery.js"></script>

<script>
    function activateItems(selector) {
        $(document).on('click', `${selector} [class*="-item"]`, function () {
            const isDesktop = $(window).width() >= 1024;
            const isMobile = !isDesktop;
            const $accordion = $(this).closest(selector);

            if ((isDesktop && selector === '.process') || (isDesktop && selector === '.feature')) {
                $accordion.find('[class*="-item"]').removeClass('active');
                $(this).addClass('active');
            }
        });
    }

    $(document).ready(function() {
        activateItems('.process');  // Desktop behavior
        activateItems('.feature');  // Mobile behavior (fixed typo)
    });
</script>
<script>
    $(document).ready(function() {
        new Swiper('.swiper-list', {
            loop: false,
            slidesPerView: 'auto',
            spaceBetween: 8,
            freeMode: false,
        });
    });
</script>

</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Post</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">post system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-info">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;post-list module-a style-a&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;post-item&quot;&gt;
		&lt;div class=&quot;post-wrap&quot;&gt;
			&lt;div class=&quot;post-figure&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;post-head&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;post-body&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;post-info&quot;&gt;...&lt;/div&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">thumbnail</span></h4>
					</div>
					<div class="section-body">
						<!--  IR 뉴스 -->
						<div class="subsection">
							<div class="subsection-info">
								<!-- post -->
								<div class="post-list module-a style-a">
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/solution/esg/solution-esg01.jpg" alt="">
											</div>
											<div class="post-head">
												<p class="post-name">합리적이고 신뢰성 있는 평가방법론과 프로세스 지원</p>
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/solution/esg/solution-esg02.jpg" alt="">
											</div>
											<div class="post-head">
												<p class="post-name">최신 동향 및 규제 변화에 다른 신속한 대응 요구</p>
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/solution/esg/solution-esg03.jpg" alt="">
											</div>
											<div class="post-head">
												<p class="post-name">비교 가능하고 객관적인 ESG 경영관리 수준 파악</p>
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/solution/esg/solution-esg04.jpg" alt="">
											</div>
											<div class="post-head">
												<p class="post-name">진단기업에게 예측 가능한 ESG 진단 결과와 근거를 제시</p>
											</div>
										</div>
									</div>
								</div>
								<!-- //post -->
							</div>
						</div>
						<!--  PR 뉴스룸 : 소셜미디어 -->
						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list process pc-only">
									<div class="post-item active">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name">M1 <em>배출원 설정</em>
													</p>
													<p class="post-name">Measure : 온실가스 인벤토리 구축</p>
												</div>
												<div class="post-body">
													<p class="post-summary">
														정확한 관리를 위해 사업장 별 산정, 법인 통합 View를 제공하며 표준 코드 기반하에 배출원을 설정합니다.
													</p>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/process-01.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name">M2 <em>배출활동자료 수집</em>
													</p>
													<p class="post-name">Measure : 온실가스 인벤토리 구축</p>
												</div>
												<div class="post-body">
													<p class="post-summary">
														사용량 & 비용 기반 등 모든 관리 방식에 대응합니다.<br>전력, 유가 API 자동화를 통해 편리하게 관리하세요.
													</p>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/process-02.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name">M3 <em>배출량 산정</em>
													</p>
													<p class="post-name">Measure : 온실가스 인벤토리 구축</p>
												</div>
												<div class="post-body">
													<p class="post-summary">
														GHG 프로토콜에 따라 신뢰할 수 있는 방법론과 최신 배출계수 DB를 제공합니다.<br>
														기업 전반에 걸친 Scope 1&2 부터 Scope 3까지 모든 배출량 관리하세요.
													</p>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/process-03.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name">R1 <em>감축목표 수립</em>
													</p>
													<p class="post-name">Report : 보고</p>
												</div>
												<div class="post-body">
													<p class="post-summary">
														측정이 완료 되었다면 넷제로 여정을 위한 목표를 설정하세요.<br>
														SBTi (과학기반) 방법론과 경영 환경에 맞춰 자체 목표 시나리오 관리를 통해, 유연하게 목표를<br> 수립하고 성과를 추적할 수 있습니다
													</p>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/process-04.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name">R2 <em>분석 및 리포팅</em>
													</p>
													<p class="post-name">Report : 보고</p>
												</div>
												<div class="post-body">
													<p class="post-summary">
														이해관계자별 상이한 정보 공개 요청을 일일이 파악할 필요가 없습니다.<br>
														ClickESG Net-Zero를 통해 한번에 대응하세요. 원청사를 위한 제품단위 온실가스 할당부터<br> 다양한 보고서 및 Fact Sheet 를 제공합니다.
													</p>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/process-05.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name">V1 <em>검증</em>
													</p>
													<p class="post-name">Verification : 검증</p>
												</div>
												<div class="post-body">
													<p class="post-summary">
														측정된 배출량 검∙인증을 위한 정형화된 보고서 및 분석 Data를 제공합니다.<br>공시 및 외부 이해관계자 대응이 용이해지는 ClickESG와 함께하세요.
													</p>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/process-06.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-list mo-only process">
									<div class="swiper-wrapper">
										<div class="swiper-slide swiper-item">
											<div class="swiper-wrap">
												<div class="swiper-info">
													<div class="swiper-head">
														<p class="swiper-name">M1 <em>배출원 설정</em>
														</p>
														<p class="swiper-name">Measure : 온실가스 인벤토리 구축</p>
													</div>
													<div class="swiper-body">
														<p class="swiper-summary">
															정확한 관리를 위해 사업장 별 산정, 법인 통합 View를 제공하며 표준 코드 기반하에 배출원을 설정합니다.
														</p>
													</div>
												</div>
												<div class="swiper-figure">
													<img src="../../assets/images/solution/net-zero/process-01-mo.jpg" alt="">
												</div>
											</div>
										</div>
										<div class="swiper-slide swiper-item">
											<div class="swiper-wrap">
												<div class="swiper-info">
													<div class="swiper-head">
														<p class="swiper-name">M2 <em>배출활동자료 수집</em>
														</p>
														<p class="swiper-name">Measure : 온실가스 인벤토리 구축</p>
													</div>
													<div class="swiper-body">
														<p class="swiper-summary">
															사용량 & 비용 기반 등 모든 관리 방식에 대응합니다. 전력, 유가 API 자동화를 통해 편리하게 관리하세요.
														</p>
													</div>
												</div>
												<div class="swiper-figure">
													<img src="../../assets/images/solution/net-zero/process-02-mo.jpg" alt="">
												</div>
											</div>
										</div>
										<div class="swiper-slide swiper-item">
											<div class="swiper-wrap">
												<div class="swiper-info">
													<div class="swiper-head">
														<p class="swiper-name">M3 <em>배출량 산정</em>
														</p>
														<p class="swiper-name">Measure : 온실가스 인벤토리 구축</p>
													</div>
													<div class="swiper-body">
														<p class="swiper-summary">
															GHG 프로토콜에 따라 신뢰할 수 있는 방법론과 최신 배출계수 DB를 제공합니다. 기업 전반에 걸친 Scope 1&2 부터 Scope 3까지 모든 배출량 관리하세요.
														</p>
													</div>
												</div>
												<div class="swiper-figure">
													<img src="../../assets/images/solution/net-zero/process-03-mo.jpg" alt="">
												</div>
											</div>
										</div>
										<div class="swiper-slide swiper-item">
											<div class="swiper-wrap">
												<div class="swiper-info">
													<div class="swiper-head">
														<p class="swiper-name">R1 <em>감축목표 수립</em>
														</p>
														<p class="swiper-name">Report : 보고</p>
													</div>
													<div class="swiper-body">
														<p class="swiper-summary">
															측정이 완료 되었다면 넷제로 여정을 위한 목표를 설정하세요. SBTi (과학기반) 방법론과 경영 환경에 맞춰 자체 목표 시나리오 관리를 통해, 유연하게 목표를 수립하고 성과를 추적할 수 있습니다.
														</p>
													</div>
												</div>
												<div class="swiper-figure">
													<img src="../../assets/images/solution/net-zero/process-04-mo.jpg" alt="">
												</div>
											</div>
										</div>
										<div class="swiper-slide swiper-item">
											<div class="swiper-wrap">
												<div class="swiper-info">
													<div class="swiper-head">
														<p class="swiper-name">R2 <em>분석 및 리포팅</em>
														</p>
														<p class="swiper-name">Report : 보고</p>
													</div>
													<div class="swiper-body">
														<p class="swiper-summary">
															이해관계자별 상이한 정보 공개 요청을 일일이 파악할 필요가 없습니다. ClickESG Net-Zero를 통해 한번에 대응하세요. 원청사를 위한 제품단위 온실가스 할당부터 다양한 보고서 및 Fact Sheet 를 제공합니다.
														</p>
													</div>
												</div>
												<div class="swiper-figure">
													<img src="../../assets/images/solution/net-zero/process-05-mo.jpg" alt="">
												</div>
											</div>
										</div>
										<div class="swiper-slide swiper-item">
											<div class="swiper-wrap">
												<div class="swiper-info">
													<div class="swiper-head">
														<p class="swiper-name">V1 <em>검증</em>
														</p>
														<p class="swiper-name">Verification : 검증</p>
													</div>
													<div class="swiper-body">
														<p class="swiper-summary">
															측정된 배출량 검∙인증을 위한 정형화된 보고서 및 분석 Data를 제공합니다. 공시 및 외부 이해관계자 대응이 용이해지는 ClickESG와 함께하세요.
														</p>
													</div>
												</div>
												<div class="swiper-figure">
													<img src="../../assets/images/solution/net-zero/process-06-mo.jpg" alt="">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list feature accordion-container1">
									<div class="post-item active">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name network">Scope 1,2,3 배출량 측정</p>
												</div>
												<div class="post-body">
													<div class="bullet-list module-a style-b type-c">
														<div class="bullet-item">사용자 편의를 고려한 UX 기획으로 반복적인 온실가스 배출량 산정 Workload 최소화</div>
														<div class="bullet-item">전기고지서, 유류단가 등 API 연동으로 매월 관리 시간 단축</div>
														<div class="bullet-item">기업 내부관리에 익숙한 엑셀 양식 제공</div>
													</div>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/feature-01.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name clock">온실가스 관리 수고 절감</p>
												</div>
												<div class="post-body">
													<div class="bullet-list module-a style-b type-c">
														<div class="bullet-item">사용자 편의를 고려한 UX 기획으로 반복적인 온실가스 배출량 산정 Workload 최소화</div>
														<div class="bullet-item">전기고지서, 유류단가 등 API 연동으로 매월 관리 시간 단축</div>
														<div class="bullet-item">기업 내부관리에 익숙한 엑셀 양식 제공</div>
													</div>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/feature-02.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name device">이해관계자의 정보 요구 증가에 적시 대응</p>
												</div>
												<div class="post-body">
													<div class="bullet-list module-a style-b type-c">
														<div class="bullet-item">EU (CBAM 제도)및 미국(CAA 법안)등 탄소무역장벽 대응을 위해 원청사의 배출량 공개 요구에 대응 필요 </div>
														<div class="bullet-item arrow">→ 중소기업을 위한 제품단위 온실가스 배출량 산정 기능</div>
														<div class="bullet-item">ESG 공시 대응, CDP, TCFD, ISSB 등 다양한 기후공시 요청에 대응가능한 자체 보고서 및 Fact Sheet 출력</div>
													</div>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/feature-03.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<div class="post-head">
													<p class="post-name certi">인증 및 제3자 검증까지 지원</p>
												</div>
												<div class="post-body">
													<div class="bullet-list module-a style-b type-c">
														<div class="bullet-item">검증 기관이 요청하는 증빙에 대한 별도 보고서 제공</div>
														<div class="bullet-item">시나리오 기반 목표 수립부터 성과의 다각적 분석을 통해 대외 대응 역량 내재화</div>
													</div>
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/solution/net-zero/feature-04.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list module-c style-c">
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-head">
												<em class="post-name">Frameworks</em>
												<p class="post-summary">지표 유형별 평가척도를 설정하고, 중분류와 영역별 가중치를 적용합니다.</p>
											</div>
											<div class="post-figure height">
												<img src="../../assets/images/service/esg/framework-02.svg" alt="" class="pc-only">
												<img src="../../assets/images/service/esg/framework-02.svg" alt="" class="mo-only" style="min-width: 1080px;">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list module-b style-b">
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/service/intro/service-01.jpg" alt="">
											</div>
											<div class="post-info">
												<div class="post-head">ESG 경영 진단</div>
												<div class="post-body">글로벌 관리지표 기준의 ESG 경영 진단을 통해 대기업부터 중소기업까지 맞춤형 진단 방식을 제공합니다.
													<br>진단 결과는 글로벌 Peer Group과의 비교, 이해관계자 대응을 위한 기업별 맞춤형 Report를 제공하고, ESG 경영 전략 수립과 실행을 지원합니다.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list click-esg-manager">
									<div class="circle">
										<div class="center"><img src="../../assets/images/solution/intro/center.png" alt=""></div>
										<div class="circles">
											<a href="" class="post-item one">
												<img src="../../assets/images/solution/intro/circle-01.svg" alt="" class="case">
												<img src="../../assets/images/solution/intro/icon-1.png" alt="" class="icon">
												  <div class="title">ESG Assessment</div>
											</a>
											<a href="" class="post-item two">
												<img src="../../assets/images/solution/intro/circle-02.svg" alt="" class="case">
												<img src="../../assets/images/solution/intro/icon-2.png" alt="" class="icon">
												  <div class="title">ESG Data Hub</div>
											</a>
											<a href="" class="post-item three">
												<img src="../../assets/images/solution/intro/circle-03.svg" alt="" class="case">
												<img src="../../assets/images/solution/intro/icon-3.png" alt="" class="icon">
												  <div class="title">Supply Chain <br> ESG Assessment</div>
											</a>
											<a href="" class="post-item four">
												<img src="../../assets/images/solution/intro/circle-04.svg" alt="" class="case">
												<img src="../../assets/images/solution/intro/icon-4.png" alt="" class="icon">
												  <div class="title">Net-Zero <br>Management</div>
											</a>
											<a href="" class="post-item five">
												<img src="../../assets/images/solution/intro/circle-05.svg" alt="" class="case">
												<img src="../../assets/images/solution/intro/icon-5.png" alt="" class="icon">
												<div class="title">CDP AI Assistant</div>
											</a>
											<div href="" class="post-item six">
												<img src="../../assets/images/solution/intro/circle-06.svg" alt="" class="case">
											</div>
											<div href="" class="post-item seven">
												<img src="../../assets/images/solution/intro/circle-07.svg" alt="" class="case">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list module-d style-d">
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-info">
												<p class="post-number">01</p>
												<div class="post-head">ESG 선도적 경험 기반<br class="pc-only">
													차별화된 역량</div>
												<div class="post-body">산업별 ESG 및 Net-Zero 대응 레퍼런스를 보유하고 있으며 선도적 경험을 기반으로 축적해온 독보적인 기술력을 경험할 수 있습니다. 비즈니스와 기술적 관점에서 분야별 특화된 서비스 기반으로 전략 및 정책 수립, 이니셔티브 대응, 대외 정보공개(지속가능경영보고서, TCFD 등)까지 통합 컨설팅을 제공하며 ESG 성과 관리, 공급망 실사를 위한 시스템/플랫폼 구축을 지원합니다.
												</div>
											</div>
											<div class="post-figure">
												<img src="../../assets/images/about/intro/step-01.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->

			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>