<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Table</span>
					<span class="local-desc">테이블 컴포넌트 입니다. caption 태그는 표의 제목을 표현하기 위해 반드시 선언합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section table-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Data table</span></h4>
						<p class="section-desc">design 클래스는 테이블의 형태, case는 여백과 간격, type은 font 스타일을 정의합니다.</p>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- table-list --&gt;
&lt;div class=&quot;t-display module-a style-a type-a mo-layout1 ac&quot;&gt;
&#x9;&lt;table&gt;
&#x9;&#x9;&lt;caption&gt;<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>&lt;/caption&gt;
&#x9;&#x9;&lt;colgroup&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&lt;/colgroup&gt;
&#x9;&#x9;&lt;thead&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xAD6C;&#xBD84;&lt;/th&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xAC00;&#xACA9;(won)&lt;/th&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xC5F4;&#xB7C9;(kcal)&lt;/th&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&lt;/thead&gt;
&#x9;&#x9;&lt;tbody&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,000&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,000&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;300&lt;/td&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,500&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,500&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;350&lt;/td&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&lt;/tbody&gt;
&#x9;&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //table-list --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection table-guide">
							<div class="subsection-head"><h4 class="section-subject"><span class="section-name">Demo</span></h4></div>
							<div class="subsection-body">
								<div class="subsection">
									<div class="subsection-info">
										<!-- table -->
										<div class="t-display module-a style-a type-a align3">
											<table>
												<caption>솔루션 제공유형 테입블</caption>
												<colgroup>
													<col>
													<col>
													<col>
												</colgroup>
												<thead>
													<tr>
														<th scope="col">구분</th>
														<th scope="col">구독형 서비스 </th>
														<th scope="col">구축형 서비스</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>ESG Assessment<br>(ESG 경영진단 솔루션)</td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td class="t-bg">Supply Chain ESG Assessment<br>(공급망 ESG 진단 솔루션)</td>
														<td class="t-bg check"></td>
														<td class="t-bg check"></td>
													</tr>
													<tr>
														<td>ESG Data Hub<br>(ESG 데이터관리 솔루션)</td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td class="t-bg">Net-Zero Management<br>(온실가스관리 솔루션)</td>
														<td class="t-bg check"></td>
														<td class="t-bg check"></td>
													</tr>
													<tr>
														<td>CDP AI Assistant<br>(CDP AI 지원 솔루션)</td>
														<td class="check"></td>
														<td class="ex"></td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- //table -->
									</div>
								</div>

								<div class="subsection line">
									<div class="subsection-info">
										<div class="t-display module-b style-b type-b align3 height">
											<div class="table-info">
												<div class="mark module-a style-a type-a color1">
													<span class="mark-text">공통지표</span>
												</div>
												<div class="mark module-a style-b type-a">
													<span class="mark-text">특화지표</span>
												</div>
											</div>
											<table style="min-width: 1080px;">
												<caption>산업 특성 반영 테입블</caption>
													<colgroup>
													<col style="width: 102px;">
													<col style="width: 244px;">
													<col>
													<col>
													<col>
													<col>
													<col>
												</colgroup>
												<thead>
													<tr>
														<th scope="col">영역</th>
														<th scope="col">대분류</th>
														<th scope="col" colspan="5">중분류</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td rowspan="7" class="has-bg">환경</td>
														<td class="bottom-grey">환경경영</td>
														<td class="common-index">환경경영관리</td>
														<td class="special-index">원자재 관리</td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">친환경기회</td>
														<td class="special-index">원자재 관리</td>
														<td class="special-index">친환경 건축의 기회</td>
														<td class="special-index">친환경 건축의 기회</td>
														<td class="special-index">친환경 건축의 기회</td>
														<td class="special-index">친환경 건축의 기회</td>
													</tr>
													<tr>
														<td class="bottom-grey">기후변화 대응</td>
														<td class="common-index">온실가스 배출</td>
														<td class="common-index">에너지 소비</td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">대기오염 저감</td>
														<td class="common-index">대기오염물질</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">수자원 보호</td>
														<td class="common-index">용수 소비</td>
														<td class="common-index">수질오염물질</td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">폐기물</td>
														<td class="common-index">폐기물</td>
														<td class="special-index">전자 폐기물</td>
														<td class="special-index">포장 재료 및 폐기물</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">생태계 보존</td>
														<td class="common-index">생물다양성/토지이용</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td rowspan="5" class="has-bg">사회</td>
														<td class="bottom-grey">구성원</td>
														<td class="common-index">인권</td>
														<td class="common-index">다양성 및 포용성</td>
														<td class="common-index">인적 자본 </td>
														<td class="common-index">보건안전</td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">협력사</td>
														<td class="common-index">공급망 관리</td>
														<td class="special-index">분쟁 광물 관리</td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey" rowspan="2">제품/고객</td>
														<td class="common-index">제품 품질 및 안전</td>
														<td class="special-index">제품 내화학물질</td>
														<td class="special-index">소미자 금융 보호</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="special-index">접근성-통신 산업</td>
														<td class="special-index">접근성-금융 산업</td>
														<td class="special-index">접근성-헬스케어 산업</td>
														<td class="special-index">책임투자</td>
														<td class="special-index">영양과 건강</td>
													</tr>
													<tr>
														<td class="bottom-grey">지역사회</td>
														<td class="special-index" colspan="2">지역사회 지원 및 사회공헌</td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td rowspan="8" class="has-bg">지배구조</td>
														<td class="bottom-grey">정보보안</td>
														<td class="common-index">정보보안</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">이사회 </td>
														<td class="special-index">이사회 구성</td>
														<td class="special-index">이사회 운영</td>
														<td class="special-index">이사보수</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">감사</td>
														<td class="special-index">내부 감사기구</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">주주</td>
														<td class="special-index">주주 권리보호</td>
														<td class="special-index">주주 권리보호</td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">윤리경영</td>
														<td class="common-index">용수 소비</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">투명성</td>
														<td class="common-index">정보공시</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">이해관계자 관리</td>
														<td class="common-index">이해관계자 소통</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">외부 이니셔티브</td>
														<td class="common-index">이니셔티브참여</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div class="subsection line">
									<div class="subsection-info">
										<div class="t-display module-c style-c type-c align3 height">
											<table style="min-width: 1080px;">
												<caption>산업 특성 반영 테입블</caption>
												<colgroup>
													<col style="width: 102px;">
													<col style="width: 244px;">
													<col>
													<col>
													<col>
													<col>
													<col>
												</colgroup>
												<thead>
													<tr>
														<th scope="col" rowspan="2">영역</th>
														<th scope="col" rowspan="2">ESG진단서비스</th>
														<th scope="col" colspan="3">평가기관</th>
														<th scope="col" colspan="4">평가기관</th>
													</tr>
													<tr>
														<th class="organization" scope="col" rowspan="2">M</th>
														<th class="organization" scope="col">K</th>
														<th class="organization">D</th>
														<th class="organization">GRI</th>
														<th class="organization">WFE</th>
														<th class="organization">IBC</th>
														<th class="organization">K-ESG</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td rowspan="10" class="has-bg">환경</td>
														<td>환경경영관리</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="has-grey">원자재관리</td>
														<td class="has-grey check"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey check"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
													</tr>
													<tr>
														<td class="bottom-grey">온실가스 배출</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td>에너지 소비</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td class="has-grey">제품 탄소 발자국</td>
														<td class="has-grey check"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey check"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
													</tr>
													<tr>
														<td class="bottom-grey">대기오염물질</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">용수 소비</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td class="bottom-grey">수질오염물질</td>
														<td></td>
														<td class="check"></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">폐기물</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="bottom-grey">생물다양성 및 토지 이용</td>
														<td></td>
														<td></td>
														<td></td>
														<td class="check"></td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td rowspan="9" class="has-bg">사회</td>
														<td>인권</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td class="has-grey bottom-grey">다양성 및 포용성</td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
													</tr>
													<tr>
														<td class="has-grey">인적 자본</td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
													</tr>
													<tr>
														<td class="bottom-grey">보건안전</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td>공급망 관리</td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td class="check"></td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td class="has-grey bottom-grey">제품 품질 및 안전</td>
														<td class="check has-grey"></td>
														<td class="check has-grey"></td>
														<td class="has-grey"></td>
														<td class="check has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
													</tr>
													<tr>
														<td class="has-grey">영양과 건강의 기회</td>
														<td class="check has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
													</tr>
													<tr>
														<td>지역사회 및 사회공헌</td>
														<td></td>
														<td class="check"></td>
														<td></td>
														<td class="check"></td>
														<td></td>
														<td class="check"></td>
														<td class="check"></td>
													</tr>
													<tr>
														<td class="has-grey">정보보안</td>
														<td class="has-grey check"></td>
														<td class="has-grey"></td>
														<td class="has-grey check"></td>
														<td class="has-grey check"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
														<td class="has-grey"></td>
													</tr>
													<tr>
														<td class="has-bg">개수</td>
														<td class="bold">19</td>
														<td class="bold">7</td>
														<td class="bold">14</td>
														<td class="bold">12</td>
														<td class="bold">16</td>
														<td class="bold">8</td>
														<td class="bold">8</td>
														<td class="bold">10</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>