<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Table</span>
					<span class="local-desc">테이블 컴포넌트 입니다. caption 태그는 표의 제목을 표현하기 위해 반드시 선언합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section table-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Data table</span></h4>
						<p class="section-desc">design 클래스는 테이블의 형태, case는 여백과 간격, type은 font 스타일을 정의합니다.</p>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- table-list --&gt;
&lt;div class=&quot;t-display module-a style-a type-a mo-layout1 ac&quot;&gt;
&#x9;&lt;table&gt;
&#x9;&#x9;&lt;caption&gt;<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>&lt;/caption&gt;
&#x9;&#x9;&lt;colgroup&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&lt;/colgroup&gt;
&#x9;&#x9;&lt;thead&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xAD6C;&#xBD84;&lt;/th&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xAC00;&#xACA9;(won)&lt;/th&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xC5F4;&#xB7C9;(kcal)&lt;/th&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&lt;/thead&gt;
&#x9;&#x9;&lt;tbody&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,000&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,000&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;300&lt;/td&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,500&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,500&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;350&lt;/td&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&lt;/tbody&gt;
&#x9;&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //table-list --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection table-guide">
							<div class="subsection-head">demo</div>
							<div class="subsection-body">
								<!-- table -->
								<div class="t-display module-a style-a type-a align3">
									<table>
										<caption>솔루션 제공유형 테입블</caption>
										<colgroup>
											<col>
											<col>
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">구독형 서비스 </th>
												<th scope="col">구축형 서비스</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>ESG Assessment<br>(ESG 경영진단 솔루션)</td>
												<td class="check"></td>
												<td class="check"></td>
											</tr>
											<tr>
												<td class="t-bg">Supply Chain ESG Assessment<br>(공급망 ESG 진단 솔루션)</td>
												<td class="t-bg check"></td>
												<td class="t-bg check"></td>
											</tr>
											<tr>
												<td>ESG Data Hub<br>(ESG 데이터관리 솔루션)</td>
												<td class="check"></td>
												<td class="check"></td>
											</tr>
											<tr>
												<td class="t-bg">Net-Zero Management<br>(온실가스관리 솔루션)</td>
												<td class="t-bg check"></td>
												<td class="t-bg check"></td>
											</tr>
											<tr>
												<td>CDP AI Assistant<br>(CDP AI 지원 솔루션)</td>
												<td class="check"></td>
												<td class="ex"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>