@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

#wrap {
    .about-intro {
        .section {
            &.module-b {
                .section-wrap {
                    .section-body {
                        width: 100%;

                        @include mobile {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .about-reference {
        .local {
            .local-body {
                .content-body {
                    padding-bottom: 0;
                    .section {
                        &.reference-bg {
                            margin-top: 18rem;
                            position: relative;
                            padding-bottom: 18rem;
                            padding-top: 6rem;
                            @include mobile {
                                padding-top: 4rem;
                                margin-top: 12rem;
                            }

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                z-index: -1;
                                top: 0;
                                bottom: 0;
                                left: calc(50% - 50vw);
                                width: 100vw;
                                height: 100%;
                                background: rgb(249, 249, 249);
                            }
                        }
                    }
                }
            }
        }
    }
    .about-contact {
        .section {
            padding-top: 6rem;
            border-top: 0.1rem solid custom-color(neutral, 100);;
        }
        .submit-form {
            &.module-a {
              .form-list {
                margin-bottom: 2rem;
                .form-item {
                  .form-wrap {
                    .form-body {
                      .form-area {
                        .form {
                            .phone-01 {
                                width: 6rem;
                            }
                            .phone-02,
                            .phone-03 {
                                text-align: center;
                                width: 9rem;
                            }
                        }
                      }
                    }
                  }

                  &.detail {
                    .form-wrap {
                        align-items: flex-start;
                        .form-body {
                          .form-area {
                            .form {
                                &.textarea {
                                    width: 100%;
                                    height: 23.2rem;
                                }
                            }
                          }
                        }
                      }
                  }
                }
              }
            }
        }
        #emailType {
            &.select {
                .data-wrap {
                    .data-head {
                        .data-name {
                            // @include mobile {
                            //     flex: 1 1 calc(100% - 2.4rem - 1.6rem);
                            // }
                        }
                      #emailId {
                          width: 14rem;

                          @include mobile {
                            width: auto;
                            flex: 1 1 calc(100% - 8rem - 1.6rem);
                            //width: calc(100% - 8rem - 1.6rem);
                        }
                      }
                      .sign {
                          &.mail {
                          }
                      }
                    }
                    .data-body {
                      .option-list {
                      }
                    }
                  }
              &.show {
                .data-wrap {
                  .data-head {
                    #emailId {
                        color: transparent;
                        &::placeholder {
                            color: transparent;
                        }
                    }
                    .sign {
                        &.mail {
                            color: transparent;
                        }
                    }
                  }
                  .data-body {
                    .option-list {
                    }
                  }
                }
              }
            }
        }
        .email-enter {
            display: none;
        }
        .button-area {
            margin-top: 8rem;
        }
    }
}