
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

#wrap {
    .service-intro {
        .section {
            padding-top: 10rem;
            @include mobile {
                padding-top: 8.4rem;
            }
            &.module-b {
                .section-wrap {
                    gap: 32.2rem;

                    @include mobile {
                        gap: 4rem;
                    }

                    .section-body {
                        width: 66.25%;

                        @include mobile {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .esg-consulting {
        .section {
            padding-top: 10rem;
            @include mobile {
                padding-top: 8.4rem;
            }
            .panel-display {
                .panel-list {
                    .panel-item {
                        .panel-wrap {
                            .section {
                                //margin-top: 4rem;
                                @include mobile {
                                    padding-top: 6.2rem;
                                }

                                .section-head {
                                    + .section-body {
                                        margin-top: 4rem;
                                        @include mobile {
                                            margin-top: 2.4rem;
                                        }

                                        .post-list {
                                            .post-figure {
                                                
                                                
                                                @include mobile{
                                                    overflow: auto;
                                                    @include scroll-y;
                                                    @include scroll-x;
                                                }

                                                &.spec {
                                                    position: relative;
                                                    height: 0;
                                                    padding-bottom: 63%;
                                                    img {
                                                        position: absolute;
                                                        top: 0;
                                                        left: 50%;
                                                        transform: translateX(-50%);
                                                        object-fit: cover;
                                                        height: 100%;

                                                        @include mobile {
                                                            left: 0%;
                                                            transform: none;
                                                        }
                                                    }
                                                }
                                                &.height {
                                                    @include mobile {
                                                        max-height: 53rem;
                                                    }
                                                }

                                            }
                                            .table-info {
                                                display: flex;
                                                justify-content: right;
                                                gap: 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.last {
                            .section {
                                .section-head {
                                   + .section-body {
                                        margin-top: 6.4rem;
                                        @include mobile {
                                            margin-top: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            + .section {
                padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }
        }
    }

    .esg-chain {
        .section {
            padding-top: 10rem;
            @include mobile {
                padding-top: 8.4rem;
            }
            .panel-display {
                .panel-list {
                    .panel-item {
                        .panel-wrap {
                            .section {
                                // margin-top: 4rem;
                                // @include mobile {
                                //     margin-top: 2.4rem;
                                // }

                                .section-body {
                                    position: relative;
                                    .post-list {
                                        .post-item {
                                            .post-wrap {
                                                .post-figure {
                                                    //position: relative;
                                                    @include mobile{
                                                        overflow: auto;
                                                        @include scroll-y;
                                                        @include scroll-x;
                                                    }
                                                    
                                                    &.height {
                                                        @include mobile {
                                                            max-height: 53rem;
                                                        }
                                                    }
                                                    
                                                    &.step-bg {
                                                        position: relative;
                                                        left: 50%;
                                                        transform: translateX(-50%);
                                                        width: 100vw;
                                                        img {
                                                            @include mobile {
                                                                margin-left: 1.8rem;
                                                                margin-right: -1.8rem;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
            + .section {
                padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }
        }
    }

    .esg-net {
        .section {
            padding-top: 10rem;
            @include mobile {
                padding-top: 8.4rem;
            }
            .panel-display {
                .panel-list {
                    .panel-item {
                        .panel-wrap {
                            .section {
                                // margin-top: 4rem;
                                // @include mobile {
                                //     margin-top: 2.4rem;
                                // }

                                .section-body {
                                    .section-figure {
                                        @include mobile{
                                            overflow: auto;
                                            @include scroll-y;
                                            @include scroll-x;
                                        }
                                        
                                        &.height {
                                            @include mobile {
                                                max-height: 53rem;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                        &.last {
                            .section {
                                .section-head {
                                   + .section-body {
                                        margin-top: 6.4rem;
                                        @include mobile {
                                            margin-top: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            + .section {
                padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }
        }
    }

    .esg-data-hub {
        .section {
            padding-top: 10rem;
            @include mobile {
                padding-top: 8.4rem;
            }
            .panel-display {
                .panel-list {
                    .panel-item {
                        .panel-wrap {
                            .section {

                                @include mobile {
                                    padding-top: 6.2rem;
                                }

                                .section-body {
                                    .section-figure {
                                        @include mobile{
                                            overflow: auto;
                                            @include scroll-y;
                                            @include scroll-x;
                                        }
                                        
                                        &.height {
                                            @include mobile {
                                                max-height: 53rem;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
            + .section {
                padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }
        }
    }

    .esg-cdp {
        .section {
            padding-top: 10rem;
            @include mobile {
                padding-top: 8.4rem;
            }
            .panel-display {
                .panel-list {
                    .panel-item {
                        .panel-wrap {
                            .section {

                                @include mobile {
                                    padding-top: 6.2rem;
                                }

                                .section-body {
                                    .section-figure {
                                        @include mobile{
                                            overflow: auto;
                                            @include scroll-y;
                                            @include scroll-x;
                                        }
                                        
                                        &.height {
                                            @include mobile {
                                                max-height: 53rem;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
            + .section {
                padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }
        }
    }
}