
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;


#wrap {
    .solution-intro{
        .section{
            //bg
            &.esg-operation{
                position: relative;
                padding: 10rem 0 8.9rem;

                @include mobile {
                    padding: 6rem 0 7.9rem;
                    .section-figure {
                        overflow-y: auto;
                        img {
                            width: 91rem;
                        }
                    }
                }

                &::after{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100vw;
                    height: 100%;
                    content: '';
                    background: custom-color(etc, 070);
                    transform: translateX(-50%);
                    z-index: -1;

                }

                .section-body {
                    text-align: center;
                }
            }

            .section-body {
                text-align: center;
                &.solution-character {
                    padding: 6.6rem 8rem;
                    border-radius: 1.6rem;
                    background: custom-color(etc, 070);
                    @include mobile {
                        padding: 4rem 1.6rem;
                    }

                    >.data-list {
                        .data-item {
                            .bullet-list {
                                display: flex;
                                flex-wrap: wrap;
                                column-gap: 7rem;
                                width: 111rem;
                                .bullet-item {
                                    width: 47rem;
                                }

                                @include mobile {
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }

            + .section {
                padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }
        }
    }

    .solution-esg {
        .local-head {
            .local-figure {

            }
        }
        .local-body {
            .section {
                padding-top: 12rem;

                @include mobile {
                    padding-top: 8rem;
                }
                + .section {
                    padding-top: 18rem;

                    @include mobile {
                        padding-top: 12rem;
                    }
                }
            }
        }
    }

    .solution-scm {
        .local-body {
            .section {
                padding-top: 12rem;

                @include mobile {
                    padding-top: 12rem;
                }

                + .section {
                    padding-top: 18rem;

                    @include mobile {
                        padding-top: 12rem;
                    }

                }
            }
        }
    }

    .solution-data {
        .local-body {
            .section {
                padding-top: 12rem;
                @include mobile {
                    padding-top: 8rem;
                }
                + .section {
                    padding-top: 18rem;
                    @include mobile {
                        padding-top: 12rem;
                    }
                }
            }
        }
    }

    .solution-cdp {
        .local-body {
            .section {
                padding-top: 12rem;
                @include mobile {
                    padding-top: 8rem;
                }
                + .section {
                    padding-top: 18rem;
                    @include mobile {
                        padding-top: 12rem;
                    }
                }
            }
        }
    }

    .solution-netzero {
        .section {
            //padding-top: 12rem;

            @include mobile {
                padding-top: 8rem;
            }

            .section-wrap {
                .section-body {
                    .post-list {
                       // margin-top: 6.4rem;
                    }
                }
                .section-util {
                    .banner-list {
                        .banner-item {
                            .banner-wrap {

                                .banner-body {
                                    height: 100%;
                                    position: relative;
                                    margin-top: 6rem;

                                    &::after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: calc(50% - 50vw);
                                        width: 100vw;
                                        height: 32rem;
                                        background: url('../../assets/images/solution/net-zero/net-zero-bg.jpg') no-repeat center;
                                        background-size: cover;
                                        z-index: -1;

                                        @include mobile {
                                            background: url('../../assets/images/solution/net-zero/net-zero-bg-mo.jpg') no-repeat center;
                                            background-size: cover;
                                            height: 100%;
                                        }
                                    }
                                    .para {
                                        max-width: 144rem;
                                        height: 100%;
                                        padding: 11.2rem 0;
                                        display: flex;
                                        align-items: center;
                                        @include font(small, medium);
                                        color: custom-color(neutral, 000);

                                        @include mobile {
                                            padding: 5rem 0 17.7rem;
                                            @include font(small-3x, medium);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .section-figure {
                    img {
                        @include mobile {
                            width: 100%;
                            padding-bottom: 6rem;
                        }
                    }
                }


                &.big-image {
                    .section-wrap {
                        .section-figure {
                            margin-bottom: 10rem;
                        }
                    }
                }
            }

            + .section {
                //padding-top: 18rem;
                @include mobile {
                    padding-top: 12rem;
                }
            }

            &.process-bg {
                position: relative;
                padding-bottom: 18rem;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: calc(50% - 50vw);
                    width: 100vw;
                    height: 100%;
                    background: custom-color(etc, 070);
                }
            }



            &.story1 {
                .section-wrap {
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    @include mobile {
                        height: auto;
                    }

                    .section-body {
                        width: 100%;
                    }
                }
            }
        }
    }
}