
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;


#wrap {
    .solution-intro{

        .section{
            //bg
            &.esg-operation{
                position: relative;
                padding: 10rem 0 8.9rem;
    
                &::after{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100vw;
                    height: 100%;
                    content: '';
                    background: custom-color(etc, 060);
                    transform: translateX(-50%);
                    z-index: -1;
                    
                }

                .section-body {
                    text-align: center;
                }
            }

            .section-body {
                text-align: center;
                &.bg-gray {
                    padding: 6.6rem 8rem;
                    border-radius: 1.6rem;
                    background: custom-color(etc, 060);

                    >.data-display {
                        >.data-list {
                            display: flex;
                            gap: 7rem;
                            .data-item {
                                width: 47rem;
                            }
                        }
                    }
                }
            }
        }

        &.solution-esg {
            .local-head {
                .local-figure {
                    img {
                        width: 100%;
                        border-radius: 2.5rem;
                    }
                }
            }
        }
    }
}