
@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;


#wrap {
    .solution-intro{
        .section{
            //bg
            &.esg-operation{
                position: relative;
                padding: 10rem 0 8.9rem;
    
                &::after{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100vw;
                    height: 100%;
                    content: '';
                    background: custom-color(etc, 070);
                    transform: translateX(-50%);
                    z-index: -1;
                    
                }

                .section-body {
                    text-align: center;
                }
            }

            .section-body {
                text-align: center;
                &.bg-gray {
                    padding: 6.6rem 8rem;
                    border-radius: 1.6rem;
                    background: custom-color(etc, 070);

                    >.data-display {
                        >.data-list {
                            display: flex;
                            gap: 7rem;
                            .data-item {
                                width: 47rem;
                            }
                        }
                    }
                }
            }
        }

    }
    .solution-esg {
        .local-head {
            .local-figure {
                img {
                    width: 100%;
                    border-radius: 2.5rem;
                }
            }
        }
    }

    .solution-netzero {
        .section {
            .section-body {
                .post-list {
                    margin-top: 8rem;
                    &.feature {
                        position: relative;
                        height: 50.9rem;
                        
                        .post-item {
                            .post-wrap {
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;
                                gap: 2.4rem;
                                width: 132.2rem;
                                margin: 0 auto;
                                .post-info {
                                    .post-body {
                                        height: 0; 
                                        opacity: 0; 
                                        overflow: hidden; 
                                        transition: height 0.3s ease-out, opacity 0.3s ease-out; 
                                    }
                                }
                                .post-figure {
                                    position: absolute;
                                    top: 0;
                                    right: 6rem;
                                    width: 58.8rem;
                                    opacity: 0;
                                    border-radius: 1.6rem;
                                    overflow: hidden;
                                    transition: opacity 0.3s ease-out; 
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                            &.active {
                                .post-wrap {
                                    .post-info {
                                        background: custom-color(etc, 100);
                                        .post-head {
                                            .post-name {
                                                padding-left: 3rem;
                                                @include font(small-2x, bold);
                                                color: custom-color(primary, 080);
                                            
                                                &.network, &.clock, &.device, &.certi {
                                                    position: relative;
                                            
                                                    &::after {
                                                        content: '';
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 0;
                                                        width: 2.2rem;
                                                        height: 2.1rem;
                                                        background: no-repeat center;
                                                        transform: translateY(-50%);
                                                    }
                                                }
                                            
                                                &.network::after {
                                                    background-image: icon('network', custom-color(primary, 080));
                                                }
                                            
                                                &.clock::after {
                                                    background-image: icon('clock', custom-color(primary, 080));
                                                }
                                            
                                                &.device::after {
                                                    background-image: icon('device', custom-color(primary, 080));
                                                }
                                            
                                                &.certi::after {
                                                    background-image: icon('certi', custom-color(primary, 080));
                                                }
                                            }
                                            
                                            &::after {
                                                background-image: icon('plus', custom-color(system, 080));
                                            }
                                        }
                                        .post-body {
                                            height: auto; 
                                            opacity: 1; 
                                        }
                                    }
                                    .post-figure {
                                       opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .section-util {
                width: 100vw;
                height: 32rem;
                margin-left: -6rem;
                margin-right: -6rem;
                margin-top: 6.4rem;
                background: url('../../assets/images/solution/net-zero-bg.jpg') no-repeat center;
                background-size: cover;

                .util-info {
                    max-width: 144rem;
                    height: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    @include font(small, medium);
                    color: custom-color(system, 060)
                }
            }

            &.process-bg {
                position: relative;
                padding-bottom: 10rem;
                
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: calc(50% - 50vw);
                    width: 100vw;
                    height: calc(100% + 2.2rem);
                    background: custom-color(etc, 070);
                }
            }
        }
    }
}