@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

#wrap {
    .terms {
        .local {
            .local-head {
                .local-info {
                    .data-list {
                        .data-item {
                            &:nth-child(2) {
                                .item-text {
                                    color: custom-color(neutral, 080);
                                }
                            }
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .content-body {
            padding-top: 0 !important;
            .section {
                &.module-a {
                    .section-wrap {
                        .section-head{
                            + .section-body {
                                margin-top: 3.2rem;
                                @include mobile {
                                    margin-top: 2.4rem;
                                }
                                .numbering {
                                    .data-item {
                                        + .data-item {
                                            margin-top: 2rem;
                                            @include mobile {
                                                margin-top: 1rem;
                                            }
                                        }
                                    }
                                    &.underline {
                                        .data-item {
                                            .data-text {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                                .order-list {
                                    .order-item {
                                        + .order-item {
                                            margin-top: 1rem;
                                            @include mobile {
                                                margin-top: 0.4rem;
                                            }
                                        }
                                    }
                                }
                                .para {
                                    @include font(small-2x, regular);
                                    @include mobile {
                                        @include font(small-4x, regular);
                                    }
                                }
                            }
                            .section-summary {
                                @include font(small-2x, medium);
                                @include mobile {
                                    @include font(small-4x, medium);
                                }
                                &.under {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    + .section {
                       &.module-a {
                            @include mobile {
                                padding-top: 8rem;
                            }
                       }
                    }
                }
    
                &.module-c {
                    padding-top: 8rem;
                    @include mobile {
                        padding-top: 4rem;
                    }
                    .section-head {
                        display: flex;
                        justify-content: flex-start;
                        position: relative;
                        z-index: 100;
                        .dropdown {
                            width: 28.4rem;
                        }
                        + .section-body {
                            .panel-list {
                                .panel {
                                    position: relative;
                                    display: none;
                                    z-index: 1;
                                    &.active {
                                        display: block;
                                    }
                                    ~ .dropdown .dropdown-button .arrow {
                                        transform: translateY(-50%) rotate(180deg);
                                    }
                                    .section {
                                        + .section {
                                            padding-top: 18rem;
                                            @include mobile {
                                                padding-top: 12rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .module-a {
                        .section-wrap {
                            .section-head {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}