<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
}) %>
<script src="./../../assets/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        dropdownSelect()
    });
</script>
</head>
<body>
<div id="wrap" class="wrap">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main id="main" class="page about-news">
        <div class="page-body">
            <div class="local module-b">
                <div class="local-head">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'ABOUT US',
                        depth2: 'News & Article',
                        depth3: null,
                        casetype: 'style-b'
                    }) %>
                    <div class="local-wrap">
                        <div class="local-subject">
                            <h2 class="local-name">
                                News & Article
                            </h2>
                            <p class="local-summary">ESG 생태계를 분석하여 중요 기관을 선별하여, ESG 관련 주요 소식을 전달합니다.
                            </p>
                        </div>
                        <div class="local-figure">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="../../assets/images/about/news/bg-local-head-news-mo.jpg">
                                <img src="../../assets/images/about/news/bg-local-head-news.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-body">
                        <div class="section module-b">
                            <div class="section-body">
                                <div class="swiper-display module-a">
                                    <div class="swiper swiper-list title">
                                        <div class="swiper-wrapper">
                                            <a href="#" class="swiper-slide swiper-item">
                                                <div class="swiper-wrap">
                                                    <div class="swiper-head">
                                                        <em class="swiper-cation">보도자료</em>
                                                        <h3 class="swiper-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도 CREA 보고서 석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도 CREA 보고서</h3>
                                                    </div>
                                                    <div class="swiper-body">
                                                        <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                    </div>
                                                    <div class="swiper-date">2024.10.08</div>
                                                </div>
                                            </a>
                                            <a href="#" class="swiper-slide swiper-item">
                                                <div class="swiper-wrap">
                                                    <div class="swiper-head">
                                                        <em class="swiper-cation">News</em>
                                                        <h3 class="swiper-subject">전 세계 해운업, 탄소세 도입 가시화 IMO, 2025년 최종 채택 예정 전 세계 해운업, 탄소세 도입 가시화... IMO, 2025년 최종 채택 예정</h3>
                                                    </div>
                                                    <div class="swiper-body">
                                                        <p class="para">국제해사기구(IMO)가 전 세계 해운업의 온실가스 배출에 대한 가격을 책정하는 방안을 두고 막바지 논의에 들어갔다. 4일(현지시각) 블룸버그는 2025년에는 해운업계 탄소 배출에 대한 글로벌 세금 부과 메커니즘이 확정될 예정이라고 보도했다. IMO는 지난 9월 30일부터 10월 4일(현지시각)까지 런던에서 IMO 해양환경보호위원회(MEPC) 회의를 개최, 이와 같은 논의를 진행했다. </p>
                                                    </div>
                                                    <div class="swiper-date">2024.10.08</div>
                                                </div>
                                            </a>
                                            <a href="#" class="swiper-slide swiper-item">
                                                <div class="swiper-wrap">
                                                    <div class="swiper-head">
                                                        <em class="swiper-cation">보도자료</em>
                                                        <h3 class="swiper-subject">초당파 국회 ESG 포럼 발족…10대 ESG정책과제 제시 초당파 국회 ESG 포럼 발족…10대 ESG정책과제 제시 초당파 국회 ESG 포럼 발족…10대 ESG정책과제 제시 초당파 국회 ESG 포럼 발족…10대 ESG정책과제 제시</h3>
                                                    </div>
                                                    <div class="swiper-body">
                                                        <p class="para">국회에서 당을 넘어 ESG를 논의하는 ‘국회ESG포럼’이 발족했다. 더불어민주당 민병덕 의원실과 국민의힘 정희용 의원실은 10월 2일 오후 2시 국회도서관 강당에서 여야 국회의원들과 기업, 금융기관, ESG 전문기관, 시민단체 등이 참석한 가운데 ‘국회ESG포럼’ 발족식을 개최하고, ESG 선순환 생</p>
                                                    </div>
                                                    <div class="swiper-date">2024.10.08</div>
                                                </div>
                                            </a>
                                            <a href="#" class="swiper-slide swiper-item">
                                                <div class="swiper-wrap">
                                                    <div class="swiper-head">
                                                        <em class="swiper-cation">News</em>
                                                        <h3 class="swiper-subject">MS, 공급망 탈탄소화 전담팀 신설...삼성전자, SK하이닉스에 영향 있나?</h3>
                                                    </div>
                                                    <div class="swiper-body">
                                                        <p class="para">마이크로소프트(MS)가 공급망 내 탄소 관리를 위한 전담 조직을 신설했다. 4일(현지시각) 지속가능성 미디어 ESG투데이는 MS가 클라우드, 인공지능(AI), 데이터센터 운영 등으로 급증하고 있는 배출량 감축을 위해 공급망 탈탄소화 팀(Scope 3 Decarbonization)을 구성했다고 보도했다.</p>
                                                    </div>
                                                    <div class="swiper-date">2024.10.08</div>
                                                </div>
                                            </a>
                                        </div>
	                                    <div class="swiper-button-prev btn icon style-b color-b arrow-left1"></div>
                                        <div class="swiper-button-next btn icon style-b color-b arrow-right1"></div>
                                    </div>
                                    <div class="swiper swiper-list thumbnail">
                                        <div class="swiper-wrapper">
                                            <a href="#" class="swiper-slide swiper-item">
                                                <img src="../../assets/images/about/news/notice-01.jpg" alt="">
                                            </a>
                                            <a href="#" class="swiper-slide swiper-item">
                                                <img src="../../assets/images/about/news/notice-02.jpg" alt="">
                                            </a>
                                            <a href="#" class="swiper-slide swiper-item">
                                                <img src="../../assets/images/about/news/notice-03.jpg" alt="">
                                            </a>
                                            <a href="#" class="swiper-slide swiper-item">
                                                <img src="../../assets/images/about/news/notice-04.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section module-b">
                            <div class="section-body">
                                <div class="submit-form module-b type-c">
                                    <div class="form-list">
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <div class="form dropdown module-a select">
                                                            <button class="btn">전체<span class="arrow"></span></button>
                                                            <div class="dropdown-menu">
                                                                <div class="dropdown-item selected">전체</div>
                                                                <div class="dropdown-item">공시기관</div>
                                                                <div class="dropdown-item">평가기관</div>
                                                                <div class="dropdown-item">정부/규제기관</div>
                                                                <div class="dropdown-item">이니셔티브</div>
                                                                <div class="dropdown-item">투자자</div>
                                                                <div class="dropdown-item">Media</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-wrap">
                                                <div class="form-body">
                                                    <div class="form-area">
                                                        <span class="form textfield module-b">
                                                            <input type="text" class="form-elem" id="postsSearchKeyword" autocomplete="off" placeholder="검색어를 입력하세요.">
                                                        </span>
                                                        <button class="btn icon style-b search"><span class="btn-text blind">검색</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-list module-g">
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-01.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-02.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-03.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-04.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-01.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-02.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-03.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-04.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-01.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="post-item">
                                        <div class="post-wrap">
                                            <div class="post-figure">
                                                <img src="../../assets/images/about/news/notice-02.jpg" alt="">
                                            </div>
                                            <div class="post-info">
                                                <div class="post-head">
                                                    <em class="post-caption">보도자료</em>
                                                    <h3 class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</h3>
                                                </div>
                                                <div class="post-body">
                                                    <p class="para">중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다. 30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.</p>
                                                </div>
                                                <div class="post-date">2024.10.08</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="button-area module-a type-c">
                                    <button id="moreBtn" class="btn module-a style-a color-a mo-only"><span class="btn-text">더보기</span></button>
                                </div>
                                <div class="pagination module-a style-a pc-only">
                                    <span class="page-util">
                                        <span class="util-item">
                                            <a class="btn icon style-c arrow-left3" href="#"><span class="btn-text blind">이전</span></a>
                                        </span>
                                    </span>
                                    <span class="page-list">
                                        <a class="page-item current" href="#">1</a>
                                        <a class="page-item" href="#">2</a>
                                        <a class="page-item" href="#">3</a>
                                        <a class="page-item" href="#">4</a>
                                        <a class="page-item" href="#">5</a>
                                        <a class="page-item" href="#">6</a>
                                        <a class="page-item" href="#">7</a>
                                        <a class="page-item" href="#">8</a>
                                        <a class="page-item" href="#">9</a>
                                        <a class="page-item" href="#">10</a>
                                    </span>
                                    <span class="page-util">
                                        <span class="util-item">
                                            <a class="btn icon style-c arrow-right3" href="#"><span class="btn-text blind">다음</span></a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
<script>
    $(document).ready(function(){
        var swiperTopNum = $('.swiper-list.title');
	    var swiperSubNum = $('.swiper-list.thumbnail');

        var galleryTop = new Swiper('.swiper-list.title', {
		    loop: true,
            spaceBetween: 20,
            speed: 700,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
        });

        var galleryThumbs = new Swiper('.swiper-list.thumbnail', {
		    loop: true,
            speed: 700,
        });

        galleryTop.controller.control = galleryThumbs;
        galleryThumbs.controller.control = galleryTop;

        function applyMoreButtonLogic() {
            let itemsToShow = 5
            let itemsIncrement = 5;

            $('#moreBtn').show();
            $('.post-item').removeClass('show');
            $('.post-item').slice(0, itemsToShow).addClass('show');

            $('#moreBtn').off('click').on('click', function () {
                let hiddenItems = $('.post-item:hidden');
                hiddenItems.slice(0, itemsIncrement).addClass('show');

                if ($('.post-item:hidden').length === 0) {
                    $('#moreBtn').hide();
                }
            });
        }

        function checkScreenSize() {
            if (window.matchMedia("(max-width: 1024px)").matches) {
                applyMoreButtonLogic();
            } else {
                $('.post-item').addClass('show');
                $('#moreBtn').hide();
            }
        }

        checkScreenSize();
        $(window).resize(checkScreenSize);
    });
</script>
</body>
</html>



