<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        mainVisual();
        Tab();
    });
</script>
</head>
<body>
<div id="wrap" class="wrap">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <div id="main" class="service service-intro">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design1">
                    <div class="local-info">
                        <ul class="data-list breadcrumb design1 style2">
                            <li class="data-item">
                                <span class="item-text"></span>
                            </li>
                            <li class="data-item">
                                <span class="item-text">SERVICE</span>
                            </li>
                            <li class="data-item">
                                <span class="item-text">SERVICE 소개</span>
                            </li>
                        </ul>
                    </div>
                    <div class="local-subject">
                        <h2 class="local-name">
                            기업 ESG 경영 수준 향상을 위한<br>ESG 진단 및 구축 컨설팅 서비스
                        </h2>
                        <p class="local-summary">최신 ESG 규제 요건과 기업 환경에 최적화된 ESG 컨설팅 서비스를 고객의 Needs 에 맞추어 다양한 형태로 제공합니다.</p>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/service/bg-local-head-service.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="section design1 style1 type1">
                <div class="section-wrap">
                    <div class="section-head">
                        <div class="section-subject">
                            <h4 class="section-name">ESG 서비스의 특장점</h4>
                        </div>
                    </div>
                    <div class="section-body">
                        <div class="data-display">
                            <div class="data-list">
                                <div class="data-item">
                                    <div class="data-body">
                                        <div class="bullet-display design1 style1 type1">
                                            <ul class="data-list">
                                                <li class="data-item">Global 표준 방법론을 기반으로 개발된 고유 ESG 방법론 보유 (다수 기업과 기관의 ESG 표준평가 방법론으로 채택)</li>
                                                <li class="data-item">과학적 데이터 분석 및 Peer 그룹 데이터 비교를 통한 체계적이고 객관적인 진단 수행</li>
                                                <li class="data-item">ESG 경영 수준 개선을 위한 기업 중심의 컨설팅 서비스 제공</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

