<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'about',
	pageJavascript: ''
}) %>

</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page about-reference">
        <div class="main-inner">
            <div class="local module-c">
                <div class="local-head">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'ABOUT US',
                        depth2: 'Reference ',
                        depth3: null,
                        casetype: 'style-b'
                    }) %>
                    <div class="local-wrap">
                        <div class="local-subject">
                            <h2 class="local-name">
                                Reference 
                            </h2>
                        </div>
                        <div class="local-figure">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="../../assets/images/about/reference/bg-local-head-reference-mo.jpg">
                                <img src="../../assets/images/about/reference/bg-local-head-reference.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                </div>


                <div class="local-body">
                    <div class="content-body">
                        <div class="section module-a story-03">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">ESG 진단 및 컨설팅 사업실적</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list module-b style-b type-b">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <div class="board-icon consulting"></div>
                                                    <div class="board-name">ESG 컨설팅</div>
                                                </div>
                                                <div class="board-body">
                                                    <p class="board-info">673<span class="board-text">건</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <div class="board-icon diagnosis"></div>
                                                    <div class="board-name">ESG 공급망진단</div>
                                                </div>
                                                <div class="board-body">
                                                    <p class="board-info">5,786<span class="board-text">회</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <div class="board-icon member"></div>
                                                    <div class="board-name">진단 원청사</div>
                                                </div>
                                                <div class="board-body">
                                                    <p class="board-info">57<span class="board-text">개사</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <div class="board-icon building"></div>
                                                    <div class="board-name">진단 산업군</div>
                                                </div>
                                                <div class="board-body">
                                                    <p class="board-info">97<span class="board-text">개</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section module-a reference-bg">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">주요 고객사</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list module-f">
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-01.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-02.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-03.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-04.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-05.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-06.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-07.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-08.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-09.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-10.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-11.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-12.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-13.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-14.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-15.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-16.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-17.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-18.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-19.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-20.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-21.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-22.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-23.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-24.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-25.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-26.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-27.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-28.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-29.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-30.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-31.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-32.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-33.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-34.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-35.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-36.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-37.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-38.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-39.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-40.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-41.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-42.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-43.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-44.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-45.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-46.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-47.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-48.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-49.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-50.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-51.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-52.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-53.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-54.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-55.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-56.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-57.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-58.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-59.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-60.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-61.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-62.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-63.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-64.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-65.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-66.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-67.jpg" alt=""></div>
                                        <div class="post-item"><img src="../../assets/images/about/reference/logo-68.jpg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>
       
            

