<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'service',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        tab();
    });
</script>
</head>
<body>
<div id="wrap" class="page">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main class="page esg-net">
        <div class="main-inner">
            <div class="local module-a">
                <div class="local-body">
                    <div class="content-body">
                        <div class="post-display">
                            <div class="post-item">
                                <div class="post-wrap">
                                    <div class="post-head">
                                        <div class="post-info">
                                            <ul class="info-list">
                                                <li class="info-item">보도자료</li>
                                                <li class="info-item">2024.10.08</li>
                                                <li class="info-item link2"></li>
                                            </ul>
                                        </div>
                                        <div class="post-subject">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</div>
                                    </div>
                                    <div class="post-body">
                                        <div class="post-inner">
                                            <div class="post-editer">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/about/news/editer-img.jpg" alt="">
                                                </div>
                                                <div class="post-text">
                                                    중국의 석탄 생산을 주도하고 있는 내몽골이 대규모 청정에너지 기지 개발을 통해 중국의 전력 탈탄소화 전략에서 중요한 역할을 할 전망이라는 보고서가 나왔다.<br><br>30일(현지 시각) 핀란드의 대기환경연구단체 에너지·청정대기연구센터(CREA)와 홍콩의 워터락 에너지 이코노믹스(WaterRock Energy Economics)이 발표한 보고서 ‘사례 연구: 중국 내몽골에 대규모 청정에너지 기지 구축(Case study: Large-scale clean energy bases in Inner Mongolia in China)’에 따르면, 내몽골은 풍력과 태양광 에너지의 풍부한 잠재력을 보유하고 있으며, 청정에너지를 중국 전역에 공급하는 핵심 지역으로 부상하고 있다.<br><br>
                                                    내몽골, 지구상 어느 나라보다 많은 석탄을 생산<br><br>중국 내몽골 지역은 지구상 어느 나라보다도 많은 석탄을 생산한다. / 블룸버그<br><br>블룸버그에 따르면, 내몽골은 지구상 어느 나라보다도 많은 석탄을 생산한다. 보고서는 “내몽골에 대규모 청정에너지 기지를 확충하면 현지 전력 소비 증가를 충족하고 청정에너지 수출 비중을 높일 수 있다"고 말했다.<br><br>내몽골은 약 6테라와트(TW) 이상의 풍력 및 태양광 발전 잠재력을 지닌 지역으로, 북부, 중부, 동부 중국의 주요 수요 중심지와 가까운 위치에 있다. 6월 말 기준, 내몽골은 64기가와트(GW) 규모의 풍력 발전 용량과 24GW 규모의 태양광 발전 용량을 보유하고 있으며, 100GW이상의 풍력 발전과 50 GW이상의 태양광 발전이 추가 건설 중에 있다.<br><br>그러나 보고서는 이러한 잠재력을 극대화하기 위해 송전 인프라와 발전 설비 간의 조정이 필요하다고 지적했다. 내몽골은 2007년부터 2015년 사이에 대규모 풍력 에너지 기지를 건설하기 시작했으나, 초기 몇 년 동안 높은 출력제한률(curtailment rates)을 경험했는데, 이는 청정에너지를 다른 지역으로 송전할 수 있는 인프라가 미비했기 때문이다. 이를 해결하기 위해 중국은 초고압(UHV) 송전선을 도입하여 내륙 지역의 청정에너지를 수요가 높은 지역으로 송전하는 데 집중해왔다.<br><br>태양광 8GW, 풍력 4GW, 석탄 4GW 전력 생산 기지 4곳 개발 중<br><br>내몽골의 발전 설치 용량 및 최대 부하 / CREA, 워터락현재 내몽골은 다섯 개의 UHV 송전선을 운영하고 있지만, 운영기간이 5년이 넘은 지금도 활용률이 여전히 40% 미만에 머물러 있다. 보고서는 원인으로 UHV 라인 건설, 대규모 청정에너지 프로젝트, 지역 전력망 개선 프로젝트, 전기 수입 지역의 잠재적 수요의 연계가 부족하고, 지방 간 거래 계약이 여전히 경직돼 있기 때문이라고 분석했다.<br><br>보고서는 UHV 송전선을 최대한 활용하기 위해 청정 에너지 기지의 개발을 가속화해야 한다고 권고했다. 해안 지역 전력 수요 중심지 입장에서 내몽골로부터의 청정에너지 수입이 다른 내륙 지방으로부터의 수입이나 현지 생산보다 경쟁력이 있기 때문에, 전력 시장 자유화와 지역 간 전력 거래가 증가가 더욱 큰 확장을 이끌 수 있다고 분석했다.<br><br>내몽골은 4곳의 '사거황(沙戈荒, 사막, 고비사막, 황량한 사막의 준말)' 청정에너지 기지를 건설할 계획이다. 각 기지는 8GW의 태양광, 4GW의 풍력, 4GW의 석탄 발전 설비로 구성되며, 이 중 65-70%의 전력은 수요 중심지로 송출될 예정이다.<br><br>다만, 4GW 규모의 석탄 발전 설비는 실제로 필요한지에 대한 추가적인 기술적, 경제적 검토가 필요하다고 지적했다. 아울러 내몽골이 생산하는 청정에너지를 활용하여 수소와 같은 녹색 연료를 생산하는 것이 장기적으로 비전이 될 수 있다고 제시했다.
                                                </div>
                                            </div>
                                            <div class="post-link">
                                                <div class="link-list">
                                                    <div class="link-item">
                                                        <div class="link-wrap">
                                                            <a href="">
                                                                <span class="link-icon">링크</span>
                                                                <span class="link-title">석탄 중심지 중국 내몽골, 대규모 청정에너지 기지로 에너지 전환 주도…CREA 보고서</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-util">
                                        <ul class="data-list page-det">
                                            <li class="data-item prev">
                                                <div class="data-wrap">
                                                    <span class="data-head"><span class="data-name">다음글</span></span>
                                                    <span class="data-body">
                                                        <span><a href="">국민연금, ESG평가 기준 강화...증권사 선정에 영향 있나</a></span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="data-item next">
                                                <div class="data-wrap">
                                                    <span class="data-head"><span class="data-name">이전글</span></span>
                                                    <span class="data-body">
                                                        <span><a href="">전 세계 해운업, 탄소세 도입 가시화... IMO, 2025년 최종 채택 예정</a></span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>



